<div class="btn-toggle {{unless fullscreen 'btn-toggle-lg'}}">
  {{#each sortedBrowsers as |browser|}}
    <div
      class="btn-toggle-item browser-switcher {{if (eq browser.id activeBrowser.id) "is-selected"}} {{concat "data-test-browser-switcher-" browser.familySlug}}"
      {{action updateActiveBrowser browser}}
      role="button"
      data-test-browser-switcher-button
    >
      {{inline-svg (concat browser.familySlug "-browser-icon") class="opacity-25"}}
      {{#if build}}
        <BrowserSwitcherBadge
          @unnapprovedSnapshotCount={{get (get unapprovedSnapshotsWithDiffForBrowsers browser.id) "length"}}
          @isActive={{eq browser.id activeBrowser.id}}
        />
      {{/if}}
    </div>
  {{/each}}
</div>
