<header class="build-toolbar fixed pin-t w-screen z-3 flex justify-between items-center px-2 bg-gray-000 border-b" data-test-build-toolbar>
  <div class="flex items-center">
    {{#link-to "index"}}
      <figure class="svg-container mr-2">
        {{inline-svg "percy-logo-on-light"}}
      </figure>
    {{/link-to}}

    <div class="flex items-center mr-1 hide-on-mobile">
      <div class="text-lg font-semibold">
        {{#link-to "organization" organization class="inline-block link-purple truncate truncate-target hide-on-tablet"}}{{organization.name}}{{/link-to}}
          <span class="font-semibold text-gray-700 mx-px hide-on-tablet">/</span>
          {{#link-to "organization.project" organization.slug project class="inline-block link-purple truncate truncate-target" data-test-build-toolbar-project-link=true}}{{project.name}}{{/link-to}}
      </div>
      {{#if organization.isSponsored}}
        {{fa-icon data-test-build-public-project "globe" class="text-blue-500 ml-sm"}}
      {{/if}}
    </div>
  </div>

  {{notice-bar organization=organization shouldShowNewProjectPrompt=project.isDemo}}

  <div class="flex items-center">
    {{#if (and build.isFinished (not isSnapshotsLoading))}}
      {{#if build.hasMultipleBrowsers}}
        <div class="mr-1">
          {{browser-switcher
            browsers=build.browsers
            activeBrowser=activeBrowser
            updateActiveBrowser=(action "switchBrowsers")
            build=build
          }}
        </div>
      {{/if}}

      <button type="button" class="btn btn-square hint--bottom hint--rounded hint--bounce" aria-label="Toggle all diffs (d)" {{action 'toggleOverlay'}} data-test-toggle-diffs-button>
        <figure class="svg-container">
          {{#if allDiffsShown}}
            {{inline-svg "diff-toggle-on"}}
          {{else}}
            {{inline-svg "diff-toggle-off"}}
          {{/if}}
        </figure>
      </button>
    {{/if}}

    {{#if build.isFinished}}
      <div class="{{if (not isBuildApprovable) "hint--left hint--rounded hint--bounce"}}" aria-label="{{if (not isBuildApprovable) "You can't approve this build because you are not a member of this build's organization or are not logged in"}}">
        {{demo-tooltip
          build=build
          key="five"
          title="Approving a Percy build"
          message="After all snapshots have been approved, your pull request will show the visual review has been approved"
        }}
        {{build-approval-button
          build=build
          createReview=createReview
          approvableSnapshots=approvableSnapshots
          isDisabled=(not isBuildApprovable)
        }}
      </div>
    {{/if}}
  </div>
</header>
