<BasicDropdown
  @horizontalPosition="auto-right"
  @preventScroll={{true}}
  @verticalPosition="below"
  as |dropdown|
>

  <dropdown.Trigger>
    <button data-test-build-info-dropdown-toggle type="button" class="flex center btn-icon-only" aria-label="View detailed information about this build">
      <ThemeSvg @svg="build-info-icon" />
    </button>
  </dropdown.Trigger>

  <dropdown.Content class="BuildInfoDropdown-modal">
    <BuildStateBadge @build={{this.build}} />

    <h3 class="mb-2 text-2xl font-bold">{{this.build.buildTitle}}</h3>
    <table class="w-full">
      <tbody>
        <tr>
          <td>Created</td>
          <td><BuildStarted @build={{this.build}} /></td>
        </tr>
        <tr>
          <td>Build time</td>
          <td><BuildDuration @build={{this.build}} /></td>
        </tr>
        <tr>
          <td>Baseline build</td>
          <td><BuildComparisonInfo @build={{this.build}} @onLinkClick={{action dropdown.actions.close}} /></td>
        </tr>

        {{#if this.build.isFinished}}
          <tr>
            <td>Total screenshots:</td>
            <td>{{this.build.totalComparisons}} across all browsers and widths</td>
          </tr>
        {{/if}}

        {{#if this.build.isPullRequestPresent}}
          <tr>
            <td data-test-pull-request-label>{{this.build.pullRequestLabel}}</td>
            <td>
              {{#if this.build.pullRequestTitle}}
                <a href="{{this.build.pullRequestHtmlUrl}}">{{this.build.pullRequestTitle}}</a>
              {{/if}}
              {{#if this.build.pullRequestNumber}}
                <span class="text-secondary">
                  {{#if this.build.pullRequestTitle}}
                    #{{this.build.pullRequestNumber}}
                  {{else}}
                    <a href="{{this.build.pullRequestHtmlUrl}}">#{{this.build.pullRequestNumber}}</a>
                  {{/if}}
                </span>
              {{/if}}
            </td>
          </tr>
        {{/if}}

        {{#if this.build.userAgent}}
          <tr class="border-0">
            <td colspan="2">Environment</td>
          </tr>
          <tr class="BuildInfoDropdown-fullWidthValue">
            <td colspan="2"><pre>{{this.build.userAgent}}</pre></td>
          </tr>
        {{/if}}
      </tbody>
    </table>

    {{#if this.build.commit}}
      <h4 class="mb-2 mt-4 font-bold">Head commit</h4>
      <CommitTable @build={{this.build}} @commit={{this.build.commit}} />
    {{/if}}

    {{#if this.build.baseBuild.commit}}
      <h4 class="mb-2 mt-4 font-bold">Base commit</h4>
      <CommitTable @build={{this.build.baseBuild}} @commit={{this.build.baseBuild.commit}} />
    {{/if}}

    {{#if (is-admin)}}
      <div data-test-build-info-admin-details>
        <h4 class="mb-2 mt-4 font-bold">Admin Info</h4>
        <table>
          <tbody>
            {{#each this.build.browsers as |browser|}}
              <tr>
                <td>{{browser.familyName}} Version</td>
                <td><pre>{{browser.version}}</pre></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    {{/if}}
  </dropdown.Content>
</BasicDropdown>
