{{build-toolbar
  build=build
  project=build.project
  organization=build.project.organization
  allDiffsShown=allDiffsShown
  toggleAllDiffs=(action "toggleAllDiffs")
  createReview=createReview
  approvableSnapshots=allApprovableSnapshots
  activeBrowser=activeBrowser
  updateActiveBrowser=(action 'updateActiveBrowser')
  isSnapshotsLoading=isSnapshotsLoading
  isBuildApprovable=isBuildApprovable
}}

<div class="BuildContainer-body w-full">
  {{build-header
    build=build
    isBuildApprovable=isBuildApprovable
  }}

  {{#if (and build.isFinished build.partial)}}
    <div class="public-project-notice p-2 border border-gray-100 flex items-center font-semibold">
      Partial build
    </div>
  {{/if}}

  {{#if (and (variation 'show-removed-snapshots') build.isFinished (not build.partial))}}
    <RemovedSnapshots @build={{build}} />
  {{/if}}

  {{#if isSnapshotsLoading}}
    {{loading-page}}
  {{else if build.isFinished}}
    {{snapshot-list
      snapshotsChanged=snapshotsChanged
      build=build
      allDiffsShown=allDiffsShown
      toggleAllDiffs=(action "toggleAllDiffs")
      isKeyboardNavEnabled=(not isHidingBuildContainer)
      showSnapshotFullModalTriggered=(action 'showSnapshotFullModalTriggered')
      createReview=createReview
      activeBrowser=activeBrowser
      updateActiveBrowser=(action 'updateActiveBrowser')
      isUnchangedSnapshotsVisible=isUnchangedSnapshotsVisible
      toggleUnchangedSnapshotsVisible=(action "toggleUnchangedSnapshotsVisible")
      snapshotsUnchanged=snapshotsUnchanged
      isUnchangedSnapshotsLoading=isUnchangedSnapshotsLoading
      isBuildApprovable=isBuildApprovable
      createCommentThread=createCommentThread
      closeCommentThread=closeCommentThread
      createComment=createComment
    }}
  {{/if}}
</div>
