<BuildToolbar
  @build={{build}}
  @project={{build.project}}
  @organization={{build.project.organization}}
  @allDiffsShown={{allDiffsShown}}
  @toggleAllDiffs={{action "toggleAllDiffs"}}
  @createReview={{createReview}}
  @approvableSnapshots={{allApprovableSnapshots}}
  @activeBrowser={{activeBrowser}}
  @updateActiveBrowser={{action "updateActiveBrowser"}}
  @isSnapshotsLoading={{isSnapshotsLoading}}
  @isBuildApprovable={{isBuildApprovable}}
/>

<div class="BuildContainer-body w-full">
  <BuildHeader
    @build={{build}}
    @isBuildApprovable={{isBuildApprovable}}
  />

  {{#if (and build.isFinished build.partial)}}
    <div class="public-project-notice p-2 border flex items-center font-semibold">
      Partial build
    </div>
  {{/if}}

  {{#if (and build.isFinished (not build.partial))}}
    <RemovedSnapshots @build={{build}} />
  {{/if}}

  {{#if isSnapshotsLoading}}
    <LoadingPage />
  {{else if build.isFinished}}
    <SnapshotList
      @snapshotsChanged={{snapshotsChanged}}
      @build={{build}}
      @allDiffsShown={{allDiffsShown}}
      @toggleAllDiffs={{action "toggleAllDiffs"}}
      @isKeyboardNavEnabled={{not isHidingBuildContainer}}
      @createReview={{createReview}}
      @activeBrowser={{activeBrowser}}
      @updateActiveBrowser={{action "updateActiveBrowser"}}
      @isUnchangedSnapshotsVisible={{isUnchangedSnapshotsVisible}}
      @toggleUnchangedSnapshotsVisible={{action "toggleUnchangedSnapshotsVisible"}}
      @snapshotsUnchanged={{snapshotsUnchanged}}
      @isUnchangedSnapshotsLoading={{isUnchangedSnapshotsLoading}}
      @isBuildApprovable={{isBuildApprovable}}
      @createCommentThread={{createCommentThread}}
      @closeCommentThread={{closeCommentThread}}
      @createComment={{createComment}}
    />
  {{/if}}
</div>
