<div class="grid col-auto gap-1 items-center">
  <ComparisonIcon @build={{build}} />
  <div class="text-xl md:text-2xl leading-none">
    {{#if build.isPending}}
      Receiving build
    {{else if build.isProcessing}}
      Processing visual differences
    {{else if build.isFinished}}
      {{#if build.isApproved}}
        {{#if (eq build.reviewStateReason 'all_snapshots_approved')}}
          All changes approved
        {{else if (eq build.reviewStateReason 'all_snapshots_approved_previously')}}
          All changes approved
        {{else if (eq build.reviewStateReason 'auto_approved_branch')}}
          All changes approved automatically on this branch
        {{else if (eq build.reviewStateReason 'no_diffs')}}
          No changes to review
        {{/if}}
      {{else if build.isRejected}}
        {{pluralize build.totalSnapshotsRequestingChanges "requested change"}}
      {{else}}
        <span class="font-semibold">{{build.totalSnapshotsUnreviewed}}</span> {{pluralize build.totalSnapshotsUnreviewed "unreviewed change" without-count=true}}
      {{/if}}
    {{else if build.isFailed}}
      This build has failed
    {{else if build.isExpired}}
      This build has expired
    {{/if}}
  </div>
</div>
<div class="text-secondary">
  {{#if build.isPending}}
    Hang tight&hellip;
  {{else if build.isProcessing}}
    {{#if (eq progressBarWidth "0%")}}
      Finishing up&hellip;
    {{else}}
      <span class="text-primary font-semibold">{{build.totalComparisonsFinished}}</span> of <span class="text-primary">{{build.totalComparisons}}</span> screenshots processed
    {{/if}}
  {{else if build.isFinished}}
    <div>
      {{#if build.isApproved}}
        {{moment-from-now build.approvedAt interval=60000}}
        {{#if build.approvedBy}}
          by {{build.approvedBy.name}}
        {{/if}}
      {{else if build.isRejected}}
        <span class="text-primary font-semibold">{{build.totalSnapshotsUnreviewed}}</span> unreviewed snapshots
      {{else}}
        in <span class="text-primary font-semibold">{{build.totalSnapshots}}</span> {{pluralize build.totalSnapshots "total snapshot" without-count=true}}
      {{/if}}
    </div>
  {{else if build.isFailed}}
    <div>{{build.failureReasonHumanized}}</div>
  {{/if}}
</div>
