<BuildToolbar
  @build={{this.build}}
  @project={{this.build.project}}
  @organization={{this.build.project.organization}}
  @allDiffsShown={{this.allDiffsShown}}
  @toggleAllDiffs={{action "toggleAllDiffs"}}
  @activeBrowser={{this.activeBrowser}}
  @updateActiveBrowser={{action "updateActiveBrowser"}}
  @isSnapshotsLoading={{this.isSnapshotsLoading}}
  @isBuildApprovable={{this.isBuildApprovable}}
/>

<div class="BuildContainer-body w-full">
  <BuildHeader
    @build={{this.build}}
    @isBuildApprovable={{this.isBuildApprovable}}
  />

  {{#if (and this.build.isFinished this.build.partial)}}
    <div class="public-project-notice p-2 border flex items-center font-semibold">
      Partial build
    </div>
  {{/if}}

  {{#if (and this.build.isFinished (not this.build.partial))}}
    <RemovedSnapshots @build={{this.build}} />
  {{/if}}

  {{#if this.isSnapshotsLoading}}
    <LoadingPage />
  {{else if this.build.isFinished}}
    {{#if (variation "snapshot-sort-api")}}
      <InfiniteSnapshotList
        @blockItems={{this.blockItems}}
        @unchangedBlockItems={{this.unchangedBlockItems}}
        @build={{this.build}}
        @allDiffsShown={{this.allDiffsShown}}
        @toggleAllDiffs={{action "toggleAllDiffs"}}
        @activeBrowser={{this.activeBrowser}}
        @fetchUnchangedSnapshots={{this.fetchUnchangedSnapshots}}
        @isUnchangedSnapshotsVisible={{this.isUnchangedSnapshotsVisible}}
        @isBuildApprovable={{this.isBuildApprovable}}
        @page={{this.page}}
        @unchangedPage={{this.unchangedPage}}
      />
    {{else}}
      <SnapshotList
        @snapshotsChanged={{this.snapshotsChanged}}
        @build={{this.build}}
        @allDiffsShown={{this.allDiffsShown}}
        @toggleAllDiffs={{action "toggleAllDiffs"}}
        @activeBrowser={{this.activeBrowser}}
        @updateActiveBrowser={{action "updateActiveBrowser"}}
        @isUnchangedSnapshotsVisible={{this.isUnchangedSnapshotsVisible}}
        @toggleUnchangedSnapshotsVisible={{action "toggleUnchangedSnapshotsVisible"}}
        @snapshotsUnchanged={{this.snapshotsUnchanged}}
        @isUnchangedSnapshotsLoading={{this.isUnchangedSnapshotsLoading}}
        @isBuildApprovable={{this.isBuildApprovable}}
      />
    {{/if}}
  {{/if}}
</div>
