{{#if this.build.baseBuild}}
  <div role="button" {{action this.onLinkClick}}>
    <LinkTo @route="organization.project.builds.build" @models={{array this.build.project.organization.slug this.build.project.slug this.build.baseBuild.id}} class="data-test-baseline-build-link">{{this.build.baseBuild.buildTitle}}</LinkTo>
  </div>
{{else}}
  {{#if this.build.isFinished}}
    No baseline to compare against
  {{else}}
    --
  {{/if}}
{{/if}}
