<header class="build-toolbar fixed top-0 w-screen z-4 flex justify-between items-center px-2 bg-secondary border-b shadow-px" data-test-build-toolbar>
  <div class="flex items-center truncate">
    <LinkTo @route="index" @title="Percy homepage">
      <figure class="svg-container mr-2">
        <ThemeSvg @svg="percy-logo-on-light" />
      </figure>
    </LinkTo>

    <div class="flex items-center text-lg font-semibold mr-3 truncate hide-on-mobile">
      <span class="truncate">
        <LinkTo @route="organization" @model={{organization}} class="link-purple hide-on-tablet">
          {{organization.name}}
        </LinkTo>
      </span>
      <span class="font-semibold text-secondary mx-sm hide-on-tablet">/</span>
      <LinkTo @route="organization.project" @models={{array organization.slug project}} class="link-purple truncate" data-test-build-toolbar-project-link={{true}}>
        {{project.name}}
      </LinkTo>
    </div>
    {{#if organization.isSponsored}}
      {{fa-icon data-test-build-public-project "globe" class="text-blue-500 ml-sm"}}
    {{/if}}
  </div>

  <NoticeBar @organization={{organization}} @shouldShowNewProjectPrompt={{project.isDemo}} />

  <div class="flex items-center">
    {{#if (and build.isFinished (not isSnapshotsLoading))}}
      {{#if build.hasMultipleBrowsers}}
        <div class="mr-1">
          <BrowserSwitcher @browsers={{build.browsers}} @activeBrowser={{activeBrowser}} @updateActiveBrowser={{action "switchBrowsers"}} @build={{build}} />
        </div>
      {{/if}}

      <button type="button" class="btn btn-square hint--bottom hint--rounded hint--bounce" aria-label="Toggle all diffs (d)" {{action 'toggleOverlay'}} data-test-toggle-diffs-button>
        <figure class="svg-container">
          {{#if allDiffsShown}}
            <ThemeSvg @svg="diff-toggle-on" />
          {{else}}
            {{inline-svg "diff-toggle-off"}}
          {{/if}}
        </figure>
      </button>
    {{/if}}

    {{#if build.isFinished}}
      <div class="{{if (not isBuildApprovable) "hint--left hint--rounded hint--bounce"}}" aria-label="{{if (not isBuildApprovable) "You can't approve this build because you are not a member of this build's organization or are not logged in"}}">
        <DemoTooltip
          @build={{build}}
          @key="build-approval-button"
        />
        <BuildApprovalButton @build={{build}} @createReview={{createReview}} @approvableSnapshots={{approvableSnapshots}} @isDisabled={{not isBuildApprovable}} />
      </div>
    {{/if}}
  </div>
</header>
