<header class="build-toolbar fixed top-0 w-screen z-4 flex justify-between items-center px-2 bg-secondary border-b shadow-px" data-test-build-toolbar>
  <div class="flex items-center truncate">
    <LinkTo @route="index" @title="Percy homepage">
      <figure class="svg-container mr-2">
        <ThemeSvg @svg="percy-logo-on-light" />
      </figure>
    </LinkTo>

    <div class="flex items-center text-lg font-semibold mr-3 truncate hide-on-mobile">
      <span class="truncate">
        <LinkTo @route="organization" @model={{this.organization}} class="link-purple hide-on-tablet">
          {{this.organization.name}}
        </LinkTo>
      </span>
      <span class="font-semibold text-secondary mx-sm hide-on-tablet">/</span>
      <LinkTo @route="organization.project" @models={{array this.organization.slug this.project}} class="link-purple truncate" data-test-build-toolbar-project-link={{true}}>
        {{this.project.name}}
      </LinkTo>
    </div>
    {{#if this.organization.isSponsored}}
      <FaIcon @data-test-build-public-project={{true}} @icon="globe" class="text-blue-500 ml-sm" />
    {{/if}}
  </div>

  <NoticeBar @organization={{this.organization}} @shouldShowNewProjectPrompt={{this.project.isDemo}} />

  <div class="flex items-center">
    {{#if (and this.build.isFinished (not this.isSnapshotsLoading))}}
      {{#if this.build.hasMultipleBrowsers}}
        <div class="mr-1">
          <BrowserSwitcher
            @browsers={{this.build.browsers}}
            @activeBrowser={{this.activeBrowser}}
            @updateActiveBrowser={{action "switchBrowsers"}}
            @build={{this.build}}
          />
        </div>
      {{/if}}

      <button type="button" class="btn btn-square hint--bottom hint--rounded hint--bounce" aria-label="Toggle all diffs (d)" {{action 'toggleOverlay'}} data-test-toggle-diffs-button>
        <figure class="svg-container">
          {{#if this.allDiffsShown}}
            <ThemeSvg @svg="diff-toggle-on" />
          {{else}}
            {{inline-svg "diff-toggle-off"}}
          {{/if}}
        </figure>
      </button>
    {{/if}}

    {{#if this.build.isFinished}}
      <div class="{{unless this.isBuildApprovable "hint--left hint--rounded hint--bounce"}}" aria-label="{{unless  this.isBuildApprovable "You can't approve this build because you are not a member of this build's organization or are not logged in"}}">
        <DemoTooltip
          @build={{this.build}}
          @key="build-approval-button"
        />
        <BuildApprovalButton
          @build={{this.build}}
          @createReview={{this.createReview}}
          @approvableSnapshots={{this.approvableSnapshots}}
          @isDisabled={{not this.isBuildApprovable}}
        />
      </div>
    {{/if}}
  </div>
</header>
