<div class="changelog-post-list">
  {{#each changelogPosts as |changelogPost|}}
    <ChangelogPost
      @postId={{changelogPost.id}}
      @tag={{changelogPost.tag}}
      @date={{moment-format changelogPost.date "MMM D, YYYY"}}
    >
      <h2>
        <LinkTo
          @route="changelog.show"
          @model={{changelogPost.slug}}
        >
          {{changelogPost.title}}
        </LinkTo>
      </h2>
      <MarkdownToHtml @markdown={{changelogPost.content}} />
      {{#if changelogPost.image}}
        <img src="{{changelogPost.image.file.url}}" alt="{{changelogPost.image.description}}">
      {{/if}}
    </ChangelogPost>
  {{/each}}
</div>
