<table data-test-commit-table>
  <tbody>
    <tr>
      <td>Commit</td>
      <td>
        {{#if this.isRepoLinked}}
          <code><a data-test-commit-table-branch-url href="{{this.build.branchHtmlUrl}}">{{this.build.branch}}</a></code>
          @
          <a data-test-commit-table-commit-url href="{{this.build.commitHtmlUrl}}">{{this.commit.shaShort}}</a>
        {{else}}
          <code>{{this.build.branch}}</code> @ <code>{{this.commit.shaShort}}</code>
        {{/if}}
      </td>
    </tr>
    <tr><td>Committer</td><td>{{this.commit.authorName}}</td></tr>
    <tr><td>Message</td><td class="BuildInfoDropdown-commitMessage">{{this.commit.message}}</td></tr>
  </tbody>
</table>
