{{#if this.comparison.wasCompared}}
  {{#if this.comparison.isDifferent}}
    <div class="flex">
      <div class="ComparisonViewer-halfColumn ComparisonViewer-halfColumn--left">
        {{#with this.comparison.baseScreenshot.lossyImage as |image|}}
          <div class="Viewer-pdiffImageBox" style={{html-safe "max-width: " image.width "px"}}>
            <ImageSpacer
              @image={{image}}
              @altText="Base screenshot image -- what it looks like on the base build."
              @imageClass="ComparisonViewer-pdiffImage"
            />
          </div>
        {{/with}}
      </div>
      <div class="ComparisonViewer-halfColumn ComparisonViewer-halfColumn--right">
        {{#with this.comparison.headScreenshot.lossyImage as |lossyImage|}}
          <DemoTooltip
            @build={{this.comparison.headBuild}}
            @isFirstInstance={{eq this.index 0}}
            @anchorPlacement='left-corner'
            @key="comparison-overview"
          />
          <div class="Viewer-pdiffImageBox Viewer-pdiffImageBox--actionable" style={{html-safe "max-width: " lossyImage.width "px"}} data-test-comparison-viewer-diff-image-container>
            <ImageSpacer
              @action={{this.toggleOverlay}}
              @image={{lossyImage}}
              @altText="Head screenshot image -- what it looks like on your new build"
              @imageClass="ComparisonViewer-pdiffImage ComparisonViewer-pdiffImage--actionable"
            />
            {{#if this.showDiffOverlay}}
              {{#with this.comparison.diffImage as |diffImage|}}
                <div class="pdiffImageOverlay" data-test-comparison-viewer-full-diff-image-overlay>
                  <ImageSpacer
                    @action={{this.toggleOverlay}}
                    @altText="Diff overlay -- Highlights the areas that are changed between base and head screenshots"
                    @image={{diffImage}}
                    @imageClass="Viewer-pdiffImageOverlay"
                  />
                  {{#if this.isSnapshotDiffOverlayShowingClickBadge}}
                    <div class="diff-overlay-badge">Click to toggle</div>
                  {{/if}}
                </div>
              {{/with}}
            {{/if}}

          </div>
        {{/with}}
      </div>
    </div>
  {{else}}
    {{!-- Compared, but not different. --}}
    {{#unless this.isUnchangedSnapshotExpanded}}
      <div class="ComparisonViewer-noDiffBox" data-test-comparison-viewer-unchanged>
        No visual changes at {{this.comparison.width}}px.
        <a {{action "expandUnchangedSnapshot"}} href="#">Show snapshot</a>
      </div>
    {{/unless}}

    {{#if this.isUnchangedSnapshotExpanded}}
      <div class="flex" data-test-comaprison-viewer-show-unchanged-comparisons>
        <div class="ComparisonViewer-halfColumn ComparisonViewer-halfColumn--left">
          <div class="ComparisonViewer-snapshotMissing">
            <div>
              {{inline-svg "no-changes-snapshot" class="mx-auto mb-3 opacity-50"}}
              <div class="mb-1 text-lg md:text-xl leading-none font-semibold">No visual changes</div>
              <p class="mb-0">There are no visual changes detected for this snapshot.</p>
            </div>
          </div>
        </div>
        <div class="ComparisonViewer-halfColumn ComparisonViewer-halfColumn--right">
          {{#with this.comparison.headScreenshot.lossyImage as |image|}}
            <div class="Viewer-pdiffImageBox" style={{html-safe "max-width:" image.width "px"}}>
              <ImageSpacer
                @image={{image}}
                @imageClass="ComparisonViewer-pdiffImage"
                @altText="Head screenshot image -- what it looks like on your new build"
              />
            </div>
          {{/with}}
        </div>
      </div>
    {{/if}}
  {{/if}}
{{else}}
  {{#if this.comparison.wasAdded}}
    {{! New snapshot. }}
    <div class="flex">
      <div class="ComparisonViewer-halfColumn ComparisonViewer-halfColumn--left">
        <div class="ComparisonViewer-snapshotMissing">
          <div>
            {{#if this.headSnapshot.isReintroduced}}
              {{inline-svg "reintroduced-snapshot" class="mx-auto mb-3 opacity-50"}}
              <div class="mb-1 text-lg md:text-xl leading-none font-semibold">Reintroduced snapshot</div>
              <p class="mb-0 text-secondary">This snapshot existed in an earlier build, but is not in the base build, so a comparison was not run.</p>
            {{else}}
              {{inline-svg "new-snapshot" class="mx-auto mb-3 opacity-50"}}
              <div class="mb-1 text-lg md:text-xl leading-none font-semibold">New snapshot</div>
              <p class="mb-0 text-secondary">No comparison could be run, as the base build does not contain a snapshot with this name.</p>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="ComparisonViewer-halfColumn ComparisonViewer-halfColumn--right">
        {{#with this.comparison.headScreenshot.lossyImage as |image|}}
          <div class="Viewer-pdiffImageBox" style={{html-safe "max-width: " image.width "px"}}>
            <ImageSpacer
              @image={{image}}
              @altText="Head screenshot image -- what it looks like on your new build"
              @imageClass="ComparisonViewer-pdiffImage"
            />
          </div>
        {{/with}}
      </div>
    </div>
  {{/if}}
  {{#if this.comparison.wasRemoved}}
    {{!-- TODO: was removed. --}}
  {{/if}}
{{/if}}
