<div class="btn-toggle" data-test-comparison-mode-switcher>
  {{#if this.wasAdded}}
    <div class="btn-toggle-item is-selected" role="button" {{action this.updateComparisonMode 'head'}} data-test-comparison-mode-switcher-new>New Snapshot</div>
  {{else}}
    <div class="btn-toggle-item {{if (eq this.comparisonMode 'diff') 'is-selected'}}" role="button" {{action this.updateComparisonMode 'diff'}} data-test-comparison-mode-switcher-diff>Diff</div>
    <div class="btn-toggle-item {{if (eq this.comparisonMode 'base') 'is-selected'}}" role="button" {{action this.updateComparisonMode 'base'}} data-test-comparison-mode-switcher-base>Original</div>
    <div class="btn-toggle-item {{if (eq this.comparisonMode 'head') 'is-selected'}}" role="button" {{action this.updateComparisonMode 'head'}} data-test-comparison-mode-switcher-head>New</div>
  {{/if}}
</div>
