<div
  class="
    btn-toggle-item
    {{if this.isSelected ' is-selected'}}
    {{if this.matchingComparison ' is-disabled'}}
    {{if this.matchingComparison.isDifferent ' has-diffs'}}
  "
  {{action 'setWidth'}}
  role="button"
  data-test-ComparisonSwitcher-button>
  <div class="flex items-center">
    {{#if (and this.matchingComparison.isDifferent this.isSelected)}}
      {{inline-svg "diff-icon-xs" class="mr-sm"}}
    {{else if this.matchingComparison.isDifferent}}
      {{inline-svg "diff-icon-unselected-xs" class="mr-sm"}}
    {{/if}}
    {{this.width}}px
  </div>
</div>
