{{#if this.hasAnyIdentities}}
  <div class="border-b mb-3 pb-3">
    {{#if this.oktaIdentity}}
      <div class="flex justify-between items-center mb-1">
        <div class="font-mono font-normal tracking-sm flex items-center" data-test-okta-profile-identity>
          {{inline-svg "okta-sm" class="mr-1"}}
          {{this.oktaIdentity.user.email}}
          <sup class="font-sans hint--top hint--bounce hint--rounded" aria-label="This identity is managed by your Okta administrator.">{{fa-icon "info-circle" class="text-gray-300"}}</sup>
        </div>
      </div>
    {{/if}}
    {{#if this.emailPasswordIdentity}}
      <div class="flex justify-between items-center mb-1">
        <div class="font-mono font-normal tracking-sm flex items-center">
          {{inline-svg "percy-logo-tiny-on-light" class="mr-1"}}
          {{this.emailPasswordIdentity.user.name}}
        </div>

        {{#if this.isDisconnectIdentityEnabled}}
          <button type="button" class="btn btn-sm btn-alt" {{action this.deleteIdentity this.emailPasswordIdentity.id target=this.route}} data-test-connected-accounts-panel-delete-ep-identity>
            Disconnect
          </button>
        {{/if}}
      </div>
    {{/if}}
    {{#if this.githubIdentity}}
      <div class="flex justify-between items-center mb-1">
        <div class="font-mono font-normal tracking-sm flex items-center">
          {{inline-svg "github-icon" class="mr-1"}}
          {{#if this.githubIdentity.nickname}}
            {{this.githubIdentity.nickname}}
          {{else}}
            {{this.githubIdentity.user.name}}
          {{/if}}
        </div>
        {{#if this.isDisconnectIdentityEnabled}}
          <button type="button" class="btn btn-sm btn-alt" {{action this.deleteIdentity this.githubIdentity.id}} data-test-connected-accounts-panel-delete-github-identity>
            Disconnect
          </button>
        {{/if}}
      </div>
    {{/if}}
  </div>
{{/if}}

{{#if this.allowEditingAccounts}}
  <div class="flex items-center mb-2">
    {{#unless this.emailPasswordIdentity}}
      <button type="button" class="btn btn-primary shadow-purple-lg flex-1 mx-1" {{action this.addIdentity "auth0"}} data-test-connected-accounts-panel-add-ep-identity>
        Add email/password account
      </button>
    {{/unless}}

    {{#unless this.githubIdentity}}
      <button type="button" class="btn btn-github flex-1 mx-1" {{action this.addIdentity "github"}} data-test-connected-accounts-panel-add-github-identity>
        Connect your GitHub account
      </button>
    {{/unless}}
  </div>

  {{#unless this.githubIdentity}}
    <div class="rounded border py-1 px-2">
      Connecting your GitHub account allows you to sign in with GitHub and manage your GitHub integration with Percy.
    </div>
  {{/unless}}
{{else}}
  <div class="m-2 rounded border border-blue-500 p-2" >
    You belong to an organization which requires SSO to be the only login method. To login with a different provider, you must create a new user or leave the SSO organization.
  </div>
{{/if}}
