<header class="bg-white border-b" data-test-dashboard-nav>
  <div class="flex flex-col justify-between h-24">
    {{! This empty div allows flexible spacing for the variable height header component internals}}
    <div></div>

    <div class="w-90vw max-w-xl mx-auto flex justify-between items-center">
      <div class="text-2xl font-semibold leading-none">
        {{organization.name}}
      </div>
      <div>
        {{#if shouldShowNewProject}}
          <LinkTo @route="organizations.organization.projects.new" @model={{organization.slug}} class="data-test-dashboard-nav-new-project">
            <PercyBtn @isPrimaryButton={{true}}>
              New project
            </PercyBtn>
          </LinkTo>
        {{/if}}
      </div>
    </div>

    <div class="w-90vw max-w-xl mx-auto">
      <nav class="tab-bar">
        <LinkTo @route="organization.index" @model={{organization.slug}} class="tab-bar-tab data-test-dashboard-nav-projects">
          Projects
        </LinkTo>

        {{#if showMemberLinks}}
          <LinkTo @route="organizations.organization.settings" @model={{organization.slug}} class="tab-bar-tab data-test-dashboard-nav-org-settings">
            Details
          </LinkTo>

          <LinkTo @route="organizations.organization.billing" @model={{organization.slug}} class="tab-bar-tab data-test-dashboard-nav-org-billing">
            Billing
          </LinkTo>

          <LinkTo @route="organizations.organization.usage" @model={{organization.slug}} class="tab-bar-tab data-test-dashboard-nav-org-usage">
            Usage
          </LinkTo>

          <LinkTo @route="organizations.organization.users" @model={{organization.slug}} class="tab-bar-tab data-test-dashboard-nav-org-users">
            Users ({{organization.seatsUsed}})
          </LinkTo>

          <LinkTo @route="organizations.organization.integrations" @model={{organization.slug}} class="tab-bar-tab data-test-dashboard-nav-org-integrations">
            Integrations
          </LinkTo>
        {{/if}}
      </nav>
    </div>
  </div>
</header>

<main>
  <section class="w-90vw max-w-xl mx-auto">
    {{yield}}
  </section>
</main>


