<div class="Header flex items-center px-2 border-b bg-secondary" data-test-fixed-top-header>
  <div class="w-90vw max-w-xl mx-auto flex justify-between items-center">
    <div class="flex items-center truncate">
      {{#if this.session.isAuthenticated}}
        <LinkTo @route="index">
          <figure class="svg-container">
            {{inline-svg "percy-logo-on-light" class="mr-2"}}
          </figure>
        </LinkTo>
      {{else}}
        <LinkTo @route="index">
          <figure class="sm:hidden svg-container">
            {{inline-svg "percy-logo-on-light" class="mr-3"}}
          </figure>
          <figure class="hidden sm:block svg-container">
            <div class="mr-3">
              <ThemeSvg @svg="percy-full-horizontal-on-light" />
            </div>
          </figure>
        </LinkTo>
      {{/if}}

      {{#if this.session.isAuthenticated}}
        {{#if this.currentOrganization}}
          <div class="flex items-center text-lg mr-3 truncate">
            <span class="truncate">
              <LinkTo @route="organization" @model={{this.currentOrganization.slug}} class="link-purple data-test-organization-dashboard-link">
                {{this.currentOrganization.name}}
              </LinkTo>
            </span>
            {{#if this.project}}
              <span class="font-semibold text-primary mx-sm">/</span>
              <LinkTo @route="organization.project" @models={{array this.currentOrganization.slug this.project}} class="link-purple truncate">
                {{this.project.name}}
              </LinkTo>
            {{/if}}
          </div>
        {{/if}}
      {{/if}}
    </div>

    <NoticeBar
      @organization={{this.currentOrganization}}
      @shouldShowNewProjectPrompt={{this.project.isDemo}}
    />

    {{#if this.session.isAuthenticated}}
      <NavMenu
        @user={{this.session.currentUser}}
        @currentOrganization={{this.currentOrganization}}
        @isTransparentHeader={{this.isTransparentHeader}}
      />
    {{else}}
      <NavMenu />
    {{/if}}
  </div>
</div>
