<div class="Header flex items-center px-2 border-b bg-gray-000" data-test-fixed-top-header>
  <div class="container-xl flex justify-between items-center">
    <div class="flex items-center truncate">
      {{#if session.isAuthenticated}}
        {{#link-to "index"}}
          <figure class="svg-container">
            {{inline-svg "percy-logo-on-light" class="mr-2"}}
          </figure>
        {{/link-to}}
      {{else}}
        {{#link-to "index"}}
          <figure class="sm:hidden svg-container">
            {{inline-svg "percy-logo-on-light" class="mr-3"}}
          </figure>
          <figure class="hidden sm:block svg-container">
            {{inline-svg "percy-full-horizontal-on-light" class="mr-3"}}
          </figure>
        {{/link-to}}
      {{/if}}

      {{#if session.isAuthenticated}}
        {{#if currentOrganization}}
          <div class="flex items-center text-lg mr-3 truncate">
            <span class="truncate">
              {{#link-to "organization" currentOrganization.slug class="link-purple data-test-organization-dashboard-link"}}
                {{currentOrganization.name}}
              {{/link-to}}
            </span>
            {{#if project}}
              <span class="font-semibold text-gray-700 mx-sm">/</span>
              {{#link-to "organization.project" currentOrganization.slug project class="link-purple truncate"}}
                {{project.name}}
              {{/link-to}}
            {{/if}}
          </div>
        {{/if}}
      {{/if}}
    </div>

    {{notice-bar organization=currentOrganization shouldShowNewProjectPrompt=project.isDemo}}

    {{#if session.isAuthenticated}}
      {{nav-menu user=session.currentUser currentOrganization=currentOrganization isTransparentHeader=isTransparentHeader}}
    {{else}}
      {{nav-menu}}
    {{/if}}
  </div>
</div>
