{{#if shouldFullyRender}}
  {{yield}}
{{else}}
  <header class="SnapshotViewer-header sticky pin-t grid gap-4 z-1 px-2 py-1 bg-gray-000 border-t border-b" data-test-snapshot-viewer-lazy-header>
    <div class="flex items-center truncate">

      <figure class="svg-container mr-1" data-test-SnapshotViewer-comparisonIcon>
        {{inline-svg "comparison-icon-muted"}}
      </figure>

      <div class="Viewer-header-title SnapshotViewer-title cursor-default truncate font-bold rounded text-transparent bg-gray-100 progress-bar-light" title="{{displayTitle}}" data-test-SnapshotViewer-title>{{displayTitle}}</div>
    </div>
  </header>
{{/if}}
