{{#if this.showNoticeBar}}
  <div class="hidden sm:block flex-shrink-0 mr-4">
    <NoticeBarContainer @organization={{this.organization}} as |bar|>
      {{#if this.shouldShowNewProjectPrompt}}
        <bar.body>Get started with your own project.</bar.body>
        <bar.button @linkRoute="organizations.organization.projects.new">
          Create project
        </bar.button>
      {{else if this.isSubscriptionFree}}
        {{#if this.hasRemainingSnapshots}}
          <bar.body @classes="notice-bar-black-on-white">
            You have used <strong data-test-percentage>{{this.currentUsagePercentage}}%</strong> of your free screenshots this month.
          </bar.body>
          <bar.button @buttonClasses="notice-bar-button-gray border" @linkClasses="text-blue-500">
            More Info
          </bar.button>
        {{else}}
          <bar.body>
            You have used <span data-test-percentage>all</span> of your free screenshots this month.
          </bar.body>
          <bar.button>
            Upgrade Plan
          </bar.button>
        {{/if}}

      {{else if this.isSubscriptionTrial}}
        <bar.body @classes="notice-bar-black-on-gray">
          {{#if this.isTrialEndingToday}}
            Your trial ends today!
          {{else}}
            You have <strong>{{pluralize this.trialDaysRemaining "day"}}</strong> left in your trial.
          {{/if}}
        </bar.body>
        <bar.button @buttonClasses="notice-bar-button-gray" @linkClasses="text-blue-500">
          See plans
        </bar.button>

      {{/if}}
    </NoticeBarContainer>
  </div>
{{/if}}
