<div class="px-2 py-sm rounded-r font-semibold {{this.buttonClasses}}">
  <LinkTo
    @data-test-link={{true}}
    @route={{this.linkRoute}}
    @model={{this.organization.slug}}
    class={{concat "hover:underline " this.linkClasses}}
  >
    {{yield}}
  </LinkTo>
</div>

