{{#if (await isUserMember)}}
  {{#if organization.subscription.isFree}}
    <div data-test-notice-bar class="flex items-center hide-on-laptop font-normal">
      <div data-test-message class="px-2 py-sm rounded-l bg-gray-100 text-gray-700" style="margin-right: 1px;">
        {{#if (eq organization.subscription.hasIncludedSnapshotsRemaining true)}}
          You have used <strong data-test-percentage>{{organization.subscription.currentUsagePercentage}}%</strong> of your free snapshots this month.
        {{else}}
          You have used <span data-test-percentage>all</span> of your free snapshots this month.
        {{/if}}
      </div>
      <div class="px-2 py-sm rounded-r bg-gray-100 font-semibold hover:underline">
        {{#link-to data-test-link "organizations.organization.billing" organization.slug}}
          {{#if (eq organization.subscription.hasIncludedSnapshotsRemaining true)}}
            More Info
          {{else}}
            Upgrade Plan
          {{/if}}
        {{/link-to}}
      </div>
    </div>
  {{else if organization.subscription.isTrial}}
    <div data-test-notice-bar class="flex items-center hide-on-laptop font-normal">
      <div data-test-message class="px-2 py-sm rounded-l bg-gray-100 text-gray-700 {{if organization.subscription.plan.isFree 'bg-red-500'}}" style="margin-right: 1px;">
        {{#if (eq organization.subscription.trialDaysRemaining 0)}}
          <strong>Your trial ends today!</strong>
        {{else}}
          You have <strong>{{pluralize organization.subscription.trialDaysRemaining "day"}}</strong> left in your trial.
        {{/if}}
      </div>
      <div class="px-2 py-sm rounded-r bg-gray-100 font-semibold hover:underline {{if organization.subscription.plan.isFree 'text-white bg-red-500 hover:text-white'}} {{type}}">
        {{#link-to data-test-link "organizations.organization.billing" organization.slug}}
          See plans
        {{/link-to}}
      </div>
    </div>
  {{/if}}
{{/if}}
