<div class="px-2 py-sm rounded-r font-semibold {{buttonClasses}}">
  <LinkTo
    @data-test-link={{true}}
    @route={{linkRoute}}
    @model={{organization.slug}}
    class={{concat "hover:underline " linkClasses}}
  >
    {{yield}}
  </LinkTo>
</div>

