<button
  data-test-percy-btn
  data-test-percy-btn-label={{testLabel}}
  type="{{if type type "button"}}"
  name="button"
  disabled={{isDisabled}}
  onclick={{action "handleClick"}}
  class="
    percy-btn
    {{class}}
    {{if isPrimaryButton "percy-btn-primary"}}
    {{if isSecondaryButton "percy-btn-secondary"}}
    {{if isNoShadow "shadow-none"}}
    {{if isNoAnimate "animate-none"}}
    {{if isSaving "is-loading"}}
    {{if isSmallButton "percy-btn-sm"}}
  "
>
  {{yield}}
</button>
