<button
  data-test-percy-btn
  data-test-percy-btn-label={{this.testLabel}}
  type="{{if this.type this.type "button"}}"
  name="button"
  disabled={{this.isDisabled}}
  onclick={{action "handleClick"}}
  class="
    percy-btn
    {{this.class}}
    {{if this.isPrimaryButton "percy-btn-primary"}}
    {{if this.isSecondaryButton "percy-btn-secondary"}}
    {{if this.isNoShadow "shadow-none"}}
    {{if this.isNoAnimate "animate-none"}}
    {{if this.isSaving "is-loading"}}
    {{if this.isSmallButton "percy-btn-sm"}}
  "
>
  {{yield}}
</button>
