<button
  data-test-percy-btn
  type="{{if type type "button"}}"
  name="button"
  disabled={{isDisabled}}
  class="
    percy-btn
    {{class}}
    {{if isPrimaryButton "percy-btn-primary"}}
    {{if isNoShadow "shadow-none"}}
    {{if isNoAnimate "animate-none"}}
    {{if isSaving 'is-loading'}}
  "
  {{action "handleClick"}}>
  {{yield}}
</button>
