  <section class="container-xl pt-4">

    <div class="mb-2 pt-4">
      <h2 class="mb-0">Builds</h2>
      <div class="mb-2 text-gray-400">Over last 30 days</div>
      <div class="bg-white rounded shadow-1 p-2 mb-2 flex w-full justify-between">

        <div class="text-xl font-semibold mb-1 p-4 pl-8" style="width: 50%;">
          <div class="mb-2">
            Approved
          </div>
          <div class="text-5xl flex items-center" id="buildsApproved">
          </div>
          <div class="mb-2">
            Last 30 days
          </div>
          <div class="text-5xl flex items-center" id="buildsInLastMonth">
          </div>
          <div class="mb-2">All time</div>
          <div class="text-5xl flex items-center" id="buildsAllTime">
          </div>
        </div>

        <div class="text-xl font-semibold mb-1 p-4" style="width: 50%;">
          <div class="mb-2">By who?</div>
          {{!-- <table> --}}
            <div class="flex flex-col flex-wrap" style="height: 280px;">
            {{#each buildsApprovedByPerson as |data|}}
              <div class="flex mb-2 items-center">
                {{user-avatar user=data.user class="mr-3"}}
                <div class="rounded mr-2 bg-purple-600" style="height: 25px; width: {{mul-tiply data.count 2}}px"></div>
                {{data.count}}
              </div>
{{!--               <tr>
                <td>{{user-avatar user=data.user class="mr-1"}}</td>
                <td class="text-xl text-semibold">{{data.count}}</td>
              </tr> --}}
            {{/each}}
          {{!-- </table> --}}
        </div>
        </div>
      </div>

      <h2 class="mb-0">Comments</h2>
      <div class="mb-2 text-gray-400">Over last 30 days</div>
      <div class="bg-white rounded shadow-1 p-2 mb-2 flex w-full">
        <div class="text-xl font-semibold mb-1 p-4 pl-8" style="width: 55%;">
          <div class="mb-2">Written</div>
          <div class="flex text-sm">
              <div class="mb-1 mx-1 bg-purple-600 rounded" style="height: 15px; width: 15px;">
              </div>
              Requesting changes

              <div class="mb-1 mx-2 bg-purple-400 rounded " style="height: 15px; width: 15px;"></div> Notes
          </div>
            <div class="flex flex-col flex-wrap" style="height: 280px;">
              {{#each commentsByPerson as |data|}}
                <div class="flex mb-2 items-center">
                  {{user-avatar user=data.user class="mr-3"}}
                  <div class="rounded rounded-r-none bg-purple-600 text-xs text-white hint--top hint--rounded hint--bounce" aria-label={{data.review}} style="height: 25px; width: {{mul-tiply data.review 2}}px"></div>
                  <div class="rounded rounded-l-none mr-2 bg-purple-400 hint--top hint--rounded hint--bounce" aria-label={{data.note}} style="height: 25px; width: {{mul-tiply data.note 2}}px"></div>
                  {{data.total}}
                </div>
              {{/each}}
            </div>
        </div>
        <div class="text-xl font-semibold mb-1 p-4 pl-8" style="width: 45%;">
          <div class="mb-2">Controversial builds</div>
          {{#each notableBuilds as |build|}}
            <div class="text-base">
            {{#link-to "organization.project.builds.build" project.organization.slug project.slug build.buildId class="text-xl md:text-2xl mb-1 font-mono mr-2 flex items-center "}}
              {{build.buildNumber}}
              <div class="mx-2 text-base text-gray-800">{{build.commentCount}} comments</div>
              <code class="truncate flex-1">{{build.branch}}</code>
            {{/link-to}}
            </div>
          {{/each}}
        </div>
        </div>
      </div>


      <h2>Snapshots</h2>
      <div class="bg-white rounded shadow-1 p-2 mb-2 flex w-full justify-between">

        <div class="text-xl font-semibold mb-1 p-4 pl-8" style="width: 50%;">
          <div class="font-base mb-2">
            Last 30 days
          </div>
          <div class="text-5xl flex items-center" id="snapshotsInLastMonth">
          </div>
          <div class="mb-2">
            Last 60 days
          </div>
          <div class="text-5xl flex items-center" id="snapshotsLast60Days">
          </div>
          <div class="mb-2">All time</div>
          <div class="text-5xl flex items-center" id="snapshotsAllTime">
          </div>
        </div>


        <div class="text-xl font-semibold mb-1 p-4" style="width: 50%;">
          <div>With diffs?</div>
          <div class="mb-2 text-gray-400 text-sm">Over last 30 days</div>
          <div>
            {{high-charts chartOptions=pieChartOptions content=pieChartData}}
          </div>
        </div>
      </div>



{{!--       <div class="bg-white rounded shadow-1 p-2 mb-2">{{inline-svg "comparison-icon"}}</div>
      <div class="bg-white rounded shadow-1 p-2 mb-2">{{inline-svg "conversation-icon-resolved"}}</div> --}}
{{!--       <div class="flex mb-2">
        <div class="flex flex-1">
          <div class="flex items-center text-2xl text-right mr-2">Builds <br>in the<br> last month:</div>
          <div class="browser-family-selector overflow-hidden flex justify-center bg-white-pattern border border-transparent rounded p-3 shadow-1 text-5xl">{{buildsInLastMonth}}</div>
        </div>
        <div class="flex flex-1">
          <div class="flex items-center text-2xl text-right mr-2">Snapshots <br>in the<br> last month</div>
          <div class="browser-family-selector overflow-hidden flex justify-center bg-white-pattern border border-transparent rounded p-3 shadow-1 text-5xl">{{snapshotsInLastMonth}}</div>
        </div>
      </div>

      <div class="flex mb-2">
        <div class="flex flex-1">
          <div class="flex items-center text-2xl text-right mr-2">Builds <br>approved<br> last month:</div>
          <div class="browser-family-selector overflow-hidden flex justify-center bg-white-pattern border border-transparent rounded p-3 shadow-1 text-5xl">{{buildsApprovedInLastMonth}}</div>
        </div>
      </div>

      <div>
        <div class="ml-5">
          <h2>Who approved builds this month?</h2>
          <div>
            <table>
            {{#each buildsApprovedByPerson as |data|}}
              <tr>
                <td>{{user-avatar user=data.user class="mr-1"}}</td>
                <td class="text-xl text-semibold">{{data.count}}</td>
              </tr>
            {{/each}}
            </table>
          </div>
        </div>
      </div>

      <div class="ml-5">
        <h2>Who commented this month?</h2>

        <div>
          <table>
            <tr>
              <td></td>
              <td>Notes</td>
              <td>Change reqested</td>
            </tr>
            <tr>
              <td>{{user-avatar user=david class="mr-1"}}</td>
              <td class="text-xl">41</td>
              <td class="text-xl">11</td>
            </tr>
            <tr>
              <td>{{user-avatar user=lindsay class="mr-1"}}</td>
              <td class="text-xl">103</td>
              <td class="text-xl">22</td>
            </tr>
            <tr>
              <td>{{user-avatar user=rylee class="mr-1"}}</td>
              <td class="text-xl">14</td>
              <td class="text-xl">10</td>
            </tr>
            <tr>
              <td>{{user-avatar user=derek class="mr-1"}}</td>
              <td class="text-xl">73</td>
              <td class="text-xl">31</td>
            </tr>
          </table>
        </div>
      </div>

      {{high-charts chartOptions=pieChartOptions content=pieChartData}}--}}
    {{!-- </div> --}}
</section>
