{{#projects/project-header
  project=project
  shouldShowLinks=isUserMember
  shouldDisplayBottomBorder=false
}}
  {{#if shouldShowBranchFilter}}
    <div class="flex justify-end mt-1" data-test-project-container-branch-filter>
      {{#power-select
        triggerClass="ember-power-select-branch-filter-trigger"
        selected=selectedBranch
        placeholder="Filter by branch"
        renderInPlace=true
        horizontalPosition="right"
        options=projectBranches
        searchPlaceholder="Type to filter branches"
        noMatchesMessage="No branches found"
        onchange=(action "chooseBranch")
        as |branch|
      }}
        {{branch}}
      {{/power-select}}
    </div>
  {{/if}}
{{/projects/project-header}}

<main class="project-container flex-1 pb-8 bg-gray-000" data-test-project-container>
  {{#if (and builds.isPending (not isRefreshing))}}
    {{loading-page}}
  {{else}}
    {{#if builds}}
      <div class="build-list">
        {{#each branchFilteredBuilds as |build|}}
          {{build-card build=build project=project}}
        {{/each}}
        {{#if shouldLoadMore}}
          {{#infinity-loader infinityModel=infinityBuilds}}
            {{loading-build-card}}
          {{/infinity-loader}}
        {{else if isBranchSelected}}
          <div class="p-4 bg-white border-b flex justify-center text-gray-400">
              To load more builds, select "All branches" from the select menu above
          </div>
        {{/if}}
      </div>
    {{else}}
      {{#if project.isEnabled}}
        {{#if isUserMember}}
          <div class="build-card-placeholder mb-2">
            {{inline-svg "comparison-icon" class="mr-1"}}
            <span class="font-semibold mr-sm">Welcome to your brand new Percy project.</span> Use the resources below to setup Percy and generate your first snapshots.
          </div>

          <div class="container-xl">
            <div class="bg-white rounded shadow-1">
              <div class="px-2 py-3 border-b">
                {{resource-widget project=project}}
              </div>
              <div class="px-2 py-3 border-b">
                <h2 class="text-xl font-semibold mb-sm">CI setup</h2>
                <p class="text-gray-400 mb-2">Configure your local or CI environment with PERCY-TOKEN. This is a project-specific write-only API key that only has access to create builds, snapshots, and upload resources to this project. It should be kept secret.</p>
                {{projects/env-vars project=project}}
              </div>
              <div class="px-2 py-3">
                <h2 class="text-xl font-semibold mb-sm">Repository Integrations</h2>
                <p class="text-gray-400 mb-2">Connect your GitHub or GitLab repositories to add visual testing to pull/merge requests.</p>
                <a
                  href="https://docs.percy.io/docs/supported-scm-integrations"
                  target="_blank"
                  class="percy-btn"
                >
                  See the docs
                </a>
              </div>
            </div>
          </div>
        {{else}}
          {{status-panel
            inlineSvgName="refresh-icon"
            classes="pt-8"
            mainText="This project doesn't have any builds yet."
            secondaryText="The owners of this project are working hard to get some diffs ready for you to see!"
          }}
        {{/if}}
      {{else}}
        <div class="container-xl">
          <p class="py-2 font-semibold">No builds yet, and this project is disabled.</p>
        </div>
      {{/if}}
    {{/if}}
  {{/if}}
</main>
