<Projects::ProjectHeader
  @project={{project}}
  @shouldShowLinks={{isUserMember}}
  @shouldDisplayBottomBorder={{false}}
>
  {{#if shouldShowBranchFilter}}
    <div class="flex justify-end mt-1" data-test-project-container-branch-filter>
      <PowerSelect
        @triggerClass="ember-power-select-branch-filter-trigger"
        @selected={{selectedBranch}}
        @placeholder="Filter by branch"
        @renderInPlace={{true}}
        @horizontalPosition="right"
        @options={{projectBranches}}
        @searchEnabled={{true}}
        @searchPlaceholder="Type to filter branches"
        @noMatchesMessage="No branches found"
        @onChange={{action "chooseBranch"}}
        as |branch|
      >
        {{branch}}
      </PowerSelect>
    </div>
  {{else if (not project.organization.isVersionControlIntegrated)}}
    <div class="flex items-center p-1 pl-2 border bg-gray-000 rounded font-semibold text-sm" data-test-integration-prompt>
      <div class="flex items-center">
        {{inline-svg "github-icon" class="mr-1"}}
        {{inline-svg "gitlab-icon" class="mr-1"}}
        {{inline-svg "bitbucket-icon" class="mr-1"}}
      </div>
      <div>Integrate your SCM for repo features</div>
      {{#link-to data-test-add-integration "organizations.organization.integrations" project.organization.slug class="percy-btn percy-btn-primary percy-btn-sm ml-2"}}Add integration{{/link-to}}
    </div>
  {{/if}}
</Projects::ProjectHeader>

<main class="project-container flex-1 pb-8 bg-gray-000">
  {{#if (and builds.isPending (not isRefreshing))}}
    <LoadingPage />
  {{else}}
    {{#if builds}}
      <div class="build-list">
        {{#each branchFilteredBuilds as |build|}}
          <BuildCard @build={{build}} @project={{project}} />
        {{/each}}
        {{#if shouldLoadMore}}
          <InfinityLoader @infinityModel={{infinityBuilds}}>
            <LoadingBuildCard />
          </InfinityLoader>
        {{else if isBranchSelected}}
          <div class="p-4 bg-white border-b flex justify-center text-secondary">
            To load more builds, select "All branches" from the select menu above
          </div>
        {{/if}}
      </div>
    {{else}}
      {{#if project.isEnabled}}
        {{#if isUserMember}}
          <div class="w-90vw max-w-xl mx-auto mb-3">
            <div class="build-card-placeholder">
              <div class="mr-3">
                <BuildIcon />
              </div>
              <span class="text-xl font-semibold mr-sm">Waiting for your first build</span>
              <div class="line-loader-container">
                <div class="line-loader"></div>
              </div>
            </div>
          </div>

          <div class="w-90vw max-w-xl mx-auto">
            <div class="bg-white rounded shadow-1">
              <div class="px-2 py-3 border-b">
                <ResourceWidget @project={{project}} />
              </div>
              <div class="px-2 py-3">
                <h2 class="text-xl font-semibold mb-sm">Project token</h2>
                <p class="text-secondary mb-2">Configure your local or CI environment with PERCY-TOKEN. This is a project-specific write-only API key that only has access to create builds, snapshots, and upload resources to this project. It should be kept secret.</p>

                {{#if project.isDemo}}
                  <div class="percy-code-snippet" data-test-env-var-demo>
                    <pre>
                      <span class="percy-code-bash">PERCY_TOKEN=[This is a demo project. Create your own project to get a PERCY_TOKEN]</span>
                    </pre>
                  </div>
                {{else}}
                  {{#if project.tokens.isPending}}
                    <div class="percy-code-snippet">
                      <pre>
                        <span class="percy-code-comment percy-code-bash">Loading...</span>
                      </pre>
                    </div>
                  {{/if}}
                  {{#with project.writeOnlyToken.token as |token|}}
                    <div>
                      <div class="flex justify-start mb-1">
                        <div class="btn-toggle">
                          <div class="btn-toggle-item {{if showUnixBash 'is-selected'}}" role="button" {{action "switchBashSyntax"}}>Mac/Linux</div>
                          <div class="btn-toggle-item {{unless  showUnixBash 'is-selected'}}" role="button" {{action "switchBashSyntax"}}>Windows</div>
                        </div>
                      </div>
                      <div class="percy-code-snippet">
                        <pre>
                          <span class="percy-code-bash">{{if showUnixBash "export" "set"}} PERCY_TOKEN={{token}}</span>
                        </pre>
                      </div>
                    </div>
                  {{/with}}
                {{/if}}
              </div>
            </div>
          </div>
        {{else}}
          <StatusPanel
            @inlineSvgName="refresh-icon"
            @classes="pt-8"
            @mainText="This project doesn't have any builds yet."
            @secondaryText="The owners of this project are working hard to get some diffs ready for you to see!"
          />
        {{/if}}
      {{else}}
        <div class="w-90vw max-w-xl mx-auto">
          <p class="py-2 font-semibold">No builds yet, and this project is disabled.</p>
        </div>
      {{/if}}
    {{/if}}
  {{/if}}
</main>
