<div class="repo-selector flex items-center flex-1">
  <PowerSelect
    @selected={{this.selectedRepo}}
    @searchEnabled={{true}}
    @searchField="slug"
    @placeholder="Select a repository"
    @renderInPlace={{true}}
    @matchTriggerWidth={{false}}
    @allowClear={{true}}
    @options={{this.groupedRepos}}
    @searchPlaceholder="Type to filter repositories"
    @noMatchesMessage="No repositories found"
    @afterOptionsComponent={{component "repo-refresh-status"
      isRepoRefreshInProgress=this.isRepoRefreshInProgress lastSyncedAt=this.lastSyncedAt
    }}
    @onChange={{action "chooseRepo"}}
    @onOpen={{action "refreshRepos"}}
    as |repo|
  >
    {{repo.slug}}
  </PowerSelect>
  <SavingIndicator @isSaving={{this.isSaving}} @isSaveSuccessful={{this.isSaveSuccessful}} />
</div>
