<div class="repo-selector flex items-center flex-1">
  <PowerSelect
    @selected={{selectedRepo}}
    @searchEnabled={{true}}
    @searchField="slug"
    @placeholder="Select a repository"
    @renderInPlace={{true}}
    @matchTriggerWidth={{false}}
    @allowClear={{true}}
    @options={{groupedRepos}}
    @searchPlaceholder="Type to filter repositories"
    @noMatchesMessage="No repositories found"
    @afterOptionsComponent={{component "repo-refresh-status"
      isRepoRefreshInProgress=isRepoRefreshInProgress lastSyncedAt=lastSyncedAt
    }}
    @onChange={{action "chooseRepo"}}
    @onOpen={{action "refreshRepos"}}
    as |repo|
  >
    {{repo.slug}}
  </PowerSelect>
  {{saving-indicator isSaving=isSaving isSaveSuccessful=isSaveSuccessful}}
</div>
