<h2 class="text-xl font-semibold mb-sm">Setup guides</h2>
<p class="text-secondary mb-2">
  Integrate with one of our SDKs to add Percy snapshots to your web application, component library, or test framework.
</p>
<div class="flex">
  <div class="px-4 py-2 mr-4 border-r text-right font-semibold whitespace-no-wrap">
    {{#each-in languages as |key language|}}
      <div
        class="{{if (eq selectedLanguage key) 'cursor-default text-purple-600' 'cursor-pointer'}}"
        {{action 'selectLanguage' key}}
        data-test-resource-wiget-sidebar-link
      >
        {{capitalize language.name}}
      </div>
    {{/each-in}}
  </div>
  <div class="">
    <div class="flex flex-wrap py-2">
      {{#each-in frameworkOptions as |key framework|}}
        <TechCard @label={{framework.name}} @classes="mr-2 mb-2" @tagname="" @isSelected={{eq selectedFramework key}} @select={{action "selectFramework" key}} />
      {{/each-in}}
    </div>
    <div class="flex">
      <div class="btn-toolbar items-center">

        {{#if selectedFramework}}
          {{#if isOtherSelected}}
            <div class="text-sm font-semibold">
              Request framework:
            </div>
            <Input @type="text" class="form-control h-10 m-0" @value={{mut requestedFramework}} data-test-sdk-request-field={{true}} @enter={{action "saveRequest"}} />
            <input
              type="submit"
              class="btn btn-primary shadow-purple-lg mb-0"
              value="Submit"
              onclick={{action "saveRequest"}}
              data-test-org-save-button
            >
          
          {{else}}
            <a
              href="{{docLink}}"
              class="percy-btn percy-btn-primary {{docLinkClasses}}"
              target="_blank"
              onclick={{action 'trackDocsVisit'}}
              data-test-framework-docs-button
            >
              See {{frameworkName}} docs
            </a>

            <a
              href="{{exampleLink}}"
              class="percy-btn {{exampleLinkClasses}}"
              target="_blank"
              onclick={{action 'trackDemoVisit'}}
              data-test-example-framework-project-button
            >
              Example {{frameworkName}} project
            </a>
          {{/if}}
        {{else}}
          <a
            href="https://docs.percy.io/docs"
            target="_blank"
            class="percy-btn"
            data-test-generic-docs-button
          >
            See the docs
          </a>
        {{/if}}

      </div>
    </div>
  </div>
</div>
