<div class='w-full container-vh bg-white-pattern flex items-center justify-center' data-test-second-saml-identity-error>
  <StatusPanel
    @inlineSvgName={{this.svgName}}
    @mainText={{this.mainText}}
    @secondaryText={{this.secondaryText}}
  >
    <p class='mt-2'>
      {{this.bodyText}}
    </p>

    <div class='mt-2'>
      If you would like assistance, please
      <span data-test-show-support {{action "showSupport"}} class='link-blue cursor-pointer' role="button">
        contact support
      </span>
      .
    </div>
  </StatusPanel>
</div>
