<LazyLoadingSnapshotItem
  @shouldFullyRender={{shouldFullyRender}}
  @displayTitle={{groupTitle}}
>
  <header
    class="SnapshotViewer-header sticky grid gap-4 px-2 py-1 bg-secondary border-b border-t"
    {{action "expandBlock"}}
    data-test-snapshot-group-header>
    <div style="min-width: 0;" class="flex items-center">
      <div class="Viewer-header-title SnapshotViewer-title flex items-center overflow-hidden cursor-default font-bold" title="{{snapshots.length}} matching changes" data-test-snapshot-group-name>
        {{#if isGroupRejected}}
          <div class="mr-1">
            <div class="px-1 py-sm tracking-px rounded bg-orange-500 text-xs text-center uppercase font-bold text-white whitespace-no-wrap" data-test-group-rejected-badge>Changes requested</div>
          </div>
        {{/if}}

        <div class="truncate">
          {{groupTitle}}
        </div>
      </div>
      <DemoTooltip
        @build={{build}}
        @isFirstInstance={{true}}
        @key="group-overview"
      />
    </div>

    <div class="flex justify-end">
      <div class="btn-toolbar">
        {{#if isGroupCollapsed}}
          <div class="btn-group" role="group" aria-label="Second Group">
            <button type="button" class="ToggleFullViewButton btn btn-square maximize-snapshot" {{action showSnapshotFullModalTriggered snapshots.firstObject.id blockSelectedWidth activeBrowser}} data-test-snapshot-header-dropdown-toggle>
              <figure class="svg-container">
                <ThemeSvg @svg="maximize-icon" />
              </figure>
            </button>
          </div>
        {{/if}}

        <div class="btn-toolbar">
          <button type="button" class="btn" {{action "toggleAreAllSnapshotsExpanded"}} data-test-show-group-snapshots>
            {{#if isGroupCollapsed}}
              Expand matches
            {{else}}
              Collapse matches
            {{/if}}
          </button>

          {{#if noSnapshotsWithOpenCommentThreads}}
            <button type="button" class="btn btn-square collaboration-toggle relative" {{action "handleCommentClick"}} data-test-group-comment-btn>
              <figure class="svg-container">
                <ThemeSvg @svg="conversation-icon-add" />
              </figure>
            </button>
          {{/if}}

          {{#if isGroupCollapsed}}
            <div class="btn-group btn-group-alt">
              <ComparisonSwitcher
                @comparisons={{filteredComparisons.comparisonsWithDiffs}}
                @selectedWidth={{blockSelectedWidth}}
                @updateSelectedWidth={{action "updateSelectedWidth"}}
              />
            </div>
          {{/if}}

          {{#if isGroupUnreviewed}}
            <DemoTooltip
              @build={{build}}
              @isFirstInstance={{eq index 0}}
              @anchorPlacement='left-corner'
              @key="group-request-changes-button"
            />
            <SnapshotRejectButton
              @snapshots={{snapshots}}
              @isDisabled={{not isBuildApprovable}}
            />
          {{/if}}

          <DemoTooltip
            @build={{build}}
            @isFirstInstance={{eq index 0}}
            @anchorPlacement='left-corner'
            @key="group-approval-button"
          />
          <GroupApprovalButton
            @createReview={{createReview}}
            @approvableSnapshots={{approvableSnapshots}}
            @numTotalSnapshots={{snapshots.length}}
            @numUnapprovedSnapshots={{numUnapprovedSnapshots}}
            @isGroupApproved={{isGroupApproved}}
            @isDisabled={{not isBuildApprovable}}
          />
        </div>
      </div>
    </div>
  </header>

  <div>
    {{#if isExpanded}}
      {{#if displaySingleSnapshotGroupCover}}
        <div class="relative border-b">
          <div style="left: 28px;" class="snapshot-group-indent-line {{if isGroupRejected 'snapshot-group-indent-line-changes-requested-gradient' 'snapshot-group-indent-line-gradient'}} {{if isGroupApproved 'snapshot-group-indent-line-approved-gradient'}}"></div>
          <div class="flex bg-secondary">
            <div style="padding: 22px 16px 10px;" class="mb-2">
              <div style="top: 126px;" class="sticky">
                <figure class="svg-container">
                  {{#if isGroupApproved}}
                    <ThemeSvg @svg="comparison-icon-group-approved" />
                  {{else if isGroupRejected}}
                    <ThemeSvg @svg="comparison-icon-group-changes-requested" />
                  {{else}}
                    <ThemeSvg @svg="comparison-icon-group-snapshot" />
                  {{/if}}
                </figure>
              </div>
            </div>
            <div class="relative flex-1 p-2">
              <div class="absolute bg-primary rounded border pin-t-4 pin-r-4 left-0 pin-b-2 shadow-lg"></div>
              <div class="absolute bg-primary rounded border pin-t-3 pin-r-3 pin-l-1 pin-b-3 shadow-lg"></div>
              <div class="relative pl-0 pb-2">
                <ComparisonViewer
                  @comparison={{selectedComparison}}
                  @allDiffsShown={{allDiffsShown}}
                  @snapshotSelectedWidth={{blockSelectedWidth}}
                  @isDefaultExpanded={{true}}
                  @isUnchangedSnapshotExpanded={{true}}
                  @activeBrowser={{activeBrowser}}
                  @toggleOverlay={{action "toggleGroupOverlay"}}
                  @showDiffOverlay={{isGroupShowingDiffOverlay}}
                  @class="snapshot-group-comparison-viewer shadow-lg"
                  @index={{index}}
                />
              </div>
            </div>
          </div>
        </div>

      {{else}}
        <div class="relative pt-2 bg-secondary">
          <div style="left: 28px;" class="snapshot-group-indent-line {{if isGroupRejected 'bg-orange-500' 'bg-purple-600'}}  {{if isGroupApproved 'snapshot-group-indent-line-approved-gradient'}}"></div>
          {{#each snapshotsToDisplay as |snapshot index|}}
            <div class="flex bg-secondary">
              <div style="padding: 11px 16px 10px;" class="mb-2">
                <div style="top: 132px;" class="sticky">
                  <figure class="svg-container">
                    {{#if snapshot.isApproved}}
                      <ThemeSvg @svg="comparison-icon-group-approved" />
                    {{else if snapshot.isRejected}}
                      <ThemeSvg @svg="comparison-icon-group-changes-requested" />
                    {{else}}
                      <ThemeSvg @svg="comparison-icon-group-snapshot" />
                    {{/if}}
                  </figure>
                </div>
              </div>
              <SnapshotViewer
                @build={{build}}
                @snapshot={{snapshot}}
                @externalIsCommentPanelShowing={{if (and shouldOpenFirstCommentPanel (eq index 0)) true false}}
                @allDiffsShown={{allDiffsShown}}
                @activeSnapshotBlockId={{activeSnapshotBlockId}}
                @shouldDeferRendering={{shouldDeferRendering}}
                @showSnapshotFullModalTriggered={{showSnapshotFullModalTriggered}}
                @createReview={{createReview}}
                @updateActiveSnapshotBlockId={{updateActiveSnapshotBlockId}}
                @activeBrowser={{activeBrowser}}
                @updateActiveBrowser={{updateActiveBrowser}}
                @isBuildApprovable={{isBuildApprovable}}
                @createCommentThread={{createCommentThread}}
                @createComment={{createComment}}
                @closeCommentThread={{closeCommentThread}}
                @toggleOverlay={{action "toggleGroupOverlay"}}
                @showDiffOverlay={{isGroupShowingDiffOverlay}}
                @index={{index}}
                @class="snapshot-group-snapshot rounded-l flex-1 border-l"
              />
            </div>
          {{/each}}
        </div>

      {{/if}}
    {{/if}}
  </div>
</LazyLoadingSnapshotItem>
