{{#each (range 0 this.page true) as |pageToLoad|}}
  <InfiniteSnapshotPage
    @build={{this.build}}
    @blockItems={{this.blockItems}}
    @page={{pageToLoad}}
    as |blocks areSnapshotsLoading areCommentsLoading|
  >
    {{#each blocks as |block|}}
      {{#if (eq this.page pageToLoad)}}
        <div {{in-viewport onEnter=(action (mut this.page) (inc 1 this.page))}}></div>
      {{/if}}
      {{#if (gt block.snapshots.length 1)}}
        <div data-test-snapshot-block>
          <SnapshotGroup
            @build={{this.build}}
            @snapshots={{block.snapshots}}
            @allDiffsShown={{this.allDiffsShown}}
            @activeSnapshotBlockIndex={{this.activeSnapshotBlockIndex}}
            @updateActiveSnapshotBlockIndex={{action "updateActiveSnapshotBlockIndex"}}
            @activeBrowser={{this.activeBrowser}}
            @isBuildApprovable={{this.isBuildApprovable}}
            @index={{block.orderItem.index}}
            @areCommentsLoading={{areCommentsLoading}}
          />
        </div>
      {{else}}
        <div data-test-snapshot-block>
          <SnapshotViewer
            @class="data-test-snapshot-viewer"
            @build={{this.build}}
            @snapshot={{block.snapshots.firstObject}}
            @allDiffsShown={{this.allDiffsShown}}
            @activeSnapshotBlockIndex={{this.activeSnapshotBlockIndex}}
            @updateActiveSnapshotBlockIndex={{action "updateActiveSnapshotBlockIndex"}}
            @activeBrowser={{this.activeBrowser}}
            @isBuildApprovable={{this.isBuildApprovable}}
            @index={{block.orderItem.index}}
            @areCommentsLoading={{areCommentsLoading}}
          />
        </div>
      {{/if}}
    {{/each}}
  </InfiniteSnapshotPage>
{{/each}}

{{#if this.numSnapshotsUnchanged}}
  {{#if this.isUnchangedSnapshotsVisible}}
    {{#each (range 0 this.unchangedPage true) as |unchangedPageToLoad|}}
      <InfiniteSnapshotPage
        @build={{this.build}}
        @blockItems={{this.unchangedBlockItems}}
        @page={{unchangedPageToLoad}}
        @limit={{30}}
        as |blocks areSnapshotsLoading|
      >
        {{#if areSnapshotsLoading}}
          <LazyLoadingSnapshotItem
            @shouldFullyRender={{false}}
            @displayTitle={{"Loading..."}}
          />
        {{else}}
          {{#each blocks as |block|}}
            {{#if (eq this.unchangedPage unchangedPageToLoad)}}
              <div {{in-viewport onEnter=(action (mut this.unchangedPage) (inc 1 this.unchangedPage))}}></div>
            {{/if}}
            <div data-test-snapshot-block>
              <SnapshotViewer
                @class="data-test-snapshot-viewer"
                @build={{this.build}}
                @snapshot={{block.snapshots.firstObject}}
                @allDiffsShown={{this.allDiffsShown}}
                @activeSnapshotBlockIndex={{this.activeSnapshotBlockIndex}}
                @updateActiveSnapshotBlockIndex={{action "updateActiveSnapshotBlockIndex"}}
                @activeBrowser={{this.activeBrowser}}
                @isBuildApprovable={{this.isBuildApprovable}}
                @index={{block.orderItem.index}}
              />
            </div>
          {{/each}}
        {{/if}}
      </InfiniteSnapshotPage>
    {{/each}}
  {{else}}
    <div class="SnapshotViewer--actionable">
      <div class="flex items-center justify-center font-bold p-2 m-2 bg-secondary rounded border border-dashed cursor-pointer" data-test-toggle-unchanged {{action this.fetchUnchangedSnapshots this.build}} role="button">
        {{#if this.isUnchangedSnapshotsLoading}}
          {{inline-svg "loader-icon" class="mx-2"}} Loading unchanged snapshots
        {{else}}
          <figure class="svg-container">
            {{inline-svg "no-comparison-group-icon" class="mr-1"}}
          </figure>
          <div class="text-blue-500">
            {{pluralize this.numSnapshotsUnchanged "unchanged snapshot"}}
            {{#if this.build.hasMultipleBrowsers}}
              in {{this.activeBrowser.familyName}}
            {{else}}
              for all widths.
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
  {{/if}}
{{/if}}
