{{#unless this.isBuildApprovable}}
  <PublicProjectNotice />
{{/unless}}

<SnapshotViewerHeader
  @fullscreen={{true}}
  @snapshot={{this.snapshot}}
  @snapshotSelectedWidth={{this.snapshotSelectedWidth}}
  @selectedComparison={{this.selectedComparison}}
  @updateSelectedWidth={{action "updateSelectedWidth"}}
  @toggleCollaborationPanel={{action "toggleCollaborationPanel"}}
  @updateComparisonMode={{this.updateComparisonMode}}
  @comparisonMode={{this.comparisonMode}}
  @activeBrowser={{this.activeBrowser}}
  @updateActiveBrowser={{this.updateActiveBrowser}}
  @isBuildApprovable={{this.isBuildApprovable}}
  @openCommentThreads={{this.openCommentThreads}}
  @transitionToBuildPage={{this.transitionToBuildPage}}
/>

<div class="flex flex-col flex-col-reverse lg:flex-row bg-primary">
  {{#if this.selectedComparison}}
    <ComparisonViewerFull
      @comparison={{this.selectedComparison}}
      @comparisonMode={{this.comparisonMode}}
      @cycleComparisonMode={{action "cycleComparisonMode"}}
      @data-test-SnapshotViewerFull-comparison-viewer={{true}}
      @class={{unless this.isBuildApprovable "pb-9"}}
    />
    {{#if this.isCommentPanelShowing}}
      <Collaboration::CollaborationPanel
        @commentThreads={{this.commentThreads}}
        @showCollaborationPanel={{this.isShowingCollaborationPanel}}
        @createCommentThread={{this.createCommentThread}}
        @createComment={{this.createComment}}
        @closeCommentThread={{this.closeCommentThread}}
        @isCommentingAllowed={{this.isBuildApprovable}}
        @snapshot={{this.snapshot}}
      />
    {{/if}}
  {{else}}
    <div class="SnapshotViewerFull-noComparison">
      <div>
        {{fa-icon "remove" class="LargeXIcon"}}
        No snapshot taken at {{this.snapshotSelectedWidth}}px.
      </div>
    </div>
  {{/if}}
</div>
