<header class="SnapshotViewer-header sticky top-0 grid gap-4 z-2 px-2 py-1 bg-gray-000 border-t border-b {{if fullscreen 'SnapshotViewer-header-full fixed w-screen z-2'}}" data-test-SnapshotViewer-header {{action expandSnapshot}}>
  <div style="min-width: 0;" class="flex items-center">
    {{#if fullscreen}}
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-square" {{action updateSnapshotId (hash isNext=false)}} data-test-previous-snapshot aria-label="Navigate to next snapshot">
          {{inline-svg "gray-arrow-up"}}
        </button>
        <button type="button" class="btn btn-square" {{action updateSnapshotId}} data-test-next-snapshot aria-label="Navigate to previous snapshot">
          {{inline-svg "gray-arrow-down"}}
        </button>
      </div>
    {{/if}}

    <div class="flex items-center overflow-hidden">
      <figure class="snapshot-icon svg-container mr-1" data-test-SnapshotViewer-comparisonIcon>
        {{#if snapshot.isRejected}}
          {{inline-svg "comparison-icon-requested-changes"}}
        {{else if noComparisonsHaveDiffs}}
          {{inline-svg "no-comparison-icon"}}
        {{else}}
          {{inline-svg "comparison-icon"}}
        {{/if}}
      </figure>

      {{#if snapshot.isRejected}}
        <div class="mr-1">
          <div class="px-1 py-sm tracking-px rounded text-xs text-center uppercase font-bold whitespace-no-wrap {{if (eq snapshot.reviewStateReason 'user_rejected_previously') 'border border-orange-500 text-orange-500' 'bg-orange-500 text-white'}}" data-test-request-changes-badge>
            Changes requested
          </div>
        </div>
      {{/if}}

      <div class="Viewer-header-title SnapshotViewer-title cursor-default font-bold truncate" title="{{snapshot.name}}" data-test-SnapshotViewer-title>
        {{snapshot.name}}

      </div>
    </div>
    {{demo-tooltip
      build=snapshot.build
      isFirstInstance=(eq index 0)
      key="two"
      title="Snapshot comparison"
      message="Each comparison shows a baseline screenshot on the left and the pixels that have changed on the right. Screenshots are rendered in our infrastructure each time you make a code change."
    }}
  </div>

  {{#if fullscreen}}
    {{comparison-mode-switcher
      comparison=selectedComparison
      updateComparisonMode=updateComparisonMode
      comparisonMode=comparisonMode
      data-test-SnapshotViewer-comparison-mode-switcher=true
    }}
  {{/if}}

  <div class="flex justify-end">
    <div class="btn-toolbar">
      <div class="btn-group">
        <BasicDropdown @horizontalPosition='auto-right' @preventScroll={{true}} as |dropdown|>
          <div class="dropdown {{if dropdown.isOpen 'is-visible'}}">
            <dropdown.Trigger>
              <button type="button" class="btn btn-square dropdown-toggle" data-test-snapshot-header-dropdown-toggle aria-label="Toggle snapshot options">
                {{inline-svg "blue-dropdown-icon"}}
              </button>
            </dropdown.Trigger>
            <dropdown.Content>
              <div class="dropdown-menu" data-test-snapshot-header-dropdown-pane>
                <ul class="mb-0">
                  {{#unless (or allComparisonsHaveDiffs noComparisonsHaveDiffs)}}
                    <li class="dropdown-menu-list-item flex justify-between items-center cursor-pointer text-sm font-semibold border-b border-gray-000 py-1 pl-2 pr-1 mb-0"
                      {{action (pipe-action
                        (action 'toggleFilteredComparisons')
                        dropdown.actions.close
                      )}} data-test-toggle-widths-option>
                      {{#if isShowingFilteredComparisons}}
                        <span>Show all widths</span>
                        {{inline-svg "width-icon"}}
                        {{else}}
                        <span>Show only widths with diffs</span>
                        {{inline-svg "tiny-comparison-icon"}}
                      {{/if}}
                    </li>
                  {{/unless}}
                  <li class="dropdown-menu-list-item cursor-pointer text-sm font-semibold py-1 pl-2 pr-1 mb-0">
                    {{#copy-button
                      class="btn-icon-only w-full flex justify-between items-center"
                      clipboardText=(generate-fullscreen-snapshot-url snapshot.id snapshotSelectedWidth comparisonMode activeBrowser.familySlug fullscreen)
                      success=(pipe-action (action "onCopySnapshotUrlToClipboard") dropdown.actions.close)
                    }}
                      <span>Copy snapshot URL</span>
                      {{inline-svg "link-icon"}}
                    {{/copy-button}}
                  </li>
                  {{#if selectedComparison.baseSnapshot}}
                    <li class="dropdown-menu-list-item cursor-pointer flex justify-between items-center text-sm font-semibold py-1 pl-2 pr-1 mb-0"
                    {{action (pipe-action
                      (action 'downloadHTML' 'base' selectedComparison.baseSnapshot)
                      dropdown.actions.close
                    )}}>
                      <span>Download original source</span>
                      {{inline-svg "download-source-icon"}}
                    </li>
                  {{/if}}
                  {{#if selectedComparison.headSnapshot}}
                    <li class="dropdown-menu-list-item cursor-pointer flex justify-between items-center text-sm font-semibold py-1 pl-2 pr-1 mb-0"
                    {{action (pipe-action
                      (action 'downloadHTML' 'head' selectedComparison.headSnapshot)
                      dropdown.actions.close
                    )}}>
                      <span>Download new source</span>
                      {{inline-svg "download-source-icon"}}
                    </li>
                  {{/if}}
                  {{#if (and selectedComparison.headSnapshot selectedComparison.baseSnapshot)}}
                    <li class="dropdown-menu-list-item cursor-pointer flex justify-between items-center text-sm font-semibold py-1 pl-2 pr-1 mb-0"
                    {{action (pipe-action
                      (action 'downloadDiff' selectedComparison)
                      dropdown.actions.close
                    )}}>
                      <span>Download source diff</span>
                      {{inline-svg "download-source-icon"}}
                    </li>
                  {{/if}}
                  {{#if (variation "snapshot-history")}}
                    <li class="dropdown-menu-list-item cursor-pointer flex justify-between items-center text-sm font-semibold py-1 pl-2 pr-1 mb-0"
                      {{action (pipe-action
                        (action "goToLastChangedSnapshot")
                        dropdown.actions.close
                      )}}
                    >
                      <span>Jump back to last change</span>{{inline-svg 'tiny-comparison-icon'}}
                    </li>
                  {{/if}}
                </ul>
              </div>
            </dropdown.Content>
          </div>
        </BasicDropdown>
      </div>

      <div class="btn-group btn-group-alt">
        {{comparison-switcher
          comparisons=(if isShowingAllComparisons filteredComparisons.comparisons filteredComparisons.comparisonsWithDiffs)
          selectedWidth=snapshotSelectedWidth
          updateSelectedWidth=updateSelectedWidth
          data-test-SnapshotViewer-widthSwitcher=true
        }}
      </div>

      <div class="btn-group" role="group" aria-label="Second Group">
        <button type="button" class="ToggleFullViewButton btn btn-square {{if fullscreen 'minimize-snapshot' 'maximize-snapshot'}}"
          {{action toggleViewMode}} aria-label="{{if fullscreen "Minimize" "Maximize"}} snapshot" data-test-SnapshotViewer-toggleFullScreen>
          <figure class="svg-container">
            {{#if fullscreen}}
              {{inline-svg "minimize-icon"}}
            {{else}}
              {{inline-svg "maximize-icon"}}
            {{/if}}
          </figure>
        </button>
      </div>

      {{#if snapshot.build.isFinished}}
        {{#if (and fullscreen snapshot.build.hasMultipleBrowsers)}}
          {{browser-switcher
            browsers=snapshot.build.browsers
            activeBrowser=activeBrowser
            updateActiveBrowser=updateActiveBrowser
          }}
        {{/if}}

        {{#if isBuildApprovable}}
          {{collaboration/toggle-button
            toggleCollaborationPanel=toggleCollaborationPanel
            isResolved=false
            unresolvedCommentThreadCount=unresolvedCommentThreadCount
          }}
        {{/if}}


        <div class="btn-toolbar" data-test-snapshot-approval-button>
          {{#if (and (variation 'request-changes') snapshot.isUnreviewed)}}
            {{demo-tooltip
              build=snapshot.build
              isFirstInstance=(eq index 0)
              anchorPlacement='left-corner'
              key="nine"
              title="Requesting changes"
              message="If a snapshot is not yet ready to be approved, request changes so your team can follow the status of a build."
            }}
            {{snapshot-reject-button
              snapshots=(array snapshot)
              isDisabled=(not isBuildApprovable)
            }}
          {{/if}}

          {{demo-tooltip
            build=snapshot.build
            isFirstInstance=(eq index 0)
            anchorPlacement='left-corner'
            key="four"
            title="Approving screenshots"
            message="You can review and approve the changes for each snapshot one by one, or you can approve all the snapshots at once with the “Approve All” button at the top of the page."
          }}
          {{snapshot-approval-button
            snapshot=snapshot
            hasDiffsInBrowser=hasDiffsInBrowser
            activeBrowser=activeBrowser
            createReview=createReview
            isDisabled=(not isBuildApprovable)
          }}
        </div>
      {{/if}}
    </div>
  </div>
</header>
