{{#lazy-loading-snapshot-item
  shouldFullyRender=shouldFullyRender
  displayTitle=snapshot.name
}}
  {{snapshot-viewer-header
    fullscreen=false
    snapshot=snapshot
    snapshotSelectedWidth=blockSelectedWidth
    selectedComparison=selectedComparison
    toggleViewMode=(action showSnapshotFullModalTriggered snapshot.id blockSelectedWidth activeBrowser)
    toggleCollaborationPanel=(action "toggleCollaborationPanel")
    updateSelectedWidth=(action "updateSelectedWidth")
    createReview=createReview
    expandSnapshot=(action "expandBlock")
    activeBrowser=activeBrowser
    updateActiveBrowser=updateActiveBrowser
    isBuildApprovable=isBuildApprovable
    index=index
    openCommentThreads=openCommentThreads
  }}

  {{#if isExpanded}}
    {{#if selectedComparison}}
      <div class="flex flex-col flex-col-reverse lg:flex-row bg-gray-000">
        {{comparison-viewer
          comparison=selectedComparison
          allDiffsShown=allDiffsShown
          snapshotSelectedWidth=blockSelectedWidth
          isDefaultExpanded=isDefaultExpanded
          isUnchangedSnapshotExpanded=isUnchangedSnapshotExpanded
          data-test-SnapshotViewer-comparison=true
          activeBrowser=activeBrowser
          index=index
          showDiffOverlay=isSnapshotShowingDiffOverlay
          toggleOverlay=(action "toggleSnapshotOverlay")
          class="flex-1"
        }}
        {{#if isCommentPanelShowing}}
          {{collaboration/collaboration-panel
            commentThreads=commentThreads
            showCollaborationPanel=isShowingCollaborationPanel
            createCommentThread=createCommentThread
            createComment=createComment
            closeCommentThread=closeCommentThread
            isCommentingAllowed=isBuildApprovable
            snapshot=snapshot
          }}
        {{/if}}
      </div>
    {{else}}
      <div class="p-2 text-center bg-gray-000 border-b" data-test-SnapshotViewer-noComparison>
        No snapshot taken at {{blockSelectedWidth}}px.
      </div>
    {{/if}}
  {{/if}}
{{/lazy-loading-snapshot-item}}
