<LazyLoadingSnapshotItem
  @shouldFullyRender={{this.shouldFullyRender}}
  @displayTitle={{this.snapshot.name}}
>
  <SnapshotViewerHeader
    @fullscreen={{false}}
    @snapshot={{this.snapshot}}
    @snapshotSelectedWidth={{this.blockSelectedWidth}}
    @selectedComparison={{this.selectedComparison}}
    @toggleCollaborationPanel={{action "toggleCollaborationPanel"}}
    @updateSelectedWidth={{action "updateSelectedWidth"}}
    @expandSnapshot={{action "expandBlock"}}
    @activeBrowser={{this.activeBrowser}}
    @updateActiveBrowser={{this.updateActiveBrowser}}
    @isBuildApprovable={{this.isBuildApprovable}}
    @index={{this.index}}
    @openCommentThreads={{this.openCommentThreads}}
  />

  {{#if this.isExpanded}}
    {{#if this.selectedComparison}}
      <div class="flex flex-col flex-col-reverse lg:flex-row bg-secondary">
        <ComparisonViewer
          @class="flex-1"
          @comparison={{this.selectedComparison}}
          @allDiffsShown={{this.allDiffsShown}}
          @snapshotSelectedWidth={{this.blockSelectedWidth}}
          @isDefaultExpanded={{this.isDefaultExpanded}}
          @isUnchangedSnapshotExpanded={{this.isUnchangedSnapshotExpanded}}
          @data-test-SnapshotViewer-comparison={{true}}
          @activeBrowser={{this.activeBrowser}}
          @isSnapshotDiffOverlayShowingClickBadge={{this.isSnapshotDiffOverlayShowingClickBadge}}
          @index={{this.index}}
          @showDiffOverlay={{this.isSnapshotShowingDiffOverlay}}
          @toggleOverlay={{action "toggleSnapshotOverlay"}}
        />

        {{#if (or this.isCommentPanelShowing this.areCommentsLoading)}}
          <Collaboration::CollaborationPanel
            @commentThreads={{this.commentThreads}}
            @showCollaborationPanel={{this.isShowingCollaborationPanel}}
            @isCommentingAllowed={{this.isBuildApprovable}}
            @snapshot={{this.snapshot}}
            @areCommentsLoading={{this.areCommentsLoading}}
          />
        {{/if}}
      </div>
    {{else}}
      <div class="p-2 text-center bg-gray-000 border-b" data-test-SnapshotViewer-noComparison>
        No snapshot taken at {{this.blockSelectedWidth}}px.
      </div>
    {{/if}}
  {{/if}}
</LazyLoadingSnapshotItem>
