{{#unless isBuildApprovable}}
  {{public-project-notice}}
{{/unless}}
<div>
  {{snapshot-viewer-header
    fullscreen=true
    snapshot=snapshot
    snapshotSelectedWidth=snapshotSelectedWidth
    selectedComparison=selectedComparison
    toggleViewMode=(action closeSnapshotFullModal)
    updateSelectedWidth=(action "updateSelectedWidth")

    toggleCollaborationPanel=(action "toggleCollaborationPanel")
    updateComparisonMode=updateComparisonMode
    comparisonMode=comparisonMode
    createReview=(action createReview)
    activeBrowser=activeBrowser
    updateActiveBrowser=updateActiveBrowser
    isBuildApprovable=isBuildApprovable
    updateSnapshotId=updateSnapshotId
    openCommentThreads=openCommentThreads
  }}
</div>


<div class="flex flex-col flex-col-reverse lg:flex-row bg-gray-000">
  {{#if selectedComparison}}
    {{comparison-viewer-full
      comparison=selectedComparison
      comparisonMode=comparisonMode
      cycleComparisonMode=(action 'cycleComparisonMode')
      data-test-SnapshotViewerFull-comparison-viewer=true
      class=(unless isBuildApprovable "pb-9")
    }}
    {{#if isCommentPanelShowing}}
      {{collaboration/collaboration-panel
        commentThreads=commentThreads
        showCollaborationPanel=isShowingCollaborationPanel
        createCommentThread=createCommentThread
        createComment=createComment
        closeCommentThread=closeCommentThread
        snapshot=snapshot
      }}
    {{/if}}
  {{else}}
    <div class="SnapshotViewerFull-noComparison">
      <div>
        {{fa-icon "remove" class="LargeXIcon"}}
        No snapshot taken at {{snapshotSelectedWidth}}px.
      </div>
    </div>
  {{/if}}
</div>
