<div class="w-90vw max-w-xs mx-auto animate-fade-in-up {{classes}}" data-test-status-panel>
  <div class="bg-white rounded shadow-l p-4 text-center">
    <figure class="svg-container mb-2 animate-tada">
      {{inline-svg inlineSvgName class="mx-auto"}}
    </figure>
    <h2 class="font-normal text-xl md:text-2xl mb-2">{{mainText}}</h2>
    <p class="alt-p text-secondary">
      {{html-safe secondaryText}}
    </p>
    {{yield}}
  </div>
</div>
