<form action="javascript:;" data-test-account-new-form>
  <label class="block mb-2">
    <span class="label-body">Email</span> - you can change this later in your profile.
    <input type="input" class="form-control" disabled value={{this.session.currentUser.email}}>
  </label>

  <FormFields::Input
    @property="password"
    @title="Password"
    @type="password"
    @changeset={{this.changeset}}
    @data-test-account-new-password={{true}}
    @class="mb-2"
  />

  <FormFields::Submit
    @value="Create account"
    @classes="btn btn-primary shadow-purple-lg mb-2"
    @isSaving={{this.isSaving}}
    @isSaveSuccessful={{this.isSaveSuccessful}}
    @submit={{action "save"}}
    @data-test-account-new-submit={{true}}
  />
</form>
