<form action="javascript:;" class="m-0 Form" data-test-billing-edit-form>
  <FormFields::Input
    @property="billingEmail"
    @title="Billing email (for payment receipts)"
    @changeset={{this.changeset}}
    @validateProperty={{action "validateProperty" this.changeset "billingEmail"}}
    @testLabel="billing-email"
  />
  <div class="flex justify-start">
    <FormFields::Submit
      @value="Save"
      @classes="btn btn-primary shadow-purple-lg mb-0 mr-2"
      @disabled={{this.isSubmitDisabled}}
      @isSaving={{this.isSaving}}
      @isSaveSuccessful={{this.isSaveSuccessful}}
      @submit={{action "save"}}
    />
    <PercyBtn @handleClick={{this.hideForm}}>Cancel</PercyBtn>
  </div>
</form>
