<PercyForm
  data-test-display-preferences-edit-form
  as |Form|
>
  <h2 class="text-xl font-semibold mb-2">Display preferences</h2>

  <div class="p-2 bg-gray-000 rounded border mb-2">
    <h3 class="text-l mb-2">Build review appearance</h3>
    <fieldset class="mb-0">
      {{#each webThemeOptions as |option| }}
        <Form.label
          data-test-web-theme-option={{option.value}}
          class="block flex items-center m-0 {{option.value}}"
        >
          <Form.radio
            name="webTheme"
            checked={{eq option.value user.webTheme}}
            @onChange={{perform saveDisplayPreferences}}
            value={{option.value}}
            class="block mr-1"
          />
          <span class="block radio-box mr-1"></span>
          <span class="block cursor-pointer">{{option.label}}</span>
        </Form.label>
      {{/each}}
    </fieldset>
  </div>
</PercyForm>
