<PercyForm
  data-test-display-preferences-edit-form
  as |Form|
>
  <h2 class="text-xl font-semibold mb-2">Build review appearance</h2>
  <fieldset class="mb-0">
    {{#each webThemeOptions as |option| }}
      <Form.label
        data-test-web-theme-option={{option.value}}
        class="cursor-pointer block flex items-start justify-between p-1 mb-2 rounded border {{if (eq option.value 'dark') 'bg-dark-700 border-transparent'}} {{if (eq option.value 'light') 'bg-gray-000'}}"
      >
        <span class="flex items-center px-2 py-1 {{if (or (eq option.value 'light') (eq option.value 'dark')) 'py-2'}}">
          <Form.radio
            name="webTheme"
            checked={{eq option.value user.webTheme}}
            @onChange={{perform saveDisplayPreferences}}
            value={{option.value}}
            class="block mr-1"
          />
          <span class="block radio-box mr-1"></span>
          <span class="block font-semibold {{if (eq option.value 'dark') 'text-white'}}">{{option.label}}</span>
        </span>
        {{#if (eq option.value "dark")}}
          {{inline-svg "dark-theme-selection-icon"}}
        {{else if (eq option.value "light")}}
          {{inline-svg "light-theme-selection-icon"}}
        {{/if}}
      </Form.label>
    {{/each}}
  </fieldset>
</PercyForm>
