<section class="px-2" data-test-slack-config-form>
  <div class="bg-white rounded shadow-1 border-t p-2 mb-2">
    <div class="flex justify-between items-center mb-1">
      <div class="flex items-center">
        {{inline-svg "slack-icon" class="mr-1 mb-1"}}
        <h2 class="text-xl font-semibold mb-1">{{this.teamName}}: {{this.channelName}}</h2>
      </div>
      <div class="flex justify-end">
        <LinkTo
          @route="organizations.organization.integrations.slack"
          @model={{this.slackIntegrationConfig.slackIntegration.organization.slug}}
          @data-test-cancel-button={{true}}
          class="percy-btn mr-1"
        >
          Cancel
        </LinkTo>
        <FormFields::Submit
          @value="Save configuration"
          @classes="percy-btn percy-btn-primary mb-0"
          @isSaving={{this.isSaving}}
          @isSaveSuccessful={{this.isSaveSuccessful}}
          @submit={{action "customSave"}}
          @data-test-save-button={{true}}
        />
      </div>
    </div>

    <p class='label-body'>Configure what Percy sends to {{this.channelName}} in your {{this.teamName}} Slack team.</p>

    <form action="javascript:;" class="Form mb-0">
      <div class="p-2 bg-gray-000 rounded border mb-2">
        <span class="label-body font-semibold">
          Select a Percy project
        </span>
        <span class="slack-selector flex justify-start flex-1 mb-2">
          <span class="bg-white" data-test-project-box>
            <PowerSelect
              @selected={{this.selectedProject}}
              @searchEnabled={{true}}
              @searchField='name'
              @placeholder='Select a project'
              @renderInPlace={{true}}
              @matchTriggerWidth={{false}}
              @options={{this.projectOptions}}
              @searchPlaceholder='Type to filter projects'
              @noMatchesMessage='No project found'
              @onChange={{action 'selectProject'}}
              @label='Project'
              as |project|
            >
              {{project.name}}
            </PowerSelect>
          </span>
        </span>

        <FormFields::CheckboxSet
          @property="notificationTypes"
          @changeset={{this.changeset}}
          @title="Notifications"
          @subtitle="Send notifications to Slack when a build has finished processing or is approved."
          @allOptions={{this.slackNotificationOptions}}
        />

        <FormFields::Input
          @property="branch"
          @title="Optional: Specify branch"
          @subtitle="To only send notifications for a specific code branch, enter a branch name. Must be an exact match."
          @changeset={{this.changeset}}
        />

        {{#if this.errorMessage}}
          <div class="Form-errors">
            {{this.errorMessage}}
          </div>
        {{/if}}

        {{#if this.isEditing}}
          <div data-test-delete-button>
            <PercyBtn
              @handleClick={{action "deleteSlackIntegrationConfig"}}
              @class="percy-btn-danger"
            >
              Remove project from {{this.channelName}}
            </PercyBtn>
          </div>
        {{/if}}
      </div>
    </form>
  </div>
</section>
