<section class="pt-3">
  <div class="w-3/4 pb-3">
    <h1 class="text-xl font-semibold mb-sm leading-none">Percy integrations</h1>
    <p class="text-secondary">
      Integrations will let you get Percy running on various platforms with ease. Some integrations might require more configuration. Feel free to check out our <a href="https://docs.percy.io/docs/source-code-integrations" target="_blank" rel="noopener noreferrer">integration docs</a> if you need some guidance.
      As always, if you’re stuck with something, feel free to reach out and we’d love to help you out.
    </p>
  </div>
</section>

<div data-test-all-integrations>
  {{#if organization.isIntegrated}}
    <section class="px-2">
      <div class="bg-white rounded shadow-1 border-t p-2 mb-2">
        <h2 data-test-integrations-installed class="text-xl font-semibold mb-2">Installed integrations</h2>
        <div class="bg-gray-000 rounded border">
          {{#each versionControlIntegrations as |integration|}}
            <Organizations::Integrations::IntegrationItem
              @integrationName={{integration.integrationType}}
              @integrationStatus={{integration.status}}
              @organization={{organization}}
            />
          {{/each}}
          {{#if organization.isSlackIntegrated}}
            <Organizations::Integrations::IntegrationItem
              @integrationName="slack"
              @organization={{organization}}
            />
          {{/if}}
          {{#if organization.isOktaIntegrated}}
            <Organizations::Integrations::IntegrationItem
              @integrationName="okta"
              @organization={{organization}}
            />
          {{/if}}
        </div>
      </div>
    </section>
  {{/if}}

  <section>
    <div data-test-integrations-available class="bg-white rounded shadow-1 border-t mb-2">
      {{#each availableIntegrations as |integrationName| }}
        <Organizations::Integrations::IntegrationItem
          @integrationName={{integrationName}}
          @organization={{organization}}
        />
      {{/each}}

      {{#if organization.isNotSlackIntegrated}}
        <Organizations::Integrations::IntegrationItem
          @integrationName="slack"
          @organization={{organization}}
          @customInstallButtonAction={{route-action "connectSlackChannel"}}
        />
      {{/if}}
    </div>
  </section>
</div>
