<div data-test-slack-integration-page>
  {{#if this.isAdmin}}
    <Organizations::Integrations::SlackDetailsContainer
      @showSlackIntegrationList={{true}}
      @organization={{this.organization}}
      @connectSlackChannel={{route-action "connectSlackChannel"}}
      @deleteSlackIntegration={{route-action "deleteSlackIntegration"}}
    />
  {{else}}
    <Organizations::Integrations::SlackPermissionsWarning />
  {{/if}}
</div>
