<div data-test-browser-selector-button-container>
  <div
    class="browser-family-selector overflow-hidden cursor-pointer flex justify-center bg-white-pattern border border-transparent rounded p-3 shadow-1 {{if isBrowserEnabled "is-selected"}} {{concat "data-test-browser-selector-" browserFamily.slug}} {{if isDisabled "opacity-50"}}"
    {{action updateProjectBrowserTargets browserFamily}}
    data-test-browser-selector-button>
    <div class="browser-family-selector-detail flex flex-col items-center">
      {{inline-svg (concat browserFamily.slug "-icon-lg") class="browser-family-selector-icon mb-1"}}
      <div class="browser-family-selector-name font-semibold leading-none mb-2">
        {{#unless isBrowserEnabled}}
          <span class="opacity-0">Enable</span>
        {{/unless}}
        {{capitalize browserFamily.slug}}
      </div>
      {{#if isBrowserEnabled}}
      <div class="border border-purple-400 bg-purple-300 rounded-full text-purple-600 text-sm font-semibold px-2 py-sm">
        Enabled
      </div>
      {{else}}
        <div class="browser-family-selector-enable border rounded text-gray-300 text-sm font-semibold px-2 py-sm">
          Enable Browser
        </div>
      {{/if}}
    </div>
  </div>
  {{#if (and isBrowserUpgradeable isBrowserEnabled)}}
    <PercyBtn
      @class="mt-1 w-full"
      @isPrimaryButton={{true}}
      @handleClick={{action "upgradeBrowser" browserFamily}}
      @bubbles={{false}}
      @testLabel="browser-upgrade"
      @isSaving={{isUpgrading}}
    >
      Upgrade {{capitalize browserFamily.slug}}
    </PercyBtn>
  {{/if}}
</div>
