<header class="sticky pin-t bg-white z-1 {{if shouldDisplayBottomBorder "border-b"}}">
  {{#unless shouldShowLinks}}
    {{public-project-notice}}
  {{/unless}}
  <div class="flex flex-wrap justify-between items-center py-3 px-4">
    <div>
      <div class="flex items-center">
        {{menu-icon
          class="mr-2 cursor-pointer show-on-tablet"
          toggleSidebar=toggleSidebar
          isSidebarVisible=isSidebarVisible
        }}

        {{#if project.publiclyReadable}}
          {{fa-icon data-test-public-project-icon "globe" class="text-lg text-blue-200 mr-1"}}
        {{/if}}

        <h2 class="m-0 mr-2 text-xl md:text-2xl font-normal">{{project.name}}</h2>
        {{#if project.isDisabled}}
          <div class="label mr-2">archived</div>
        {{/if}}
        {{#if project.isDemo}}
          <div class="label mr-2">demo</div>
        {{/if}}

        {{#if shouldShowLinks}}
          <div class="btn-group">
            {{#link-to "organization.project.index" project.organization.slug project.slug class="btn"}}
              Builds
            {{/link-to}}
            {{#link-to "organization.project.settings" project.organization.slug project.slug class="btn" data-test-settings-icon=true}}
              Project settings
            {{/link-to}}
          </div>
        {{/if}}
      </div>
    </div>

    <div data-test-project-container-project-repo-linked>
      {{#if project.repo}}
        <div class="flex items-center">
          <figure class="svg-container mr-1">
            {{#if (repo-logo project.repo)}}
              {{inline-svg (repo-logo project.repo)}}
            {{/if}}
          </figure>
          <span class="whitespace-no-wrap font-semibold mr-1">Linked to</span>
          <a href="{{project.repo.htmlUrl}}"><code>{{project.repo.slug}}</code></a>
        </div>
      {{/if}}

      {{#if project.isDemo}}
        <div data-test-start-new-project class="flex justify-end">
          {{#link-to "organizations.organization.projects.new" project.organization.slug}}
            {{#percy-btn isPrimaryButton=true }}
              Start your own project
            {{/percy-btn}}
          {{/link-to}}
        </div>
      {{/if}}
      {{yield}}
    </div>
  </div>
</header>
