{{#unless shouldShowLinks}}
  {{public-project-notice}}
{{/unless}}

<header class="bg-white border-b">
  <div class="flex flex-col justify-between h-24">
    {{!-- This empty div allows flexible spacing for the variable height header component internals --}}
    <div></div>

    <div class="container-xl flex justify-between items-center">
      <div class="flex items-center">
        {{#if project.publiclyReadable}}
          {{fa-icon data-test-public-project-icon "globe" class="text-lg text-blue-500 mr-1"}}
        {{/if}}

        <div class="mr-2 text-xl md:text-2xl font-semibold leading-none">{{project.name}}</div>
        {{#if project.isDisabled}}
          <div class="label mr-2">archived</div>
        {{/if}}
        {{#if project.isDemo}}
          <div class="label mr-2">demo</div>
        {{/if}}
      </div>

      <div data-test-project-container-project-repo-linked>
        {{#if project.repo}}
          <div class="flex items-center">
            <figure class="svg-container mr-1">
              {{#if (repo-logo project.repo)}}
                {{inline-svg (repo-logo project.repo)}}
              {{/if}}
            </figure>
            <span class="whitespace-no-wrap font-semibold mr-1">Linked to</span>
            <a href="{{project.repo.htmlUrl}}"><code>{{project.repo.slug}}</code></a>
          </div>
        {{/if}}

        {{#if project.isDemo}}
          <div data-test-start-new-project>
            {{#link-to "organizations.organization.projects.new" project.organization.slug}}
              {{#percy-btn isPrimaryButton=true }}
                Start your own project
              {{/percy-btn}}
            {{/link-to}}
          </div>
        {{/if}}

        {{yield}}
      </div>
    </div>
    <div class="container-xl">
      <nav class="tab-bar">
        {{#link-to "organization.project.index" project.organization.slug project.slug class="tab-bar-tab"}}
          Builds
        {{/link-to}}
        {{#if shouldShowLinks}}
          {{#link-to "organization.project.settings" project.organization.slug project.slug class="tab-bar-tab"}}
            Project settings
          {{/link-to}}
        {{/if}}
      </nav>
    </div>
  </div>
</header>
