{{title (concat this.project.name " dashboard | Percy") replace=true}}

<FixedTopHeader
  @currentOrganization={{this.project.organization}}
  @project={{this.project}}
/>

<div data-test-project-page>
  <ProjectContainer
    @project={{this.project}}
    @selectedBranch="All branches"
    @infinityBuilds={{this.infinityBuilds}}
    @isUserMember={{this.isUserMember}}
  />
</div>

