{{title (concat model.project.fullSlug " insights | Percy") replace=true}}

{{fixed-top-header currentOrganization=model.organization project=model.project}}


  <div class="flex-1 pb-8 bg-gray-000">
    {{projects/project-header
      project=model.project
      shouldShowLinks=true
      shouldDisplayBottomBorder=true
    }}
{{!--
    {{log dayStatsFormatted}}
    {{#each data as |stat|}}
      <div class="bar-item relative flex items-end flex-1 h-full mr-sm">
        <div class="bar w-full bg-purple-600"
          style={{stat.percentOfHeight}}>
        </div>
      </div>
    {{/each}}
 --}}
  <section class="container-xl pt-4">

    <div class="mb-2 pt-4">
      {{inline-svg "approval-icon"}}
      <div class="bg-white rounded shadow-1 p-2 mb-2 flex w-full justify-between">
        <div class="text-xl font-semibold mb-1">
          <div>
            Builds approved
          </div>
          <div class="text-5xl">
            {{format-number buildsApprovedInLastMonth}}
          </div>
        </div>
        <div class="text-xl font-semibold mb-1">
          <div>Who approved them?</div>
          <table>
            {{#each buildsApprovedByPerson as |data|}}
              <tr>
                <td>{{user-avatar user=data.user class="mr-1"}}</td>
                <td class="text-xl text-semibold">{{data.count}}</td>
              </tr>
            {{/each}}
          </table>
        </div>
      </div>


      {{inline-svg "comparison-icon"}}
      <div class="bg-white rounded shadow-1 p-2 mb-2 flex w-full justify-between">
        <div class="text-xl font-semibold mb-1">
          <div>Snapshots taken</div>
          <div class="text-5xl">{{format-number snapshotsInLastMonth}}</div>
        </div>
        <div class="text-xl font-semibold mb-1">
          <div>How many had diffs?</div>
          <div>
            {{high-charts chartOptions=pieChartOptions content=pieChartData}}
          </div>
        </div>
      </div>


      {{inline-svg "conversation-icon-resolved"}}
      <div class="bg-white rounded shadow-1 p-2 mb-2 flex w-full justify-between">
        <div class="text-xl font-semibold mb-1">
          <div>Comments written</div>
          <div class="text-5xl">{{format-number numCommentsInLastMonth}}</div>
        </div>
        <div class="text-xl font-semibold mb-1">
          <div>Which are requesting changes?</div>
          <div>
            {{high-charts chartOptions=commentChartOptions content=commentChartData}}
          </div>
        </div>
      </div>


      {{inline-svg "marketing/conveyor"}}
      <div class="bg-white rounded shadow-1 p-2 mb-2 flex w-full justify-between">
        <div class="text-xl font-semibold mb-1">
          <div>Builds last 30 days</div>
          <div class="text-5xl">{{format-number buildsInLastMonth}}</div>
        </div>
        <div class="text-xl font-semibold mb-1">
          <div>Builds all time</div>
          <div class="text-5xl">{{format-number buildsAllTime}}</div>
        </div>
      </div>

{{!--       <div class="bg-white rounded shadow-1 p-2 mb-2">{{inline-svg "comparison-icon"}}</div>
      <div class="bg-white rounded shadow-1 p-2 mb-2">{{inline-svg "conversation-icon-resolved"}}</div> --}}
{{!--       <div class="flex mb-2">
        <div class="flex flex-1">
          <div class="flex items-center text-2xl text-right mr-2">Builds <br>in the<br> last month:</div>
          <div class="browser-family-selector overflow-hidden flex justify-center bg-white-pattern border border-transparent rounded p-3 shadow-1 text-5xl">{{buildsInLastMonth}}</div>
        </div>
        <div class="flex flex-1">
          <div class="flex items-center text-2xl text-right mr-2">Snapshots <br>in the<br> last month</div>
          <div class="browser-family-selector overflow-hidden flex justify-center bg-white-pattern border border-transparent rounded p-3 shadow-1 text-5xl">{{snapshotsInLastMonth}}</div>
        </div>
      </div>

      <div class="flex mb-2">
        <div class="flex flex-1">
          <div class="flex items-center text-2xl text-right mr-2">Builds <br>approved<br> last month:</div>
          <div class="browser-family-selector overflow-hidden flex justify-center bg-white-pattern border border-transparent rounded p-3 shadow-1 text-5xl">{{buildsApprovedInLastMonth}}</div>
        </div>
      </div>

      <div>
        <div class="ml-5">
          <h2>Who approved builds this month?</h2>
          <div>
            <table>
            {{#each buildsApprovedByPerson as |data|}}
              <tr>
                <td>{{user-avatar user=data.user class="mr-1"}}</td>
                <td class="text-xl text-semibold">{{data.count}}</td>
              </tr>
            {{/each}}
            </table>
          </div>
        </div>
      </div>

      <div class="ml-5">
        <h2>Who commented this month?</h2>

        <div>
          <table>
            <tr>
              <td></td>
              <td>Notes</td>
              <td>Change reqested</td>
            </tr>
            <tr>
              <td>{{user-avatar user=david class="mr-1"}}</td>
              <td class="text-xl">41</td>
              <td class="text-xl">11</td>
            </tr>
            <tr>
              <td>{{user-avatar user=lindsay class="mr-1"}}</td>
              <td class="text-xl">103</td>
              <td class="text-xl">22</td>
            </tr>
            <tr>
              <td>{{user-avatar user=rylee class="mr-1"}}</td>
              <td class="text-xl">14</td>
              <td class="text-xl">10</td>
            </tr>
            <tr>
              <td>{{user-avatar user=derek class="mr-1"}}</td>
              <td class="text-xl">73</td>
              <td class="text-xl">31</td>
            </tr>
          </table>
        </div>
      </div>

      {{high-charts chartOptions=pieChartOptions content=pieChartData}}--}}
    </div>
</section>
  </div>
