{{title (concat model.project.fullSlug " insights | Percy") replace=true}}

{{fixed-top-header currentOrganization=model.organization project=model.project}}


  <div class="flex-1 pb-8 bg-gray-000">
    {{projects/project-header
      project=model.project
      shouldShowLinks=true
      shouldDisplayBottomBorder=true
    }}
{{!--
    {{log dayStatsFormatted}}
    {{#each data as |stat|}}
      <div class="bar-item relative flex items-end flex-1 h-full mr-sm">
        <div class="bar w-full bg-purple-600"
          style={{stat.percentOfHeight}}>
        </div>
      </div>
    {{/each}}
 --}}
  {{percy-insights project=model.project}}
  </div>
