{{title (concat model.project.fullSlug " integrations | Percy") replace=true}}

<FixedTopHeader @currentOrganization={{model.organization}} @project={{model.project}} />

<section>

  <div class="flex-1 pb-8 bg-gray-000">
    <Projects::ProjectHeader @project={{model.project}} @shouldShowLinks={{true}} @shouldDisplayBottomBorder={{true}} />

    {{outlet}}

  </div>
</section>