{{title (concat model.project.fullSlug " project settings | Percy") replace=true}}

{{fixed-top-header currentOrganization=model.organization project=model.project shouldDisplayDashboardLink=true}}

<section class="flex relative {{if isSidebarVisible 'sidebar-is-visible'}}" >
  {{projects/project-sidebar
    project=model.project
    projects=model.projects
    toggleSidebar=(action (toggle "isSidebarVisible" this))
    isUserMember=true
    targetRoute="organization.project.settings"
  }}

  <div class="project-container flex-1 pb-8 bg-gray-pattern border-l">
    {{projects/project-header
      project=model.project
      shouldShowLinks=true
      toggleSidebar=(action (toggle "isSidebarVisible" this))
      shouldDisplayBottomBorder=true
    }}

    {{outlet}}

  </div>
</section>
