{{title (concat this.model.project.fullSlug " project settings | Percy") replace=true}}

<FixedTopHeader
  @currentOrganization={{this.model.organization}}
  @project={{this.model.project}}
/>

<section>
  <div class="flex-1 pb-8 bg-gray-000">
    <Projects::ProjectHeader
      @project={{this.model.project}}
      @shouldShowLinks={{true}}
      @shouldDisplayBottomBorder={{true}}
    />

    {{outlet}}

  </div>
</section>
