<div class="collaboration-comment" data-test-collaboration-comment>
  <header class="flex justify-between mb-sm {{if this.isClosed 'items-center' 'items-start'}}">
    <div class="flex items-center">
      <UserAvatar @user={{this.author}} @class="mr-1" @isSmallAvatar={{true}} />
      <div class="leading-none">
        <div class="font-semibold">
          {{this.author.name}}
        </div>
        <div class="text-sm text-gray-300 font-semibold" data-test-comment-created-at>
          {{this.displayCreatedAt}}
        </div>
      </div>
    </div>
    {{#if this.isFirstComment}}
      {{#if this.isCommentingAllowed}}
        {{#if this.isClosed}}
          <div class="flex items-center" data-test-archived>
            <div class="text-purple-600 font-semibold text-sm leading-none">
              Archived
            </div>
          </div>
        {{else}}
          <PercyBtn
            @handleClick={{action "closeCommentThread"}}
            @isSecondaryButton={{true}}
            @isSmallButton={{true}}
            @testLabel="commentArchive"
          >
            Archive
          </PercyBtn>
        {{/if}}
      {{/if}}
    {{/if}}
  </header>

  {{#if (and this.isFirstComment this.isReview)}}
    <div class="collaboration-content-inset py-sm">
      <div class="px-1 py-sm tracking-px rounded text-xs text-center uppercase font-bold whitespace-no-wrap {{unless  this.isOnOriginatingSnapshot 'border border-orange-500 text-orange-500' 'bg-orange-500 text-white'}}" data-test-request-changes-badge>
        Changes requested
        {{#unless this.isOnOriginatingSnapshot}}
          from
          <LinkTo
            @route='organization.project.builds.default-comparison'
            @model={{this.commentThread.originatingSnapshotId}}
            data-test-originating-snapshot-link={{true}}
            class="font-mono font-normal tracking-sm"
          >
            {{this.commentThread.originatingBuildNumber}}
          </LinkTo>
        {{/unless}}
      </div>
    </div>
  {{/if}}

  <p class="collaboration-content-inset break-words whitespace-pre-line">{{this.comment.body}}</p>
</div>
