<div class="collaboration-comment" data-test-collaboration-comment>
  <header class="flex justify-between mb-sm {{if isClosed 'items-center' 'items-start'}}">
    <div class="flex items-center">
      <UserAvatar @user={{author}} @class="mr-1" @isSmallAvatar={{true}} />
      <div class="leading-none">
        <div class="font-semibold">
          {{author.name}}
        </div>
        <div class="text-sm text-gray-300 font-semibold" data-test-comment-created-at>
          {{displayCreatedAt}}
        </div>
      </div>
    </div>
    {{#if isFirstComment}}
      {{#if isCommentingAllowed}}
        {{#if isClosed}}
          <div class="flex items-center" data-test-archived>
            <div class="text-purple-600 font-semibold text-sm leading-none">
              Archived
            </div>
          </div>
        {{else}}
          <PercyBtn
            @handleClick={{action "closeCommentThread"}}
            @isSecondaryButton={{true}}
            @isSmallButton={{true}}
            @testLabel="commentArchive"
          >
            Archive
          </PercyBtn>
        {{/if}}
      {{/if}}
    {{/if}}
  </header>

 {{#if (and isFirstComment isReview)}}
    <div class="collaboration-content-inset py-sm">
      <div class="px-1 py-sm tracking-px rounded text-xs text-center uppercase font-bold whitespace-no-wrap {{unless  isOnOriginatingSnapshot 'border border-orange-500 text-orange-500' 'bg-orange-500 text-white'}}" data-test-request-changes-badge>
        Changes requested
        {{#unless isOnOriginatingSnapshot}}
          from
            {{#link-to data-test-originating-snapshot-link 'organization.project.builds.default-comparison' commentThread.originatingSnapshotId class="font-mono font-normal tracking-sm"}}{{commentThread.originatingBuildNumber}}{{/link-to}}
        {{/unless}}
      </div>
    </div>
  {{/if}}

  <p class="collaboration-content-inset break-words whitespace-pre-line">{{comment.body}}</p>
</div>
