<div class="collaboration-comment-reply" data-test-comment-reply>
  <div class="items-center {{unless isExpanded 'flex'}}">
    <div class="flex items-center">
      <UserAvatar @user={{currentUser}} @class="mr-1" @isSmallAvatar={{true}} />
      {{#if isExpanded}}
        <div class="font-semibold leading-none">
          {{currentUser.name}}
        </div>
      {{/if}}
    </div>
    <div class="flex-1 {{if isExpanded 'collaboration-content-inset'}}" {{action "expandReply"}} data-test-comment-reply-textarea-container>
      <MentionableTextarea
        @tributeConfigs={{tributeConfigs}}
        @handleItemSelected={{action "handleAtMentionUser"}}
      >
        <PercyTextarea
          data-test-comment-reply-textarea={{true}}
          @onCmdEnter={{action "saveReply"}}
          @onEscape={{action "collapseReply"}}
          @placeholder="Add reply..."
          @value={{commentBody}}
          class="percy-input px-1 py-sm {{if isExpanded "h-24" "collaboration-collapsed-comment-reply"}}"
        />
      </MentionableTextarea>
    </div>
  </div>

  {{#if isExpanded}}
    <div class="flex justify-end mt-1">
      <PercyBtn
        @handleClick={{action "collapseReply"}}
        @testLabel="cancel"
      >
        Cancel
      </PercyBtn>
      <PercyBtn
        @handleClick={{action "saveReply"}}
        @class="ml-1"
        @isPrimaryButton={{true}}
        @isDisabled={{is-empty commentBody}}
        @testLabel="submit"
        @isSaving={{isCommentSaving}}
      >
        Comment
      </PercyBtn>
    </div>
  {{/if}}
</div>
