<div class="collaboration pr-2 lg:pr-0 {{if (gt this.commentThread.comments.length 1)  'collaboration-comment-replied'}}" data-test-comment-thread data-test-thread-type={{this.commentThread.type}}>

  {{#if this.areCommentsCollapsed}}
    <Collaboration::CollaborationComment
      @comment={{this.firstComment}}
      @isFirstComment={{true}}
      @isCommentingAllowed={{this.isCommentingAllowed}}
    />
    <div class="collaboration-content-inset">
      <Collaboration::CollaborationComment
        @comment={{this.secondComment}}
      />
      <Collaboration::CollaborationExpand
        @isThreadClosed={{this.commentThread.isClosed}}
        @numCollapsedComments={{this.numCollapsedComments}}
        @showCollapsedComments={{action "showCollapsedComments"}}
      />
      <Collaboration::CollaborationComment
        @comment={{this.lastComment}}
      />
    </div>
  {{else}}
    {{#each this.filteredComments as |comment index|}}
      <div class="{{if (not-eq index 0) "collaboration-content-inset"}}">
        <Collaboration::CollaborationComment
          @comment={{comment}}
          @isFirstComment={{eq index 0}}
        />
      </div>
    {{/each}}
  {{/if}}

  {{#if this.shouldShowThreadReplyInput}}
    <Collaboration::CollaborationCommentReply
      @commentThread={{this.commentThread}}
      @createComment={{this.createComment}}
    />
  {{/if}}
</div>
