 <div class="collaboration pr-2 lg:pr-0 {{if (gt commentThread.comments.length 1)  'collaboration-comment-replied'}}" data-test-comment-thread data-test-thread-type={{commentThread.type}}>

    {{#if areCommentsCollapsed}}
      {{collaboration/collaboration-comment
        comment=firstComment
        isFirstComment=true
        closeCommentThread=closeCommentThread
      }}
      <div class="collaboration-content-inset">
        {{collaboration/collaboration-comment
          comment=secondComment
        }}
        {{collaboration/collaboration-expand
          isThreadClosed=commentThread.isClosed
          numCollapsedComments=numCollapsedComments
          showCollapsedComments=(action "showCollapsedComments")
        }}
        {{collaboration/collaboration-comment
          comment=lastComment
        }}
      </div>
    {{else}}
      {{#each filteredComments as |comment index|}}
        <div class="{{if (not-eq index 0) "collaboration-content-inset"}}">
          {{collaboration/collaboration-comment
            comment=comment
            isFirstComment=(eq index 0)
            closeCommentThread=closeCommentThread
          }}
        </div>
      {{/each}}
    {{/if}}

    {{#if shouldShowThreadReplyInput}}
      {{collaboration/collaboration-comment-reply commentThread=commentThread createComment=createComment}}
    {{/if}}
  </div>
