{{#if this.shouldShowNewCommentInput}}
  <div class="collaboration-comment mb-3" data-test-new-comment>
    <div data-test-new-comment-container>
      <div class="flex items-center">
        <UserAvatar @user={{this.currentUser}} @class="mr-1" @isSmallAvatar={{true}} />
        <div class="font-semibold leading-none">
          {{this.currentUser.name}}
        </div>
      </div>
      <div class="flex-1 collaboration-content-inset">
        <div class="relative">
          <MentionableTextarea
            @tributeConfigs={{this.tributeConfigs}}
            @handleItemSelected={{action "handleAtMentionUser"}}
          >
            <PercyTextarea
              data-test-new-comment-thread-textarea={{true}}
              @autofocus={{true}}
              @onCmdEnter={{action "saveComment"}}
              @onEscape={{action "toggleShouldShowNewCommentInput"}}
              @placeholder="Add comment..."
              @value={{this.commentBody}}
              class="percy-input collaboration-new-thread relative pb-5"
            />
          </MentionableTextarea>
          <div
            class="
              absolute right-0 bottom-0 left-0 bg-action border-t border-quaternary p-1-1/2
              m-px rounded-b font-semibold text-sm text-secondary leading-none
              {{if this.isRequestChangesDisabled "hint--left hint--rounded hint--bounce"}}"
            aria-label="{{if this.isRequestChangesDisabled "You can't request changes on this snapshot beacause the snapshot is already approved."}}"
          >
            <label class="flex items-center justify-end m-0">
              <span>Request changes</span>
              <Input
                data-test-request-changes-checkbox={{true}}
                @type="checkbox"
                @name="isRequestChanges"
                @checked={{this.areChangesRequested}}
                @disabled={{this.isRequestChangesDisabled}}
                @maxLength="6000"
                class="ml-1"
              />
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-end mt-1">
      <PercyBtn
        @handleClick={{action "toggleShouldShowNewCommentInput"}}
        @testLabel="cancelNewComment"
      >
        Cancel
      </PercyBtn>
      <PercyBtn
        @handleClick={{action "saveComment"}}
        @class="ml-1"
        @isPrimaryButton={{true}}
        @isDisabled={{is-empty this.commentBody}}
        @isSaving={{this.isThreadSaving}}
        @testLabel="saveNewComment"
      >
        Comment
      </PercyBtn>
    </div>
  </div>
{{else}}
  <div class="flex items-center mb-3 cursor-pointer" {{action "toggleShouldShowNewCommentInput"}} role="button" data-test-new-comment>
    <PercyBtn
      @isPrimaryButton={{true}}
      @class="percy-btn-primary-round mr-1"
      @testLabel="showNewCommentTextarea"
    >
      {{inline-svg "add-icon-white"}}
    </PercyBtn>

    <div class="text-purple-600 font-semibold leading-none">
      New comment
    </div>
  </div>
{{/if}}
