<button type="button" class="btn btn-square collaboration-toggle relative" {{action this.toggleCollaborationPanel}} aria-label="Add a comment or toggle comment panel" data-test-toggle-comment-sidebar>
  <figure class="svg-container">
    {{#if this.unresolvedCommentThreadCount}}
      <ThemeSvg @svg="conversation-icon-purple" />
    {{else if this.isResolved}}
      {{inline-svg "conversation-icon-resolved"}}
    {{else}}
      <ThemeSvg @svg="conversation-icon-add" />
    {{/if}}
  </figure>

  {{#if this.unresolvedCommentThreadCount}}
    <div class="collaboration-conversation-count" data-test-comment-thread-count>
      {{this.unresolvedCommentThreadCount}}
    </div>
  {{/if}}
</button>
