<button type="button" class="btn btn-square collaboration-toggle relative" {{action toggleCollaborationPanel}} aria-label="Add a comment or toggle comment panel" data-test-toggle-comment-sidebar>
  <figure class="svg-container">
    {{#if unresolvedCommentThreadCount}}
      {{inline-svg "conversation-icon-purple"}}
    {{else if isResolved}}
      {{inline-svg "conversation-icon-resolved"}}
    {{else}}
      {{inline-svg "conversation-icon-add"}}
    {{/if}}
  </figure>

  {{#if unresolvedCommentThreadCount}}
    <div class="collaboration-conversation-count" data-test-comment-thread-count>
      {{unresolvedCommentThreadCount}}
    </div>
  {{/if}}
</button>
