<fieldset class="mb-1">
  <legend>
    <span class="label-body font-semibold">
      {{this.title}}
      {{#if this.hint}}<span class="text-gray-300">({{this.hint}})</span>{{/if}}
    </span>
    {{#if this.subtitle}}
      <div class="mb-1 text-secondary">{{this.subtitle}}</div>
    {{/if}}
  </legend>

  {{#each this.allOptions as |option|}}
    <label class="flex mb-1 items-start" data-test-checkbox-set-input>
      <input
        name="{{option.value}}"
        type="checkbox"
        checked={{contains option.value this.propertyValue}}
        class="mr-1 {{if this.fieldErrors 'error'}}"
        onchange={{action "updateValue"}}
        onblur={{action this.validateProperty}}
      >
      <div>
        <div class="pt-xs font-medium leading-none {{this.labelClasses}}">{{option.label}}</div>
        <div class="text-secondary">{{option.description}}</div>
      </div>
    </label>
  {{/each}}

  {{#if this.fieldErrors}}
    <ul class="Form-errors">
      {{#each (get this.fieldErrors "validation") as |message|}}
        <li>{{message}}</li>
      {{/each}}
    </ul>
  {{/if}}
</fieldset>
