<label>
  <span class="label-body">
    {{this.title}}
    {{#if this.hint}}<span class="text-gray-300">({{this.hint}})</span>{{/if}}
  </span>
  {{#if this.subtitle}}
    <div class="mb-1 text-secondary">{{html-safe this.subtitle}}</div>
  {{/if}}
  <input
    type={{this.type}}
    class="form-control mb-2 {{if this.fieldErrors 'error'}}"
    value={{get this.changeset this.property}}
    onchange={{action (mut (get this.changeset this.property)) value="target.value"}}
    oninput={{action (mut (get this.changeset this.property)) value="target.value"}}
    autofocus={{this.autofocus}}
    autocomplete={{this.autocomplete}}
    placeholder={{this.placeholder}}
    disabled={{this.disabled}}
    data-test-form-input={{this.testLabel}}
  >
</label>
{{#if this.fieldErrors}}
  <ul class="Form-errors" data-test-input-errors>
    {{#each (get this.fieldErrors "validation") as |message|}}
      <li>{{message}}</li>
    {{/each}}
  </ul>
{{/if}}
