<label class="block flex items-center m-0 {{if this.disabled "opacity-50"}}" onclick={{action this.handleRadioClick this.value}}>
  <input
    type="radio"
    name={{this.name}}
    value={{this.value}}
    class="block mr-1"
    checked={{this.shouldBeChecked}}
    disabled={{this.isDisabled}}
    data-test-radio-input={{this.testLabel}}
  >
  <span class="block radio-box mr-1"></span>
  <span class="block cursor-pointer">{{this.title}}</span>
</label>
