<label class="block flex items-center m-0">
  <input
    type="radio"
    name={{name}}
    class="block mr-1"
    checked={{shouldBeChecked}}
    disabled={{isDisabled}}
    data-test-radio-input={{testLabel}}
  >
  <span class="block radio-box mr-1"></span>
  <span class="block">{{title}}</span>
</label>
