<label>
  <span class="label-body">{{this.title}}</span>
  <textarea
    class="form-control {{if this.fieldErrors 'error'}}"
    value={{get this.changeset this.property}}
    oninput={{action (mut (get this.changeset this.property)) value="target.value"}}
    onblur={{action this.validateProperty}}
    autofocus={{this.autofocus}}
    placeholder={{this.placeholder}}
    data-test-textarea-input={{this.testLabel}}
  ></textarea>
</label>
{{#if this.fieldErrors}}
  <ul class="Form-errors">
    {{#each (get this.fieldErrors "validation") as |message|}}
      <li>{{message}}</li>
    {{/each}}
  </ul>
{{/if}}
