<div class="w-90vw max-w-xl mx-auto">
  <section data-test-integration-header class="pt-3">
    <div class="w-3/4 pb-3">
      <h1 class="text-xl font-semibold mb-sm">Set up GitHub</h1>
      <p class="text-secondary">
        The Percy GitHub app will automatically update the pull request summary if there are visual differences needing review, and will show which team member approved them. It will also help us provide smarter comparisons for you, by picking more relevant base builds. Check out the <strong><a href="https://docs.percy.io/docs/github" target="_blank" rel="noopener noreferrer">Percy + GitHub</a></strong> docs to learn more.
      </p>
    </div>
  </section>

  <section class="mb-9">
    <div class="bg-white rounded shadow-1 border-t mb-2">
      <div class="p-2">
        <div class="flex items-center mb-2">
          {{inline-svg "github-icon-lg" class="mr-1"}}
          <h2 class="text-xl font-semibold m-0">GitHub integration</h2>
        </div>

        <Organizations::RequireRole
          @role="admin"
          @user={{currentUser}}
          @organization={{organization}}
        >
        <div class="mb-2">
          {{#if (not (await isEligibleForGithubIntegration))}}
            To install the GitHub integration you first need to <LinkTo @route="settings.connected-accounts"> connect your GitHub account</LinkTo>.
          {{else}}
            <Organizations::GithubIntegrator @organization={{organization}} />

            {{#if organization.githubIntegration}}
              <Organizations::Integrations::RepoLinkerList @organization={{organization}} />
            {{/if}}
          {{/if}}
        </div>
        </Organizations::RequireRole>
      </div>


      <div class="flex justify-end px-2 pb-2">
        <LinkTo
          @route="organizations.organization.integrations.index"
          @model={{organization.slug}}
          class="percy-btn"
        >
          Back
        </LinkTo>
      </div>
    </div>
  </section>
</div>
