<div class="integration-item flex justify-between items-center p-2 border-b" data-test-integration-item>
  <div class="grid col-auto gap-1 text-xl font-semibold">
    <div class="flex items-center">{{inline-svg iconName}}</div>
    <div class="flex items-center leading-none" data-test-integration-name="{{routeSlug}}">
      {{textName}}
      {{#if hasBetaBadge}}
        <span class="badge" data-test-integration-beta-badge>Beta</span>
      {{/if}}
      {{#if isIntegrationDisabled}}
        <span class="status-pill mx-1" data-test-integration-disabled-badge>Disabled</span>
      {{/if}}
    </div>
  </div>

  {{#if isEnabled}}
    {{#percy-btn handleClick=(action "installButtonAction") class=buttonClasses}}
      {{buttonText}}
    {{/percy-btn}}
  {{else if (and isBeta isInstalled)}}
    <button
      class="btn btn-primary"
      data-test-integration-button-contact-us
      {{action "showSupport"}}
    >
      Contact Us
    </button>
  {{else if isBeta}}
    <a
      href="{{betaLink}}"
      target="_blank"
      class="percy-btn percy-btn-primary"
      data-test-integration-button-contact-us
    >
      Contact Us
    </a>
  {{/if}}
</div>
