<div class="integration-item flex justify-between items-center p-2 border-b" data-test-integration-item>
  <div class="grid col-auto gap-1 text-xl font-semibold">
    <div class="flex items-center">{{inline-svg this.iconName}}</div>
    <div class="flex items-center leading-none" data-test-integration-name="{{this.routeSlug}}">
      {{this.textName}}
      {{#if this.hasBetaBadge}}
        <span class="badge" data-test-integration-beta-badge>Beta</span>
      {{/if}}
      {{#if this.isIntegrationDisabled}}
        <span class="status-pill mx-1" data-test-integration-disabled-badge>Disabled</span>
      {{/if}}
    </div>
  </div>

  {{#if this.isEnabled}}
    <PercyBtn @handleClick={{action "installButtonAction"}} @class={{this.buttonClasses}}>
      {{this.buttonText}}
    </PercyBtn>
  {{else if (and this.isBeta this.isInstalled)}}
    <button
      class="btn btn-primary"
      type="button"
      data-test-integration-button-contact-us
      {{action "showSupport"}}
    >
      Contact Us
    </button>
  {{else if this.isBeta}}
    <a
      href="{{this.betaLink}}"
      target="_blank"
      rel="noopener noreferrer"
      class="percy-btn percy-btn-primary"
      data-test-integration-button-contact-us
    >
      Contact Us
    </a>
  {{/if}}
</div>
