<div data-test-slack-details-container>
  {{#if this.fetchedProjects}}
    {{#if this.showSlackIntegrationConfig}}
      <Forms::SlackIntegrationConfig
        @projectOptions={{this.projectOptions}}
        @slackIntegrationConfig={{this.slackIntegrationConfig}}
        @deleteSlackIntegrationConfig={{this.deleteSlackIntegrationConfig}}
        @saveSuccess={{action "slackConfigSaveSuccess"}}
      />
    {{else if this.showSlackIntegrationList}}
      <Organizations::Integrations::SlackSettings
        @projectOptions={{this.projectOptions}}
        @organization={{this.organization}}
        @connectSlackChannel={{this.connectSlackChannel}}
        @deleteSlackIntegration={{this.deleteSlackIntegration}}
      />
    {{/if}}
  {{/if}}
</div>
