<div data-test-slack-details-container>
  {{#if fetchedProjects}}
    {{#if showSlackIntegrationConfig}}
      <Forms::SlackIntegrationConfig @projectOptions={{projectOptions}} @slackIntegrationConfig={{slackIntegrationConfig}} @deleteSlackIntegrationConfig={{deleteSlackIntegrationConfig}} @saveSuccess={{action "slackConfigSaveSuccess"}} />
    {{else if showSlackIntegrationList}}
      <Organizations::Integrations::SlackSettings @projectOptions={{projectOptions}} @organization={{organization}} @connectSlackChannel={{connectSlackChannel}} @deleteSlackIntegration={{deleteSlackIntegration}} />
    {{/if}}
  {{/if}}
</div>
