<section class="px-2" data-test-slack-integration-item>
  <div class="bg-white rounded shadow-1 border-t p-2 mb-2">
    <div class="flex justify-between items-center mb-1">
      <div class="flex items-center">
        {{inline-svg "slack-icon" class="mr-1 mb-1"}}
        <h2 class="text-xl font-semibold mb-1">{{teamName}}: {{channelName}}</h2>
      </div>
      <button {{action "deleteSlackIntegration"}} class="flex center border border-red-100 p-1 h-auto" data-test-delete-integration-button>
        {{inline-svg "delete-icon"}}
      </button>
    </div>

    <div class="my-2">
      {{#each slackIntegrationConfigs as |slackIntegrationConfig|}}
        {{organizations/integrations/slack-config-item
          projectOptions=projectOptions
          slackIntegrationConfig=slackIntegrationConfig
          }}
      {{else}}
        <div class="rounded bg-yellow-000 border border-yellow-100 p-1" data-test-reminder>
          <strong>Note:</strong> There are no projects configured for Slack notifications to {{channelName}}
        </div>
      {{/each}}
    </div>

    <div>
      {{#link-to
        "organizations.organization.integrations.slack.slack-config"
        slackIntegration.organization.id
        slackIntegration.id
        "new"
      }}
        <button type="button" class="percy-btn percy-btn-primary" data-test-add-project-button>
          Add project
        </button>
      {{/link-to}}
    </div>
  </div>
</section>
