{{title (concat "Changelog " this.post.title)}}

<Marketing::MarketingHeader
  @logomark={{this.hero.logomark}}
  @image={{this.hero.mainImage}}
  @classes={{this.hero.classes}}
>
  <Marketing::HeroBlock @content={{this.hero}} />
</Marketing::MarketingHeader>

<section class="bg-gray-pattern border-t">
  <div class="w-90vw max-w-md mx-auto relative pt-8 pb-4">

    <div class="hidden sm:block absolute h-full bg-gray-100" style="width: 1px; top: 0; left: 116px;"></div>

    <ChangelogPost
      @postId={{this.post.id}}
      @tag={{this.post.tag}}
      @date={{moment-format this.post.date "MMM D, YYYY"}}
    >
      <h2>{{this.post.title}}</h2>
      <MarkdownToHtml @markdown={{this.post.content}} />
      {{#if this.post.image}}
        <img src="{{this.post.image.file.url}}" alt="{{this.post.image.description}}">
      {{/if}}
      <LinkTo
        @route="changelog.index"
        class="block text-center pb-2"
      >
        Show full changelog
      </LinkTo>
    </ChangelogPost>
  </div>
</section>

<MainFooter />
