{{title (concat "Changelog " post.title)}}

<Marketing::MarketingHeader @logomark={{hero.logomark}} @image={{hero.mainImage}} @classes={{hero.classes}}>
  <Marketing::HeroBlock @content={{hero}} />
</Marketing::MarketingHeader>

<section class="bg-gray-pattern border-t">
  <div class="w-90vw max-w-md mx-auto relative pt-8 pb-4">

    <div class="hidden sm:block absolute h-full bg-gray-100" style="width: 1px; top: 0; left: 116px;"></div>

    <ChangelogPost @postId={{post.id}} @tag={{post.tag}} @date={{moment-format post.date "MMM D, YYYY"}}>
      <h2>{{post.title}}</h2>
      {{markdown-to-html markdown=post.content}}
      {{#if post.image}}
        <img src="{{post.image.file.url}}" alt="{{post.image.description}}">
      {{/if}}
      <LinkTo @route="changelog.index" class="block text-center pb-2">
        Show full changelog
      </LinkTo>
    </ChangelogPost>
  </div>
</section>

<MainFooter />
