{{title (concat this.organization.name " settings | Percy") replace=true}}

<section class="pt-3">
  <Organizations::RequireRole
    @role="admin"
    @user={{this.currentUser}}
    @organization={{this.organization}}
  >
    <div class="bg-white rounded shadow-1 p-2 border-t">
      <h2 class="text-xl font-semibold mb-1">Organization settings</h2>
      <Forms::OrganizationEdit
        @organization={{this.organization}}
        @saveSuccess={{route-action "organizationUpdated"}}
      />
    </div>
  </Organizations::RequireRole>
</section>
