<div class="bg-gray-pattern pt-8 sm:pt-16 pb-4 sm:pb-8 border-b">
  <div class="flex">
    <div class="siema w-90vw max-w-lg mx-auto mb-4">
      {{#each this.quoteBlock.customerQuotes as |quote|}}
        <Marketing::CustomerQuote @quote={{quote}} />
      {{/each}}
    </div>
  </div>
  <div class="flex items-center justify-center mb-4">
    <button type="button" class="btn-icon-only mr-2 p-0" aria-label="previous quote" {{action "previous"}}>
      <figure class="svg-container">
        {{inline-svg "gallery-left" class="cursor-pointer"}}
      </figure>
    </button>
    {{#each this.quoteBlock.customerQuotes as |quote index|}}
      <div class="bg-purple-600 rounded-full mx-sm w-1 h-1 cursor-pointer {{if (eq index this.currentSlide) "w-2 h-2" "opacity-50"}}" {{action "switchToSlide" index}} role="button" data-test-quote-block-dot></div>
    {{/each}}
    <button type="button" class="btn-icon-only ml-2 p-0" aria-label="next quote" {{action "next"}}>
      <figure class="svg-container">
        {{inline-svg "gallery-right" class="cursor-pointer"}}
      </figure>
    </button>
  </div>
</div>
