<header class="marketing-header {{this.classes}} {{unless this.image.file.url "-mb-4 lg:-mb-6"}}">
  <div class="relative w-90vw max-w-xl mx-auto pb-8">
    <div style="bottom: -178px; left: -48px;" class="absolute">
      {{inline-svg "marketing/bubbles-1"}}
    </div>
    <div style="top: 64px; left: 128px;" class="absolute">
      {{inline-svg "marketing/bubbles-2" class="absolute top-0"}}
    </div>
    <div style="top: 128px; right: 128px;" class="absolute">
      {{inline-svg "marketing/bubbles-3" class="absolute right-0"}}
    </div>
    <div style="bottom: -178px; right: -48px;" class="absolute hidden lg:block">
      {{inline-svg "marketing/bubbles-4"}}
    </div>
    <Marketing::MenuBar @logomark={{this.logomark}} />
    {{yield}}
  </div>
</header>

{{#if this.image.file.url}}
  <div class="hero-main-image flex items-center relative w-90vw max-w-lg mx-auto">
    <ContentfulImage @file={{this.image.file}} />
  </div>
{{/if}}
