<div class="marketing-menu-bar relative flex justify-between items-center py-2 mb-8 z-1">

  <LinkTo @route="index" class="menu-bar-logomark block overflow-hidden">
    <img src="{{this.logomark.file.url}}" alt="Percy home page">
  </LinkTo>

  <div class="flex items-center">
    <div class="{{if this.isNavHidden "hidden lg:block"}}">
      <div style="top: 100%;" class="absolute lg:static right-0 left-0 bg-white lg:bg-transparent rounded shadow-purple-xl lg:shadow-none lg:items-center font-semibold flex flex-col lg:flex-row">
        <LinkTo @route="visual-testing" class="block p-2 lg:px-2 lg:py-1 text-purple-600 text-lg lg:text-nav border-b border-purple-300 lg:border-none hover:no-underline hover:text-purple-800">Visual Testing</LinkTo>
        <div class="menu-bar-item order-first lg:order-none cursor-pointer relative p-2 lg:px-2 lg:py-1 text-purple-600 border-b border-purple-300 lg:border-none lg:hover:text-purple-800">
          <LinkTo @route="features" class="block text-lg lg:text-nav text-purple-600 hover:text-purple-800 mb-1 lg:mb-0 hover:no-underline">Product</LinkTo>
          <ul style="top: 100%; left: 50%;" class="menu-bar-dropdown lg:shadow-purple-xl lg:w-64 lg:absolute lg:hidden mb-0 bg-white rounded list-none">
            <Marketing::MenuBarDropdownItem
              @tagName=""
              @text="Features"
              @linkRoute={{href-to "features"}}
              @icon="marketing/conveyor"
              @linkColor="text-purple-600"
            />
            <Marketing::MenuBarDropdownItem
              @tagName=""
              @text="How it works"
              @linkRoute={{href-to "how-it-works"}}
              @icon="marketing/green-tag-page"
              @linkColor="text-green-600"
            />
            <Marketing::MenuBarDropdownItem
              @tagName=""
              @text="Integrations"
              @linkRoute={{href-to "integrations"}}
              @icon="marketing/funnel"
              @linkColor="text-blue-500"
            />
          </ul>
        </div>

        <LinkTo @route="pricing" class="block p-2 lg:px-2 lg:py-1 text-purple-600 text-lg lg:text-nav border-b border-purple-300 lg:border-none hover:no-underline hover:text-purple-800">Pricing</LinkTo>

        <div class="menu-bar-item cursor-default relative p-2 lg:px-2 lg:py-1 text-purple-600 border-b border-purple-300 lg:border-none lg:hover:text-purple-800">
          <div class="block text-lg lg:text-nav text-purple-600 mb-1 lg:mb-0">Resources</div>
          <ul style="top: 100%; left: 50%;" class="menu-bar-dropdown lg:shadow-purple-xl lg:w-64 lg:absolute lg:hidden mb-0 bg-white rounded list-none">
            <Marketing::MenuBarDropdownItem
              @tagName=""
              @text="Blog"
              @linkRoute="https://blog.percy.io/"
              @target="_blank"
              @icon="marketing/blog-icon"
              @linkColor="text-green-500"
            />
            <Marketing::MenuBarDropdownItem
              @tagName=""
              @text="Case studies"
              @linkRoute={{href-to "customers"}}
              @icon="marketing/case-study-icon"
              @linkColor="text-purple-600"
            />
            <Marketing::MenuBarDropdownItem
              @tagName=""
              @text="Tutorials"
              @linkRoute="https://docs.percy.io/docs/example-apps"
              @target="_blank"
              @icon="marketing/tutorials-icon"
              @linkColor="text-blue-500"
            />
            {{#if (variation 'show-state-of-vt-link')}}
              <Marketing::MenuBarDropdownItem
                @tagName=""
                @text="State of Visual Testing"
                @linkRoute="https://go.percy.io/state-of-visual-testing-report-2020"
                @target="_blank"
                @icon="marketing/sovt-icon"
                @linkColor="text-orange-500"
              />
            {{/if}}
          </ul>
        </div>
        <a href="https://docs.percy.io" target="_blank" rel="noopener noreferrer" class="block p-2 lg:px-2 lg:py-1 text-purple-600 text-lg lg:text-nav hover:no-underline hover:text-purple-800">Docs</a>
      </div>
    </div>

    <div class="flex items-center">
      {{#if this.session.isAuthenticated}}
        <LinkTo @route="recent-project" class="btn btn-primary px-2 ml-2">Go to app</LinkTo>
      {{else}}
        <a href="" class="px-2 text-purple-600 font-semibold hover:no-underline hover:text-purple-800 cursor-pointer" {{action "clickLogin"}}>Login</a>
        <a href="" class="btn btn-primary ml-1" {{action "clickSignup"}}>Start for free</a>
      {{/if}}
      <div class="menu-icon p-2 -my-2 -mr-2 cursor-pointer lg:hidden" {{action "toggleIsNavHidden"}} role="button" data-test-responsive-nav-toggle>
        <div style="width: 16px; height: 14px;">
          <div class="menu-icon-line"></div>
          <div class="menu-icon-line"></div>
          <div class="menu-icon-line"></div>
          <div class="menu-icon-line"></div>
        </div>
      </div>
    </div>
  </div>
</div>
