<section class="animated-pricing-header-free-plan container container-lg mb-8">
  <div class="md:mx-1 mb-2">
    <div class="md:flex justify-between items-center bg-white-gradient-pattern h-full rounded p-2 md:px-4 shadow-purple-2">
      <div class="pt-2 px-2 md:pl-0">
        <h3 class="font-semibold mb-sm text-xl {{textClasses}}">Get started for free today</h3>
        <p>Try visual testing in your application in 10 minutes</p>
      </div>
      <div class="px-2 md:pl-0 mb-3 md:mb-0 font-semibold text-gray-500">
        <div>
          {{inline-svg "check-green-icon" class="mr-sm"}}
          10 team members
        </div>
        <div>
          {{inline-svg "check-green-icon" class="mr-sm"}}
          Demo app and unlimited projects
        </div>
        <div>
          {{inline-svg "check-green-icon" class="mr-sm"}}
          5,000 snapshots / month
        </div>
      </div>
      <div class="text-right">
        <a href="/signup" class="percy-btn percy-btn-primary percy-btn-md" data-test-pricing-card-cta>
          Start for free
        </a>
      </div>
    </div>
  </div>
</section>

<section class="{{if (not (is-test-env)) "animated-pricing-header"}} md:flex container container-lg mb-3">

  <div class="pricing-card-container md:mx-1">
    <div class="pricing-card bg-white-gradient-pattern shadow-purple-2">
      <div class="pt-2 px-2">
        <h3 class="pricing-card-name text-purple-600">{{essentialPlan.name}}</h3>
        <p>Instant access to visual testing with room to scale at your own pace.</p>

        <div class="mb-2">
          {{#each essentialPlan.features as |feature|}}
            <div class="font-semibold">{{feature}}</div>
          {{/each}}
        </div>
        <div class="font-semibold text-lg mb-1 text-gray-700" data-test-snapshot-count>
          {{format-number displaySnapshotCount}} snapshots / month
        </div>
      </div>

      <div class="px-2">
        {{range-slider
          min=essentialPlan.usageIncluded
          max=essentialPlanSliderSetup.maxRange
          step=essentialPlanSliderSetup.step
          value=displaySnapshotCount
          handleSliderMoved=(action "handleSliderMoved")
        }}
      </div>

      <div class="font-semibold text-gray-500 text-right" data-test-price-text>
        {{priceText}} <span class="tabular-nums text-purple-600 text-3xl" data-test-calculated-price>${{sliderCalculatedPrice}}</span>/mo
        <br>
        <span class="text-sm font-normal text-gray-300">Additional snapshots at ${{essentialPlan.overageUnitCost}}/snapshot</span>
      </div>
    </div>
  </div>

  <div class="pricing-card-container md:mx-1">
    <div class="pricing-card bg-white-gradient-pattern shadow-purple-2">
      <div class="pt-2 px-2">
        <h3 class="pricing-card-name text-orange-500">{{businessPlan.name}}</h3>
        <p>Increased capacity for your team to use visual testing to its full potential.</p>

        <div class="mb-2">
          {{#each businessPlan.features as |feature|}}
            <div class="font-semibold">{{feature}}</div>
          {{/each}}
        </div>
        <div class="font-semibold text-lg mb-4 text-gray-700">
          {{format-number businessPlan.usageIncluded}} snapshots / month
        </div>
      </div>

      <div class="font-semibold text-gray-500 text-right">
        Starting at <span class="text-gray-500 text-3xl">${{businessPlan.amount}}</span>/mo
        <br>
        <span class="text-sm font-normal text-gray-300">Additional snapshots at ${{businessPlan.overageUnitCost}}/snapshot</span>
      </div>
    </div>
  </div>

  <div class="pricing-card-container md:mx-1">
    <div class="pricing-card bg-white-gradient-pattern shadow-purple-2">
      <div class="pt-2 px-2">
        <h3 class="pricing-card-name text-gray-500">Enterprise</h3>
        <p>Visual testing solution for enterprise applications and teams.</p>

        <div class="mb-3">
          <div class="text-lg pb-1 inline-block font-semibold">
            World-class support, security, and scale.
          </div>
          <div class="font-normal leading-normal text-gray-700">
            We will work with you to create a custom plan to fit your business needs. Contact us to schedule a demo and we will get back to you within 2 business days.
          </div>
        </div>
      </div>
      {{#link-to 'schedule-demo' class="btn btn-md btn-gray btn-scale text-center w-full" data-test-pricing-card-cta=true}}
        Schedule a demo
      {{/link-to}}
    </div>
  </div>

</section>
