<section class="w-90vw max-w-lg mx-auto border-b pt-8 pb-4 md:py-16">
  <table class="w-full" style="table-layout: fixed;">
    <thead>
      <th class="sticky bg-white py-1">{{this.tableHeader.rowTitle}}</th>

      <th class="sticky bg-white py-1 text-lg text-green-600">
        {{#if this.tableHeader.xsmallCell}}
          {{this.tableHeader.xsmallCell}}
        {{/if}}
      </th>

      <th class="sticky bg-white py-1 text-lg text-purple-600">
        {{#if this.tableHeader.smallCell}}
          {{this.tableHeader.smallCell}}
        {{/if}}
      </th>

      <th class="sticky bg-white py-1 text-lg text-gray-600">
        {{#if this.tableHeader.largeCell}}
          {{this.tableHeader.largeCell}}
        {{/if}}
      </th>
    </thead>

    <tbody class="pricing-feature-table">
      {{#each this.table.pricingTableRows as |row index|}}
        {{#if (gt index 0)}}
          <Marketing::PricingTableRow @row={{row}} />
        {{/if}}
      {{/each}}
    </tbody>

  </table>
</section>
