<section class="{{if (not (is-test-env)) "animated-pricing-header"}} md:flex container container-lg mb-3">

  <div class="pricing-card-container pricing-card-container-short md:mx-1 md:mt-3">
    <div class="pricing-card bg-white-gradient-pattern shadow-purple-2">
      <div class="pt-2 px-2">
        <h3 class="pricing-card-name text-green-600">{{freePlan.name}}</h3>
        <p>Get started with visual testing for free with access to Percy's core features.</p>

        <div class="mb-2">
          <div class="font-semibold"> {{inline-svg "check-green-icon" class="mr-sm"}}{{freePlan.numTeamMembersTitle}}</div>
          <div class="font-semibold"> {{inline-svg "check-green-icon" class="mr-sm"}}Demo app and unlimited projects</div>
          <div class="font-semibold">{{inline-svg "check-green-icon" class="mr-sm"}}{{format-number freePlan.usageIncluded}} snapshots / month</div>
        </div>
      </div>

      {{#link-to "signup" class="btn btn-md btn-green btn-scale text-center w-full" data-test-pricing-card-cta=true}}
        Sign up for free
      {{/link-to}}
    </div>
  </div>

  <div class="pricing-card-container md:mx-1">
    <div class="pricing-card bg-white-gradient-pattern shadow-purple-2">
      <div class="pt-2 px-2">
        <h3 class="pricing-card-name text-purple-600">Professional</h3>
        <p>Scale at your own pace to get the visual coverage your team needs.</p>

        <div class="mb-2">
        </div>

        <div class="mb-2">
          <div class="flex">
            <div style="width: 85px;" class="leading-tight flex items-end p-1 text-sm font-normal text-gray-300">Plan</div>
            <div class="leading-tight flex items-end flex-2 p-1 text-sm font-normal text-gray-300">Snapshots Included</div>
            <div class="leading-tight flex items-end flex-1 p-1 text-sm font-normal text-gray-300">Base price</div>
          </div>
          <div class="flex rounded items-center {{if (eq selectedPlanRange 'Small') "bg-purple-200 border border-purple-600" "border border-transparent"}}">
            <div style="width: 85px; line-height: 1.2;" class="p-1">{{smallPlan.name}}</div>
            <div class="flex-2 p-1">{{format-thousands smallPlan.usageIncluded}}</div>
            <div class="flex-1 p-1">{{format-currency smallPlan.amount (hash precision=0)}}</div>
          </div>
          <div class="flex rounded items-center {{if (eq selectedPlanRange 'Medium') "bg-purple-200 border border-purple-600" "border border-transparent"}}">
            <div style="width: 85px;" class="p-1">{{mediumPlan.name}}</div>
            <div class="flex-2 p-1">{{format-thousands mediumPlan.usageIncluded}}</div>
            <div class="flex-1 p-1">{{format-currency mediumPlan.amount (hash precision=0)}}</div>
          </div>
          <div class="flex rounded items-center {{if (eq selectedPlanRange 'Large') "bg-purple-200 border border-purple-600" "border border-transparent"}}">
            <div style="width: 85px;" class="p-1">{{largePlan.name}}</div>
            <div class="flex-2 p-1">{{format-thousands largePlan.usageIncluded}}</div>
            <div class="flex-1 p-1">{{format-currency largePlan.amount (hash precision=0)}}</div>
          </div>
        </div>

        <div class="font-semibold text-lg mb-1 text-gray-700" data-test-snapshot-count>
          {{format-number displaySnapshotCount}} snapshots / month
        </div>
      </div>

      <div class="px-2">
        {{range-slider
          min=sliderSetup.minRange
          max=sliderSetup.maxRange
          step=sliderSetup.step
          value=displaySnapshotCount
          handleSliderMoved=(action "handleSliderMoved")
        }}
      </div>

      <div class="font-semibold text-gray-500 text-right" style="height: 70px;" data-test-price-text>
        {{#if (eq selectedPlanRange "Enterprise")}}
          <div class="text-lg">{{priceText}}</div>
        {{else}}
          {{priceText}}
          <span class="tabular-nums text-purple-600 text-3xl" data-test-calculated-price>${{format-number sliderCalculatedPrice}}</span>/mo
        {{/if}}
        <br>
        {{#unless (eq selectedPlanRange "Enterprise")}}
          <span class="text-sm font-normal text-gray-300">Additional snapshots at $0.006/snapshot</span>
        {{/unless}}
      </div>

      {{#if isEnterpriseSelected}}
        {{#link-to "enterprise" class="btn btn-md btn-purple btn-scale text-center w-full" data-test-pricing-card-cta=true}}
          Learn more
        {{/link-to}}
      {{else}}
        {{#link-to "signup" class="btn btn-md btn-purple btn-scale text-center w-full" data-test-pricing-card-cta=true}}
          Get started
        {{/link-to}}
      {{/if}}
    </div>
  </div>

  <div class="pricing-card-container pricing-card-container-short md:mx-1 md:mt-3">
    <div class="pricing-card bg-white-gradient-pattern shadow-purple-2">
      <div class="pt-2 px-2">
        <h3 class="pricing-card-name text-gray-500">Enterprise</h3>
        <p>Use visual testing to its full potential with a custom Enterprise plan.</p>

        <div class="mb-3">
          <div class="text-lg pb-1 inline-block font-semibold">
            World-class support, security, and scale.
          </div>
          <div class="font-normal leading-normal text-gray-700">
            We will work with your team to create a custom plan to fit your business needs.
          </div>
        </div>
      </div>
      {{#link-to "enterprise" class="btn btn-md btn-gray btn-scale text-center w-full" data-test-pricing-card-cta=true}}
        Learn more
      {{/link-to}}
    </div>
  </div>

</section>
