<section class="border-b border-purple-300 pt-8 pb-4 md:py-16 {{block.classes}}">
  <div class="w-90vw max-w-lg mx-auto">
    <div class="md:flex items-center {{if block.isImageLeftAligned "flex-row-reverse"}} {{if block.isImageCentered "flex-col"}}">
      <div class="flex-1 mb-6">
        {{#if block.header}}
          <h3 class="text-center text-2xl md:text-3xl lg:text-4xl font-bold leading-none mb-2 content-block-header">
            {{block.header}}
          </h3>
        {{/if}}
        {{#if block.subheader}}
          <div class="content-block-subheader text-secondary text-center mb-2 pt-2">
            <MarkdownToHtml @markdown={{block.subheader}} />
          </div>
        {{/if}}
      </div>
      {{#if block.isImagePresent}}
        <Marketing::VideoModal
          @videoEmbedUrl={{block.videoEmbedUrl}}
          @isVideoModalVisible={{isVideoModalVisible}}
          @toggleModalVisibility={{action (toggle "isVideoModalVisible" this)}}
        >
        <div class="flex-1 px-6 text-center mb-4 md:mb-0 {{if block.isImageCentered "md:mb-4"}}">
          {{! style="cursor:pointer" is necessary to translate touch events to html elements that aren't standardly clickable, like divs. If it is not present then the action will not fire in mobile browsers because the 'click' event won't be detected. }}
          {{! this is an old issue, but it explains the problem well https://github.com/emberjs/ember.js/issues/586#issuecomment-7827647 }}
          <div class="relative rounded overflow-hidden shadow-y-lg-purple-600" style="cursor: pointer" {{action (toggle "isVideoModalVisible" this)}} data-test-video-block-image>
            <ContentfulImage @file={{block.mainImage.file}} />
            <div class="flex justify-center items-center absolute top-0 bottom-0 w-full bg-translucent">
              <figure class="svg-container">
                {{inline-svg "video-play"}}
              </figure>
            </div>
          </div>
        </div>
        </Marketing::VideoModal>
      {{/if}}
    </div>
  </div>
</section>
