<FixedTopHeader @currentOrganization={{this.organization}} />

<DashboardNavWrapper
  @organization={{this.organization}}
  @showMemberLinks={{this.isUserMember}}
>
  {{#each this.enabledProjects as |project|}}
    <Organizations::ProjectCard
      @project={{project}}
      @organization={{this.organization}}
    />
  {{/each}}

  {{#if (and this.isUserMember (gt this.archivedProjects.length 0))}}
    {{#if this.isShowingArchivedProjects}}
      {{#each this.archivedProjects as |project|}}
        <Organizations::ProjectCard
          @project={{project}}
          @organization={{this.organization}}
        />
      {{/each}}
    {{else}}
      <div class="text-blue-500 my-2 cursor-pointer hover:text-blue-700" role="button" {{action (toggle "isShowingArchivedProjects" this)}} data-test-show-archived-projects>Show archived projects</div>
    {{/if}}
  {{/if}}
</DashboardNavWrapper>
