<div class="p-3 mb-1 leading-none">
  <div class="text-2xl text-secondary mb-1">
    Build <span class="font-mono font-normal tracking-sm text-primary mr-1">{{this.build.buildNumber}}</span>
  </div>
  <div class="text-lg mb-sm">
    <span class="font-semibold">{{this.build.totalSnapshotsUnreviewed}}</span> {{pluralize this.build.totalSnapshotsUnreviewed "unreviewed change" without-count=true}}
  </div>
  <div class="mb-2">
    <span class="text-primary font-semibold">{{this.build.totalSnapshots}}</span> {{pluralize this.build.totalSnapshots "total snapshot" without-count=true}}
  </div>

  <button type="button" class="btn btn-success w-full">Approve build</button>

  {{!-- <div>
    <Input
      @type="text"
      @value={{this.searchTerm}}
      @key-up={{action "updateSearchTerm"}}
      placeholder="Search snapshots"
      class="percy-input rounded h-10 m-0 px-1-1/2"
    />
  </div> --}}
</div>

<ul class="snapshot-name-list list-none">
  {{#each this.filteredSnapshots as |snapshot|}}
    <li class="px-3 mb-3 border-b">
      <LinkTo
        class="snapshot-name-list-item text-primary opacity-50"
        @route="organization.project.builds.build2.snapshot"
        @model={{snapshot.id}}
      >
        <div class="snapshot-name-list-image w-full mb-1 border rounded-sm {{if snapshot.isApproved 'border-green-500 bg-artboard-approved'}}">
          <div class="snapshot-name-list-image-container">
            {{simple-image image=snapshot.comparisons.firstObject.diffImage}}
            {{simple-image image=snapshot.comparisons.firstObject.headScreenshot.lossyImage}}
          </div>
          {{#if snapshot.isApproved}}
            <div class="absolute" style="top: 16px; right: 16px;">
              {{inline-svg "artboard-snapshot-approved"}}
            </div>
          {{/if}}
        </div>
        <div class="snapshot-name-list-item-title">
          {{snapshot.name}}
        </div>
      </LinkTo>
    </li>
  {{/each}}
</ul>
