<LinkTo
  class="snapshot-name-list-item text-primary opacity-50"
  @route="organization.project.builds.build2.snapshot"
  @model={{this.snapshot.id}}
>
  <div class="snapshot-name-list-image w-full mb-1 border rounded-sm">
    <div class="snapshot-name-list-image-container" style={{html-safe "background-image: url('" this.snapshot.comparisons.firstObject.headScreenshot.lossyImage.url "');"}}>
      <img style="background: rgba(255, 255, 255, .5)" src="{{this.snapshot.comparisons.firstObject.diffImage.url}}" alt="foo">
    </div>
    {{#if (or this.snapshot.isApproved this.snapshot.isRejected)}}
      <div
        class="absolute rounded-full {{if this.snapshot.isApproved 'bg-green-500' 'bg-orange-500'}}"
        style="top: -6px; right: -6px; width: 12px; height: 12px;">
      </div>
    {{/if}}
  </div>
  <div class="snapshot-name-list-item-title">
    {{#unless this.isCompactSidebar}}
      {{this.snapshot.name}}
    {{/unless}}
  </div>
</LinkTo>
