{{!-- template-lint-disable no-nested-interactive --}}
<header>
  <div class="master-detail-snapshot-header">
    <div class="flex items-center justify-between">
      <div class="flex items-center w-2/3">
        <div class="menu-icon-alt p-1 mr-2 cursor-pointer {{if this.isSnapshotListVisible 'is-closeable'}}" role="button" {{action this.toggleSnapshotListVisibility}}>
          <div style="width: 18px; height: 14px;">
            <div class="menu-icon-line-alt"></div>
            <div class="menu-icon-line-alt"></div>
            <div class="menu-icon-line-alt"></div>
          </div>
        </div>

        <div style="min-width: 0;">
          <div class="flex items-center" title="{{this.snapshot.name}}">
            {{#if this.snapshot.isRejected}}
              <div class="mr-1">
                <div class="px-1 py-sm tracking-px leading-none rounded text-xs text-center uppercase font-bold whitespace-no-wrap {{if (eq this.snapshot.reviewStateReason 'user_rejected_previously') 'border border-orange-500 text-orange-500' 'bg-orange-500 text-white'}}">
                  Changes requested
                </div>
              </div>
            {{else if this.snapshot.isApproved}}
              <div class="mr-1">
                <div class="px-1 py-sm tracking-px leading-none rounded text-xs text-center uppercase font-bold whitespace-no-wrap bg-green-500 text-white">
                  Approved
                </div>
              </div>
            {{/if}}
            <div class="cursor-default font-bold mr-1 text-md truncate">
              {{this.snapshot.name}}
            </div>
            <button
              type="button"
              class="btn-icon-only opacity-25 hover:opacity-100"
              title="Copy link to snapshot"
            >
              <ThemeSvg @svg="snapshot-link-icon" />
            </button>
          </div>
        </div>
      </div>

      <div class="btn-toolbar">
        {{#if this.isBuildApprovable}}
          <button type="button" class="percy-btn btn-square collaboration-toggle relative">
            <figure class="svg-container pt-xs">
              <ThemeSvg @svg="conversation-icon-add" />
            </figure>
          </button>
        {{/if}}

        {{#if this.snapshot.isUnreviewed}}
          <Build2::SnapshotRejectButton
            @snapshots={{array this.snapshot}}
            @isDisabled={{not this.isBuildApprovable}}
          />
        {{/if}}

        {{#if this.snapshot.build.isFinished}}
          <div class="btn-toolbar">
            <SnapshotApprovalButton
              @snapshot={{this.snapshot}}
              @hasDiffsInBrowser={{this.hasDiffsInBrowser}}
              @activeBrowser={{this.activeBrowser}}
              @createReview={{action "approveSnapshot"}}
              @isDisabled={{not this.isBuildApprovable}}
            />
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="master-detail-snapshot-sub-header">
    <div class="flex items-center justify-between">
      {{#if this.snapshot.build.isFinished}}
        <div class="btn-toolbar">
          <button type="button" class="percy-btn" {{action this.toggleOverlay}}>
            Diff overlay
            <span class="text-primary">
              {{#if this.showDiffOverlay}}
                on
              {{else}}
                off
              {{/if}}
            </span>
          </button>

          <div class="btn-toggle">
            <div class="btn-toggle-item icon-only is-selected" role="button">
              <div class="btn-toggle-item-content">
                <ThemeSvg @svg="split-view" />
              </div>
            </div>
            <div class="btn-toggle-item icon-only" role="button">
              <div class="btn-toggle-item-content">
                <ThemeSvg @svg="full-view" />
              </div>
            </div>
          </div>
        </div>
      {{/if}}

      <div class="flex-1 flex justify-end">
        {{#if this.snapshot.build.isFinished}}
          <div class="btn-toolbar">
            {{#if this.snapshot.build.hasMultipleBrowsers}}
              <Build2::BrowserSwitcher
                @browsers={{this.snapshot.build.browsers}}
                @activeBrowser={{this.activeBrowser}}
                @updateActiveBrowser={{this.updateActiveBrowser}}
                @build={{this.snapshot.build}}
              />
            {{/if}}

            <div class="flex-1 flex justify-start">
              <Build2::ComparisonSwitcher
                @comparisons={{if this.isShowingAllComparisons this.filteredComparisons.comparisons this.filteredComparisons.comparisonsWithDiffs}}
                @selectedWidth={{this.snapshotSelectedWidth}}
                @updateSelectedWidth={{this.updateSelectedWidth}}
              />
            </div>

            <div class="btn-toolbar gap-sm">
              <button type="button" class="percy-btn btn-square" {{action this.goToPreviousSnapshot}}>
                <ThemeSvg @svg="previous" />
              </button>

              <button type="button" class="percy-btn btn-square" {{action this.goToNextSnapshot}}>
                <ThemeSvg @svg="next" />
              </button>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</header>
