<LinkTo
  class="snapshot-name-list-item text-primary opacity-50"
  @route="organization.project.builds.build2.snapshot"
  @model={{this.snapshot.id}}
>
  <div class="snapshot-name-list-image w-full mb-1 border rounded-sm {{if this.snapshot.isApproved 'border-green-500 bg-artboard-approved'}} {{if this.snapshot.isRejected 'border-orange-500'}}">
    <div class="snapshot-name-list-image-container">
      <img src="{{this.snapshot.comparisons.firstObject.headScreenshot.lossyImage.url}}" alt="foo">
      {{!-- <img src="{{this.snapshot.comparisons.firstObject.diffImage.url}}" class="absolute top-0 left-0 z-1" alt="foo"> --}}
    </div>
    {{#if (or this.snapshot.isApproved this.snapshot.isRejected)}}
      <div class="absolute" style="top: 16px; right: 16px;">
        {{#if this.snapshot.isApproved}}
          {{inline-svg "artboard-snapshot-approved"}}
        {{else}}
          {{inline-svg "comparison-icon-requested-changes"}}
        {{/if}}
      </div>
    {{/if}}
  </div>
  <div class="snapshot-name-list-item-title">
    {{this.snapshot.name}}
  </div>
</LinkTo>
