{{title this.model.build.buildTitle}}

<div class="flex">
  <div style="scroll-behavior: smooth;" class="h-screen overflow-y-scroll border-r border-ternary {{if this.isSnapshotListVisible 'w-1/5' 'w-0 overflow-hidden'}}" id="snapshot-list-sidebar">
    <div class="p-3 mb-1 leading-none bg-primary sticky top-0 z-1">
      <div class="flex items-center justify-between text-2xl text-secondary mb-1">
        <div>
          Build <span class="font-mono font-normal tracking-sm text-primary mr-1">{{this.build.buildNumber}}</span>
        </div>
        <button type="button" class="btn-icon-only opacity-25 hover:opacity-100 cursor-pointer" {{action "toggleSearchInput"}}>
          <ThemeSvg @svg="search-icon" />
        </button>
      </div>
      <div class="mb-2">
        {{#if this.isSearchVisible}}
          <Input
            @type="text"
            @value={{this.searchTerm}}
            @key-up={{action "updateSearchTerm"}}
            placeholder="Search snapshots"
            class="percy-input rounded h-10 m-0 px-1-1/2"
          />
        {{/if}}
      </div>

      <div class="text-lg mb-sm">
        <span class="font-semibold">{{this.build.totalSnapshotsUnreviewed}}</span> {{pluralize this.build.totalSnapshotsUnreviewed "unreviewed change" without-count=true}}
      </div>
      <div class="mb-2">
        <span class="text-primary font-semibold">{{this.build.totalSnapshots}}</span> {{pluralize this.build.totalSnapshots "total snapshot" without-count=true}}
      </div>

      <Build2::BuildApprovalButton @build={{this.build}} />
    </div>

    <Build2::SnapshotNameList
      @snapshots={{this.snapshots}}
      @build={{this.model.build}}
      @searchTerm={{this.searchTerm}}
    />
  </div>

  <div class="h-screen overflow-y-scroll {{if this.isSnapshotListVisible 'w-4/5' 'w-full'}}">
    {{outlet}}
  </div>
</div>
