{{title this.model.build.buildTitle}}

<div class="flex">
  <Build2::SnapshotListSidebar
    @isSnapshotListVisible={{this.isSnapshotListVisible}}
    @snapshots={{this.snapshots}}
    @build={{this.build}}
    @buildModel={{this.model.build}}
    @searchTerm={{this.searchTerm}}
    @isSearchVisible={{this.isSearchVisible}}
    @updateSearchTerm={{action "updateSearchTerm"}}
    @toggleSearchInput={{action "toggleSearchInput"}}
    @clearSearchTerm={{action "clearSearchTerm"}}
  />

  <div class="h-screen overflow-y-scroll {{if this.isSnapshotListVisible 'flex-1' 'w-full'}}">
    {{outlet}}
  </div>
</div>
