<section class="container-xl pt-4">
  {{#unless model.project.isEnabled}}
    <div class="Alert Alert--warning mt-2">
      <strong>This project is archived.</strong>
    </div>
  {{/unless}}
  {{#if model.project.isEnabled}}
    <div class="bg-white rounded shadow-1 p-2 mb-2">
      <h2 class="text-xl font-semibold mb-1">Browsers</h2>
      <p class="text-gray-400 mb-2">
        This setting lets you change which browser your snapshots are created in. Better yet, you can enable multiple browsers for cross browser testing snapshots! {{#link-to "docs.page" "learn/cross-browser-visual-testing"}}See docs{{/link-to}}
      </p>
      <div class="p-2 bg-gray-000 rounded border">
        {{projects/browser-family-selector
          allBrowserFamilies=model.browserFamilies
          project=model.project
          removeProjectBrowserTargetForFamily=(route-action "removeProjectBrowserTargetForFamily")
          addProjectBrowserTargetForFamily=(route-action "addProjectBrowserTargetForFamily")
        }}
      </div>
    </div>

    <div class="bg-white rounded shadow-1 p-2 mb-2">
      <h2 class="text-xl font-semibold mb-1">Project details</h2>
      {{forms/project-edit
        project=model.project
      }}
    </div>

    <div class="bg-white rounded shadow-1 p-2 mb-2">
      <h2 class="text-xl font-semibold mb-sm">Environment variables for CI</h2>
      <p class="text-gray-400 mb-2">See the {{#link-to "docs" class="font-semibold"}}docs{{/link-to}} for how to set up client authentication for your app.</p>
      <div class="p-2 bg-gray-000 rounded border">
        {{projects/env-vars project=model.project}}
        <div class="rounded bg-yellow-000 border border-yellow-100 p-2">
          <strong>Reminder:</strong> <code>PERCY_TOKEN</code> is a project-specific, write-only API key that only has access to create builds, snapshots, and upload resources to this project. It should be kept secret.
        </div>
      </div>
    </div>

    <div class="bg-white rounded shadow-1 p-2 mb-2">
      <h2 class="text-xl font-semibold mb-sm">Link a repository</h2>
      {{projects/repo-integrator project=model.project}}
      {{#if (eq model.project.diffBase "manual")}}
        <h2 class="text-xl font-semibold mb-1 mt-3">Diff base config</h2>
        <div class="Alert Alert--warning">
          <strong>Deprecated:</strong> Manual diff base mode is deprecated and may be removed in the future. Switching to Automatic diff base is encouraged, and cannot be undone.
        </div>
        {{projects/diff-base-settings project=model.project}}
      {{/if}}
    </div>

    {{projects/webhook-config-list
      webhookConfigs=model.webhookConfigs
      deleteWebhookConfig=(route-action "deleteWebhookConfig")
    }}

    <div class="bg-white rounded shadow-1 p-2 mb-2">
      <h2 class="text-xl font-semibold mb-1">Percy badge</h2>
        <img src="https://percy.io/static/images/percy-badge.svg">
        <div>
          <label>
            <div class="mb-1">Show the world that you're using Percy for visual testing. Place this badge in your README by copying the markdown snippet below:</div>
            <div class="flex justify-between">
              <textarea readonly=true class="w-full font-mono text-sm">{{badgeMarkdown}}</textarea>
              {{#copy-button
                class="percy-btn ml-1"
                clipboardText=badgeMarkdown
                success=(route-action "onCopyBadgeMarkdown")
              }}
                {{fa-icon "copy"}}
              {{/copy-button}}
            </div>
          </label>
        </div>
    </div>
  {{/if}}

  <div class="bg-white rounded shadow-1 p-2 mb-2">
    <h2 class="text-xl font-semibold mb-1">Actions</h2>
    {{projects/enabled-toggle project=model.project}}
  </div>
</section>
