<div class="bg-white rounded shadow-1 border-t p-2 mb-2" data-test-billing-settings>
  <h2 class="text-xl font-semibold mb-1">Billing settings</h2>
  <div class="p-2 bg-gray-000 rounded border mb-2">
    <div class="flex">
      <div class="BillingSection-left-col mr-3 pr-2"></div>
      <div class="flex-1">
      {{#if (and (not isEmailEditShowing) (not isCardEditShowing))}}

        <div data-test-billing-email>Billing Email: <strong>{{subscription.billingEmail}}</strong> <span class="text-blue-500 cursor-pointer" role="button" {{action "showEmailEdit"}} data-test-open-edit-email>Edit</span></div>

        {{#if subscription.paymentMethod}}
          <div data-test-billing-card-present>Credit card: <strong>{{subscription.paymentMethod.displayLabel}}</strong> <span class="text-blue-500 cursor-pointer" role="button" {{action "showCardEdit"}} data-test-open-edit-card>Edit</span></div>
        {{else}}
          <div data-test-billing-card-not-present>Credit card: No credit card found for this organization. <span class="text-blue-500 cursor-pointer" role="button" {{action "showCardEdit"}} data-test-open-edit-card>Add card</span></div>
        {{/if}}

      {{else if isEmailEditShowing}}
        <Forms::BillingEdit
          @subscription={{subscription}}
          @saveSuccess={{action "afterEmailUpdate"}}
          @hideForm={{action "hideEmailEdit"}}
          @class="mb-2"
        />
      {{else if isCardEditShowing}}
        <Organizations::BillingCardUpdater
          @organization={{organization}}
          @updateCreditCard={{updateCreditCard}}
          @hideForm={{action "hideCardEdit"}}
        />
      {{/if}}
      </div>
    </div>
  </div>
</div>
