{{!-- TODO: #billingadmins --}}
<section class="container-xl pt-3 pb-9" data-test-billing-section-container>
  {{#unless (or isUserOrgAdmin (is-admin))}}
    <div data-test-member-view class="Alert Alert--error" >
      <strong>Changing billing settings requires organization admin permissions.</strong>
    </div>
  {{else}}
    {{#if (and (not isUserOrgAdmin) (is-admin))}}
      <div class="bg-red-300 p-1 mt-1 mb-3 text-center font-bold" style="background: linear-gradient(to right, var(--red-100) 25%, var(--red-300) 100%, var(--red-800) 50%);">
         This page is only visible to you as a Percy superuser with admin mode enabled.
      </div>
    {{/if}}

    <section data-test-admin-view>
      {{organizations/current-plan
        organization=organization
        currentUsageStats=currentUsageStats
      }}

      {{organizations/subscription-list
        organization=organization
      }}

      <div class="bg-white rounded shadow-1 border-t p-2 mb-2">
        <h2 class="text-xl font-semibold mb-1">Invoice settings</h2>
        {{forms/billing-edit subscription=subscription}}
      </div>

      {{#if subscription.hasCreditCard}}
        <div class="bg-white rounded shadow-1 border-t p-2 mb-2">
          <h2 class="text-xl font-semibold mb-1">Billing details</h2>
          {{organizations/billing-card-updater
            organization=organization
          }}
        </div>
      {{/if}}
    </section>
  {{/unless}}
</section>
