<StripeCard
  data-test-billing-card-updater-stripe-card={{true}}
  @options={{this.stripeOptions}}
  @change={{action 'checkCard'}}
  as |stripeElement stripeError|
>
  {{#if stripeError}}
    <p class="error">{{stripeError.message}}</p>
  {{/if}}
  <div class="flex justify-start mt-2">
    <PercyBtn
      @handleClick={{action "submitCardUpdate" stripeElement this.planId}}
      @isPrimaryButton={{true}}
      @isDisabled={{not this.isCardValid}}
      @isSaving={{this.isSaving}}
      @class="mr-2"
      @testLabel="submit"
    >
      Update card
    </PercyBtn>
    <PercyBtn
      @handleClick={{action "cancel"}}
      @testLabel="cancel"
    >
      Cancel
    </PercyBtn>
  </div>
</StripeCard>
