<div class="bg-white rounded shadow-1 border-t p-2 mb-2" data-test-current-usage-stats>
  <h2 class="text-xl font-semibold mb-1">Current billing period</h2>
  <div class="rounded border py-2 bg-gray-000">
    {{#if (not currentUsageStats)}}
      <div class="flex justify-center px-2">
        <figure class="svg-container">
          {{inline-svg "loader-icon"}}
        </figure>
      </div>
    {{else}}
      <div class="border-b pb-2 px-2 font-semibold">
        <span class="text-2xl">
          {{format-currency currentUsageStats.currentCostDollars}}
        </span>
        <span class="text-lg text-gray-300">
          current estimated costs
        </span>
      </div>
      <div class="flex items-center pt-2 px-2 font-semibold">
        {{inline-svg "comparison-icon" class="mr-1"}}
        <span class="text-base mr-sm">{{format-number currentUsageStats.total}}</span>

        <span class="text-gray-300">snapshots {{snapshot-explanation-tooltip}} used (out of {{format-number plan.usageIncluded}})</span>
      </div>
    {{/if}}
  </div>
</div>
