{{#if this.currentIntegration}}
  <Organizations::GithubIntegration @organization={{this.organization}} />
{{else}}
  {{#if this.organization.githubIntegrationRequest}}
    <Organizations::GithubIntegration
      @organization={{this.organization}}
      @cancelIntegrationRequest={{action "cancelIntegrationRequest"}}
    />
  {{else}}
    <div class="mb-2">
      <a
        data-test-github-app-install-button
        href="{{this.githubIntegrationUrl}}"
        class="percy-btn percy-btn-primary"
        target="_blank"
        rel="noopener noreferrer"
        {{action "triggerInstallation"}}>
        {{fa-icon "github" classNames="fa--left"}}
        Install GitHub App
      </a>
    </div>

    <div class="rounded bg-yellow-000 border border-yellow-100 p-2 mb-2">
      <strong>Note:</strong> GitHub requires that you have the "owner" role in an organization to add integrations.
    </div>
  {{/if}}
{{/if}}
