<div data-test-manage-users-list>
  <section class="pb-9">
    {{#if invites}}
      <div class="px-4 pt-2 pb-sm text-sm text-gray-300 font-semibold border-b">{{pluralize invites.length "pending invitation"}}</div>

      {{#each invites as |invite|}}
        <Organizations::InviteCard @invite={{invite}} @organization={{organization}} />
      {{/each}}
    {{/if}}


    <div class="bg-white flex px-4 pb-sm border-b z-1 leading-none pt-8" data-test-manage-users-users-header>
      <div style="min-width: 200px" class="flex-1 text-sm text-gray-300 font-semibold pr-2">Name</div>
      <div style="min-width: 100px" class="flex-1 text-sm text-gray-300 font-semibold">Role</div>
      <div class="flex-1 text-sm text-gray-300 font-semibold">Joined on</div>
      {{#if isAdmin}}
        <div class="flex-1 text-sm text-gray-300 font-semibold">Identities<sup class="hint--left hint--rounded hint--bounce" aria-label="These are the ways in which this user can log in to Percy.&#10;You can manage your own identities on your profile page found via the top right menu.">{{fa-icon "info-circle"}}</sup></div>
      {{/if}}
      <div class="flex-1"></div>
    </div>

    {{#each organizationUsers as |organizationUser|}}
      <Organizations::UserCard @organizationUser={{organizationUser}} @isViewerAdmin={{isAdmin}} />
    {{/each}}
  </section>
</div>
