<div class="flex h-screen-header">
  <div class="flex flex-1 items-center md:max-w-sm bg-white border-r">
    <div>
      {{#if this.isGithubPurchase}}
        <section class="px-4 mb-4 {{unless this.needsGithubIdentity 'opacity-25 pointer-events-none'}}" data-test-setup-github-section>
          <h2 class="text-xl font-semibold mb-sm">Continue your Marketplace Setup</h2>
          <p class="text-secondary">
            Link your GitHub account to complete your Marketplace Purchase.
          </p>
          <div class="flex items-center justify-between">
            <div class="flex items-center">
              {{inline-svg "github-icon-lg" class="mr-1"}}
              {{#if this.hasGithubIdentity}}
                <div
                  class="font-mono font-normal tracking-sm flex items-center mr-1"
                  data-test-setup-github-account
                >
                  {{#if this.githubIdentity.nickname}}
                    {{this.githubIdentity.nickname}}
                  {{else}}
                    {{this.githubIdentity.user.name}}
                  {{/if}}
                </div>

              {{else}}
                <button
                  type="button"
                  name="button"
                  class="btn btn-github shadow-dark-lg"
                  data-test-setup-github-connect-button
                  {{action "connectGithub"}}
                >
                  Connect your Github Account
                </button>
              {{/if}}
            </div>
            <div>
              {{#if this.hasGithubIdentity}}
                {{inline-svg "check-green-icon"}}
              {{/if}}
            </div>
          </div>
        </section>
      {{/if}}

      <section class="px-4 {{if this.needsGithubIdentity "opacity-25 pointer-events-none"}}">
        {{#if this.isFirstOrganization}}
          <h2 class="text-xl font-semibold mb-sm">Let's get started</h2>
          <p class="text-secondary">
            We need you to answer just a few questions so that we can get you tailored instructions to setup Percy for your specific environment.
          </p>
          <p class="text-secondary">
            If your organization already has Percy set up, ask an administrator to send you an invite.
          </p>
        {{else}}
          <h2 class="text-xl font-semibold mb-sm">Create an Organization</h2>
          <p class="text-secondary">
            Let's start by creating a new organization to contain your projects. After setup, you can invite team members to join your organization.
          </p>
          <p class="text-secondary">
            If your organization already has Percy set up, ask an administrator to send you an invite.
          </p>
        {{/if}}
        <Forms::OrganizationNew
          @isFirstOrganization={{this.isFirstOrganization}}
          @model={{this.newOrganization}}
          @userIdentities={{this.userIdentities}}
          @saveSuccess={{this.organizationCreated}}
          @needsGithubIdentity={{this.needsGithubIdentity}}
        />
      </section>
    </div>
  </div>
  <div class="hidden md:flex flex-1 items-center justify-center bg-gray-000 bg-white-pattern">
    {{inline-svg "percy-logo-lg-on-light"}}
  </div>
</div>
