<div class="border-b leading-none" data-test-project-list-item>
  <div class="flex justify-between items-center">
    <LinkTo @route="organization.project" @models={{array organization.slug project.slug}} class="flex-1 block py-3 text-primary hover:no-underline hover:text-purple-600" data-test-project-link={{true}}>
      <div class="flex items-center mb-1">
        {{#if project.publiclyReadable}}
          <div class="mr-1 hint--top hint--rounded hint--bounce" aria-label="Public project">
            {{fa-icon data-test-public-project-icon "globe" class="text-lg text-blue-500"}}
          </div>
        {{/if}}
        <div class="text-2xl mr-1">
          {{project.name}}
        </div>
        {{#if project.isDisabled}}
          <LabelTag @class="mr-2">
            archived
          </LabelTag>
        {{/if}}
        {{#if project.isDemo}}
          <LabelTag @class="mr-2">
            demo
          </LabelTag>
        {{/if}}
      </div>

      <div class="text-sm text-secondary font-semibold">
        Updated {{moment-from-now project.updatedAt interval=60000}}
      </div>
    </LinkTo>

    {{#if project.repo}}
      <div class="flex items-center">
        <figure class="svg-container mr-1">
          {{#if (repo-logo project.repo)}}
            {{inline-svg (repo-logo project.repo)}}
          {{/if}}
        </figure>
        <span class="whitespace-no-wrap font-semibold mr-1">Linked to</span>
        <a href="{{project.repo.htmlUrl}}"><code>{{project.repo.slug}}</code></a>
      </div>
    {{/if}}
  </div>
</div>
