<div class="bg-white rounded shadow-1 border-t b p-2 mb-2 Form" data-test-subscription-list>
  <div class="flex justify-between">
    <h2 class="text-xl font-semibold mb-1 inline-block">Update plan</h2>
    <div>{{inline-svg "powered-by-stripe"}}</div>
  </div>

  <div class="p-2 bg-gray-000 rounded border mb-2">

    {{#each subscriptionData.PLANS as |planData|}}
      {{#unless (eq planData.id "free")}}
        <div class="flex items-center pb-1">
          <div class="items-start mr-3 pr-2 text-xl font-semibold BillingSection-left-col" data-test-plan-item>
            <FormFields::Radio
              @name="planSelector"
              @value={{planData.id}}
              @title={{planData.name}}
              @disabled={{eq planData.id plan.id}}
              @shouldBeChecked={{eq planData.id selectedPlanId}}
              @handleRadioClick={{action "clickNewPlan"}}
              @testLabel={{planData.id}}
            />
          </div>
          <div class="flex-1"><strong>{{format-number planData.usageIncluded}}</strong> snapshots/month included. {{planData.numTeamMembersTitle}}</div>
        </div>
      {{/unless}}
    {{/each}}

    {{#if (or shouldShowInputs isEmailOrCardSaving)}}
      <div class="pt-2 mb-2">
        <label><span class="label-body">Card number</span></label>
        {{#stripe-card
          data-test-stripe-card-input
          options=stripeOptions
          change=(action "checkCard")
          as |stripeElement stripeError|}}
          {{#if stripeError}}
            <p class="error">{{stripeError.message}}</p>
          {{/if}}

          <div class="my-2">
            <FormFields::Input
              @property="billingEmail"
              @title="Billing email (for payment receipts)"
              @changeset={{subscriptionChangeset}}
              @testLabel="billing-email"
            />
          </div>

          <div class="flex mt-1 items-center">
            <div class="mr-3 pr-2 BillingSection-left-col" data-test-submit-inputs>
              {{!-- This button is for submitting plan updates when the credit card form IS visible --}}
              <PercyBtn
                @isPrimaryButton={{true}}
                @isDisabled={{not isSubmitWithInputsEnabled}}
                @handleClick={{action "submitSubscriptionStart" stripeElement}}
                @isSaving={{isEmailOrCardSaving}}
              >
                Upgrade plan
              </PercyBtn>
            </div>
            <div class="flex-1 items-start mr-3 pr-2">
              <Organizations::SubscriptionList::PlanInfo @selectedPlanId={{selectedPlanId}} />
            </div>

          </div>
        {{/stripe-card}}
      </div>
    {{else}}

      {{!-- This button is for submitting plan updates when the credit card form is NOT visible --}}
      <div class="flex items-center mt-1">
        <div class="mr-3 pr-2 BillingSection-left-col" data-test-submit-plan>
          <PercyBtn @isPrimaryButton={{true}} @isDisabled={{not isSubmitWithoutInputsEnabled}} @handleClick={{action "submitSubscriptionUpdate"}} @isSaving={{isSubscriptionSaving}}>
            Update plan
          </PercyBtn>
        </div>
        <div class="flex-1 items-start mr-3 pr-2">
          <Organizations::SubscriptionList::PlanInfo @selectedPlanId={{selectedPlanId}} />
        </div>
      </div>
    {{/if}}
  </div>
</div>
