<div style="height: 26px;" class="flex items-center px-1 bg-purple-300 rounded-r cursor-pointer" {{action "toggleSwitcher"}} data-test-toggle-org-switcher>
  <figure class="svg-container">
    {{inline-svg "dropdown-icon-purple"}}
  </figure>
</div>
{{#if isExpanded}}
  <div class="PageClickOverlay" {{action "hideSwitcher"}}></div>
  <div class="OrganizationsSwitcherNav-arrow">{{fa-icon "caret-up"}}</div>
  <div class="OrganizationsSwitcherNav-switcher" {{action "hideSwitcher"}}>
    {{#link-to data-test-new-org "organizations.new" classNames="Button Button--onDark Button--withLeftIcon"}}
      {{fa-icon "plus-circle fa--left"}} Create new organization
    {{/link-to}}
    {{#if isOrganizationsLoading}}
      {{loading-page}}
    {{else}}
      <ul>
        {{#each userOrganizations as |org|}}
          <li data-test-org-switcher-item>
            {{#link-to data-test-org-switcher-link "organization.index" org.slug classNames="OrganizationsSwitcherNav-item"}}
              {{org.name}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
{{/if}}
