<section class="w-90vw max-w-xl mx-auto pt-3 pb-9" data-test-usage-section-container>
  <section>
    <div class="bg-white rounded shadow-1 border-t p-2 mb-2" style="min-height: 363px;" data-test-graph-container>
      <h2 class="text-xl font-semibold mb-1">Usage history</h2>
      <Organizations::BillingUsageGraphHeader @currentUsageStats={{currentUsageStats}} @subscription={{subscription}} />
      <Organizations::BillingUsageGraph @currentUsageStats={{currentUsageStats}} @subscription={{subscription}} />
    </div>

    {{#if subscription.isPaid}}
      <div class="bg-white rounded shadow-1 border-t p-2 mb-2">
        <Forms::UsageNotificationSetting @organization={{organization}} @setting={{usageNotificationSetting}} />
      </div>
    {{/if}}
  </section>
</section>
