<section class="w-90vw max-w-xl mx-auto pt-3 pb-9" data-test-usage-section-container>
  <section>
    <div class="bg-white rounded shadow-1 border-t p-2 mb-2" style="min-height: 363px;" data-test-graph-container>
      <h2 class="text-xl font-semibold mb-1">Usage history</h2>
      <Organizations::BillingUsageGraphHeader
        @currentUsageStats={{this.currentUsageStats}}
        @subscription={{this.subscription}}
      />
      <Organizations::BillingUsageGraph
        @currentUsageStats={{this.currentUsageStats}}
        @subscription={{this.subscription}}
      />
    </div>

    <div class="reminder-note mb-2">
      <strong>Note:</strong> A screenshot is a rendering of a page or component in an individual browser and responsive width combination. For example, one page rendered across two browsers and three widths would result in six screenshots.
    </div>

    {{#if this.subscription.isPaid}}
      <div class="bg-white rounded shadow-1 border-t p-2 mb-2">
        <Forms::UsageNotificationSetting
          @organization={{this.organization}}
          @setting={{this.usageNotificationSetting}}
        />
      </div>
    {{/if}}
  </section>
</section>
