<div data-test-user-card class="user-card bg-white border-b">
  <div class="px-4 py-3 flex items-center">
    <div style="min-width: 200px" class="flex flex-1 items-center pr-2">
      {{user-avatar class="flex-none mr-2" user=organizationUser.user}}
      <div data-test-user-name class="font-semibold truncate leading-none">
        {{organizationUser.user.name}}
      </div>
    </div>
    <div data-test-user-role style="min-width: 100px" class="flex-1 leading-none">
      {{#label-tag isPrimaryTag=(eq "Administrator" roleTitle)}}
        {{roleTitle}}
      {{/label-tag}}
    </div>
    <div data-test-user-join-date class="flex-1 leading-none text-gray-400">
      {{moment-format organizationUser.createdAt 'MMMM D, Y'}}
    </div>
    <div class="user-card-actions flex-1 opacity-0 flex justify-end">
      <div data-test-user-button-toolbar class=" btn-toolbar">
        {{#if isCurrentUser}}
          {{#percy-btn handleClick=(action "removeUser")}}
            Leave organization
          {{/percy-btn}}
        {{else}}
          {{#if (eq "member" role)}}
            {{#percy-btn isDisabled=(unless isAdmin true) handleClick=(action "setRole" "admin")}}
              Make admin
            {{/percy-btn}}
          {{else}}
            {{#percy-btn isDisabled=(unless isAdmin true) handleClick=(action "setRole" "member")}}
              Make member
            {{/percy-btn}}
          {{/if}}
          {{#percy-btn isDisabled=(unless isAdmin true) handleClick=(action "removeUser")}}
            Remove
          {{/percy-btn}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
