{{head-layout}}
{{title "Percy | Visual testing as a service"}}
{{outlet}}

{{#if confirm.showPrompt}}
  <div class="confirm-container bg-white rounded border z-top flex flex-col shadow-purple-lg" data-test-confirm-dialog>
    <div class="flex items-center justify-center bg-purple-200 px-2 py-1">{{confirm.title}}</div>
    <div class="flex items-center px-2 py-1">{{confirm.message}}</div>
    <div class="flex items-center px-2 py-1 justify-end">
      {{#percy-btn class="mr-1" handleClick=(action "cancel" target=this.confirm) testLabel="cancelConfirm"}}Cancel{{/percy-btn}}
      {{#percy-btn isPrimaryButton=true handleClick=(action "confirm" target=this.confirm) testLabel="goAhead"}}Continue{{/percy-btn}}
    </div>
  </div>
{{/if}}

{{#if flashMessages.queue}}
  <div class="flash-message-container z-top">
    {{#each flashMessages.queue as |flash|}}
      {{#flash-message flash=flash classNames=(concat "flash-message-" flash.type (if flash.sticky ' flash-message-sticky')) as |component flash|}}
        <div class="flash-message-detail flash-message-detail-{{flash.type}} flex justify-center items-center">
          <figure class="svg-container">
            {{inline-svg (concat "flash-" flash.type "-icon")}}
          </figure>
        </div>
        <div class="px-2 py-1">
          <div class="text-base font-semibold">{{flash.title}}</div>
          <p class="text-base text-gray-400 mb-0">{{flash.message}}</p>
        </div>
        <div class="flash-message-close flex justify-center items-center cursor-pointer">
          <figure class="svg-container">
            {{inline-svg "close-icon"}}
          </figure>
        </div>
      {{/flash-message}}
    {{/each}}
  </div>
{{/if}}
