{{title "Error"}}
{{fixed-top-header}}
<div class="w-full container-vh bg-white-pattern flex items-center justify-center">
  {{#if (is-substring-present model '403')}}

    {{#status-panel
      inlineSvgName="error-large-icon"
      mainText="Access Denied"
    }}
      <p class="alt-p text-gray-400">
        <strong>Open Source Projects: </strong>
        If this is an open source project, you can ask an administrator to make the project public.
      </p>
      <p class="alt-p text-gray-400">
        <strong>Private Projects: </strong>
        If you should have access, please ask an administrator to send you an invite to join this organization.
      </p>
      <p class="alt-p text-gray-400">
        Please feel welcome to <a href="#" {{action "showSupport"}}>contact us</a> if you believe you have reached this in error.
      </p>
    {{/status-panel}}
  {{else if (is-substring-present model '404')}}

    {{#status-panel
      inlineSvgName="error-large-icon"
      mainText="Not Found"
      secondaryText="This resource was not found in Percy."
    }}
      <p class="alt-p text-gray-400">
        Feel free to <a href="#" {{action "showSupport"}}>contact us</a> if you believe you have reached this in error.
      </p>
      {{error-toggle error=model}}
    {{/status-panel}}
  {{else}}

    {{#status-panel
      inlineSvgName="error-large-icon"
      mainText="Uh Oh ..."
      secondaryText="Something went wrong, sorry! This error has been reported and we will look into it."
    }}
      <p class="alt-p text-gray-400">
        Feel free to <a href="#" {{action "showSupport"}}>contact us</a> if you believe you have reached this in error.
      </p>
      {{error-toggle error=model}}
    {{/status-panel}}
  {{/if}}
</div>
